@model AdministrarSharepointViewModel


@*
Descripción
-----------------------------------------------
Vista donde se gestionan las configuraciones del servicio de Sharepoint en la plataforma.

Variables
----------------------------------------------------------------
*@
@{
    CommunityModel Comunidad = Html.GetComunidad();
    Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
}

    @* Migas de Pan *@
    <div class="col col-12 col-breadcrumb">
        <ul>
            <li>
                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARECOSISTEMAHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
            </li>
            <li>
                @Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARSHAREPOINT")
            </li>
        </ul>

        @* Botón de documentación *@
        <div class="col-breadcrumb__documentation" style="display: flex; align-items: center;">    
            <button type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" data-toggle="modal" data-target="#right_modal_lg">
                <span class="material-icons texto-primario documentation__icon" data-toggle="modal" data-target="#right_modal_lg" style="cursor:pointer">description</span>
                <span class="documentation__text" style="font-weight: 300;">Documentación</span>
            </button>
        </div>
    </div>

    @* Contenido Central *@
    <div class="formulario-edicion background-blanco">
        @* Título + Descripción de la sección según el tipo de comunidad *@
        <h2>@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARSHAREPOINT")</h2>
        <p>                
            @Html.GetText("DEVTOOLS","CONFIGURACIONDELSERVICIOSHAREPOINTENLAPLATAFORMAESTAFUNCION")
        </p>                       

        @* Sección Keys, identificadores *@
        <h3>@Html.GetText("DEVTOOLS","IDSDECONFIGURACIONDELSERVICIO")</h3>
        <p>                
            @Html.GetText("DEVTOOLS","PARAOBTENERLOSDATOSDECLIENTEID,DIRECTORIOINQUILINOYSECRETODE")            
        </p>               
        
        @* Keys, Identificadores *@
        <div class="form-group mb-3">
            <label class="control-label d-block">Id de aplicación</label>
            <input type="text" 
                   class="form-control"
                   id="clientID" 
                   value="@Model.ClientID"                   
                   placeholder="Id de la aplicación"/> 
             <input type="hidden" id="dominio" value="@Model.DominioBase" />
            <small class="form-text text-muted">@Html.GetText("DEVTOOLS","INTRODUCEELIDDELAAPLICACION")</small>
        </div>

        @* Id de directorio inquilino (TenantID) *@
        <div class="form-group mb-3">
            <label class="control-label d-block">@Html.GetText("DEVTOOLS","IDDEDIRECTORIOINQUILINO")</label>
            <input type="text" 
                   class="form-control" 
                   id="tenantID" 
                   value="@Model.TenantID"
                   placeholder="@Html.GetText("DEVTOOLS","INTRODUCEELIDDEDIRECTORIOINQUILINO")"/> 
            <small class="form-text text-muted">@Html.GetText("DEVTOOLS","TENANTID")</small>
        </div>

        @* Secreto de cliente (ClientSecret)*@
        <div class="form-group mb-5">
            <label class="control-label d-block">@Html.GetText("DEVTOOLS","SECRETODECLIENTE")</label>
            <input type="text" 
                   class="form-control" 
                   id="clientSecret" 
                   placeholder="" 
                   value="@Model.ClientSecret"/>            
            <small class="form-text text-muted">@Html.GetText("DEVTOOLS","INTRODUCEELSECRETODECLIENTE")</small>
        </div>
        
        @* Sección Keys, identificadores *@
        <h3>@Html.GetText("ADMINISTRACIONBASICA","URLSDEREDIRECCION")</h3>
        <p>                
            @Html.GetText("ADMINISTRACIONBASICA","ESTASURLSSONNECESARIASPARAQUELAAPLICACIONDEAZUREADFUNCIONECO")
        </p>  
        
        @* Login SharePoint *@
        <div class="form-group mb-3">
            <label class="control-label d-block">@Html.GetText("DEVTOOLS","LOGINDESHAREPOINT")</label>
            <input type="text"
                   disabled
                   class="form-control"
                   id="urlLoginSharepoint" 
                   value="@Model.UrlLoginSharepoint"                                    
                   /> 
            <small class="form-text text-muted">@Html.GetText("DEVTOOLS","URLDEREDIRECCIONALLOGINDESHAREPOINT")</small>
        </div>

        @* Id de directorio inquilino (TenantID) *@
        <div class="form-group mb-3">
            <label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","OBTENERTOKENSHAREPOINT")</label>
            <input type="text" 
                   class="form-control" 
                   disabled 
                   id="urlObtenerTokenSharepoint" 
                   value="@Model.UrlObtenerTokenSharepoint"/>             
            <small class="form-text text-muted">@Html.GetText("DEVTOOLS","URLDEREDIRECCIONPARAOBTENERUNTOKENDESHAREPOINT")</small>                   
        </div>

        @* Redirección de Sharepoint *@
        <div class="form-group mb-3">
            <label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","REDIRECCIONDESHAREPOINT")</label>
            <input type="text"
                   disabled
                   class="form-control" 
                   id="urlRedireccionSharepoint"                    
                   value="@Model.UrlRedireccionSharepoint"/> 
            <input type="hidden" value="@Model.UrlAdminConsent" id="urlAdminConsent" />
            <small class="form-text text-muted">@Html.GetText("DEVTOOLS","URLDEREDIRECCIONGENERAL")</small>
        </div>

        <div class="custom-control custom-checkbox mb-3">
		    <input type="checkbox" 
                   id="VincularOneDrive"
                   class="custom-control-input" 
                   @(Model.PermitirOneDrive ? "checked" : "")/>
            <label class="custom-control-label" for="VincularOneDrive">
                @Html.GetText("DEVTOOLS","PERMITIRVINCULARLOSDOCUMENTOSCONONEDRIVE")
            </label>
        </div>
        
        @* Alerta informativa *@
        <div role="alert" class="alert alert-primary mt-2 d-flex pb-3">            
            <span class="material-icons-outlined mr-3">info</span>
            <span class="text-center">@Html.GetText("DEVTOOLS","ANTESDEGUARDARDEBESSEGUIRLOSPASOSDELMANUALYREGISTRARUNAAPLIC")</span>
        </div>
        
        @* Descarga de configuración y concesión de permisos *@
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a id="linkSeeManual" href="@Comunidad.Url/@Html.GetText("URLSEM", "MANUALSHAREPOINT")">@Html.GetText("ADMINISTRACIONBASICA","VERMANUALDECONFIGURACIONDEAPLICACION")</a></li>
          <li class="list-group-item"><a id="linkRequestPermissions" href="javascripot: void(0);">@Html.GetText("ADMINISTRACIONBASICA","CONCEDERPERMISOSPORPARTEDEUNADMINISTRADOR")</a></li>          
        </ul>

                             
        @* Botón para guardado de datos *@
        <input id="btnSaveSharepoint" disabled type="button" class="btn btn-primary uppercase mt-4" value="@Html.GetText("COMADMINPESTANYAS", "GUARDARTODO")" />        
    </div>

    @* Modal de documentación de la sección *@
    @Html.PartialView("_modal-views/_documentation-section")

@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/comunidad.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {            
            operativaGestionIntegracionSharepoint.init();
        })();
    </script>
}