@model AdministrarPaginasCMSViewModel


@*
Descripción
-----------------------------------------------
Vista que muestra la página principal para editar o administrar una página CMS.

Variables
----------------------------------------------------------------
*@

@{
    CommunityModel Comunidad = Html.GetComunidad();
    HeaderModel cabecera = Html.GetCabecera();
    // Referencia al AdministrarPaginasCMSViewModel para saber los componentes a pintar
    ViewBag.AdministrarPaginasCMSViewModel = Model;
    // Layout a cargar para el editor de páginas CMS
    Layout = "~/Views/Shared/Layout/_Layout_CMS_Builder_Admin.cshtml";
    // Nº inicial de Filas del CMS
    int contPaginas = 1;   

    // Plantilla de Url para editar un componente desde CMS. Se utilizará y modificará en el fichero JS una vez se cree el componente 
    string urlEditComponentTemplate = Html.GetComunidad().Url + "/" + Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADCMSEDITARCOMPONENTE") + "/COMPONENT_KEY/load-modal";		
    // Plantilla de Url para guardar un componente desde CMS. Se utilizará y modificará en el fichero JS una vez se cree el componente 
    string urlSaveComponentTemplate = Html.GetComunidad().Url + "/" + Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADCMSEDITARCOMPONENTE") + "/COMPONENT_KEY/save";
    // Plantilla de Url para visualizar el historial de estructura de la pagina CMS
    string urlBasePageCMSHistory = Html.GetComunidad().Url + "/" + Html.GetText("URLSEM", "ADMINISTRARCMSPAGINAHISTORIAL");
    // Mostrar el wizard para selección de plantilla
    bool showTemplateWizard = Model.Rows.Count == 0 ? true : false; 

}

<div class="col col-12">
    <div id="panel-central-page-builder" class="panel-central">
        @* Página de bienvenida -> Elección de plantilla*@                
        @if (showTemplateWizard == true)
        {
            @Html.PartialView("_partial-views/_wizard-builder-cms", Model)            
        }            
        <input type="hidden" id="fechaModificacionPaginaCMS" value="@Model.FechaModificacion.ToString("yyyy/MM/dd HH:mm:ss")" />
        <div class="builder-editor @(showTemplateWizard == true ? "d-none" : "") ">
            @* Grid del  Nº de Columnas *@
            <div class="builder-grid">
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">1</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">2</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">3</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">4</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">5</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">6</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">7</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">8</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">9</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">10</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">11</span>
                    <span class="builder-grid-item-line"></span>
                </span>
                <span class="builder-grid-item">
                    <span class="builder-grid-item-number">12</span>
                    <span class="builder-grid-item-line"></span>
                </span>
            </div>
            @* Área donde estarán cargados Filas, Columnas y Componentes *@
            <ul id="cmsrow-list" class="js-cmsrows-list cmsrows-list no-list-style">                
                @{                    
                    @* Pintado de Filas *@
                    foreach (AdministrarPaginasCMSViewModel.RowCMSModel fila in Model.Rows)
                    {
                        // Atributos string a construir a partir de fila.Attributes para su edición vía Modal
                        string filaAtributosString = "";
                        // Obtener los atributos de la fila
                        string[] filaAtributosArray = fila.Attributes.Split("~~~").SkipLast(1).ToArray();

                        foreach (var atributos in filaAtributosArray)
                        {                            
                            // Obtener cada uno de los atributos
                            var attributosArray = atributos.Split("---");                                                       
                            // Obtener el Nombre y el Valor del atributo
                            filaAtributosString += $"{attributosArray[0]}|{attributosArray[1]},";                              
                        }
                        @* Fila *@
                        <li id="@fila.Key" class="cmsrow js-cmsrow" data-aux="@fila.Attributes" data-row-attributes="@(!string.IsNullOrEmpty(filaAtributosString) ? @filaAtributosString.Remove(filaAtributosString.Length - 1): null)">
                            <div class="cmsrow-wrap">
                                <div class="cmsrow-header">
                                    @* Nombre de la fila *@
                                    <div class="name">
                                        @Html.GetText("DEVTOOLS","FILA")
                                        <span class="number">@contPaginas</span>
                                        <span class="attributes-display">@(!string.IsNullOrEmpty(filaAtributosString) ? filaAtributosString.Remove(filaAtributosString.Length - 1): null)</span>
                                    </div>
                                    @* Acciones de la fila *@
                                    <div class="js-cmsrow-actions cmsrow-actions">
                                        <ul class="no-list-style">
                                            @* Copiar *@
                                            <li>
                                                <a class="action-clone round-icon-button js-action-clone btnCopyRow">
                                                    <span class="material-icons">content_copy</span>
                                                </a>
                                            </li>
                                            @* Editar *@
                                            <li>
                                                <a class="action-edit round-icon-button js-action-edit-row btnEditRow">
                                                    <span class="material-icons">edit</span>
                                                </a>
                                            </li>
                                            @* Borrar *@ 
                                            <li>
                                                <a class="action-delete round-icon-button js-action-delete btnDeleteRow">
                                                    <span class="material-icons">delete</span>
                                                </a>
                                            </li>
                                            @*Arrastrar *@ 
                                            <li>
                                                <a class="action-handle round-icon-button js-action-handle-row btnDragRow">
                                                    <span class="material-icons">drag_handle</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                @* Pintado de Columnas *@                               
                                @* Sección de columnas dentro de la fila *@
                                <div class="cmsrow-content">
                                    @* Columnas *@
                                    <ul class="columns-list no-list-style">
                                        @* Información de la Columna *@
                                        @foreach (AdministrarPaginasCMSViewModel.RowCMSModel.ColCMSModel columna in fila.Cols)
                                        {
                                            // Tupla con el tamaño de la columna (Double) y span correspondiente                                            
                                            Tuple<string, string> columnGridValueTuple = Html.GetValuesForGridColumnInCMSPage(@columna.Class);
                                            
                                            <li id="@columna.Key"
                                                class="cmscolumn js-cmscolumn"
                                                data-columnclass="@columna.Class"
                                                data-percent="@columnGridValueTuple.Item1"
                                                data-spanclass="@columnGridValueTuple.Item2"
                                                style="width: calc(@(columnGridValueTuple.Item1)% - 16px);">
                                                <div class="cmscolumn-wrap">
                                                    <div class="cmscolumn-header">
                                                        @*Acciones de la columna *@
                                                        <div class="cmscolumn-actions js-cmscolumn-actions">
                                                            <ul class="no-list-style">
                                                                <li>
                                                                    <a class="action-delete round-icon-button js-action-delete-column">
                                                                        <span class="material-icons">delete</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    @* Sección de componentes CMS dentro de la columna *@
                                                    <div class="cmscolumn-content">
                                                        @* Componentes *@
                                                        <ul class="components-list no-list-style">
                                                            @foreach (AdministrarPaginasCMSViewModel.RowCMSModel.ColCMSModel.ComponentCMSModel componente in columna.Components)
                                                            {     
                                                                
	                                                            @* Enlace para cargar modal y editar el componente *@
	                                                            string urlEditComponentItem = Html.GetComunidad().Url + "/" + Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADCMSEDITARCOMPONENTE") + "/"  + componente.Key + "/load-modal";		
	                                                            @* Enlace para guardar el componente editado *@
	                                                            string urlSaveComponent = Html.GetComunidad().Url + "/" + Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADCMSEDITARCOMPONENTE") + "/" + componente.Key + "/save";	                                                                

                                                                <li class="cmscomponent" id="@componente.Key" data-idcomponent="@componente.Key" draggable="false">
                                                                    <div class="cmscomponent-wrap">
                                                                        <div class="cmscomponent-header">
                                                                            @* Nombre del componente *@
                                                                            <div class="name">
                                                                                <span class="component-name">@componente.Name</span>
                                                                                <span class="type">@componente.Type</span>
                                                                                @* Identificador del componente *@
                                                                                <div class="cmscomponent-id-wrap">
                                                                                    <span class="cmscomponent-id">@componente.Key</span>
                                                                                    <span class="js-copy-component-id material-icons">content_copy</span>
                                                                                </div>
                                                                            </div>

                                                                            @*Acciones dentro del componente *@
                                                                            <div class="cmscomponent-actions js-cmscomponent-actions dropdown">
                                                                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <span class="material-icons">more_vert</span>
                                                                                </a>
                                                                                @* Listado de acciones de Editar componente *@
                                                                                <div class="dropdown-menu basic-dropdown dropdown-icons dropdown-menu-right">
                                                                                    <ul class="no-list-style">
                                                                                        @* Acción de Editar*@
                                                                                        @if ((ViewBag.VerComponenteCMSPermitido != null && ViewBag.VerComponenteCMSPermitido) || (ViewBag.ModificarComponenteCMSPermitido != null && ViewBag.ModificarComponenteCMSPermitido))
                                                                                        {
                                                                                            <li>
                                                                                                <a class="item-dropdown js-edit-component btnEditComponentFromCMSBuilder"
                                                                                                   data-target="#modal-container"
                                                                                                   data-urleditcomponent="@urlEditComponentItem"
                                                                                                   data-urlsave="@urlSaveComponent"
                                                                                                   data-toggle="modal">
                                                                                                    <span class="material-icons">create</span>
                                                                                                    <span class="texto">@Html.GetText("COMMON", "EDITAR")</span>
                                                                                                </a>
                                                                                            </li>
                                                                                        }                                                                                        
                                                                                        @* Acción de Eliminar componente*@
                                                                                        <li>
                                                                                            <a class="item-dropdown js-delete-component">
                                                                                                <span class="material-icons">delete</span>
                                                                                                <span class="texto">@Html.GetText("COMMON","ELIMINAR")</span>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        @* Selección activa del componente tipo Menú *@
                                                                        @if (componente.Type.Equals("Menu"))
                                                                        {                     
                                                                            <hr />
								                                            @* Opción activa del menú *@
								                                            <div class="form-group mt-4 mb-4 optionMenuActive">
									                                            <label class="control-label d-block">@Html.GetText("DEVTOOLS","SELECCIONAUNAOPCIONDELMENU")</label>
									                                            @* Select de privacidad de la página *@
									                                            <select name="tabOptionMenuActive"
                                                                                        data-idcomponente="@componente.Key" 
                                                                                        data-idbloque="@columna.Key"
                                                                                        data-idpropiedad="31"
											                                            class="propiedadComponente cmbOptionMenuActive js-select2"
											                                            tabindex="0"
											                                            aria-hidden="false">
                                                                                    @foreach (short option in componente.Options.Keys)
                                                                                    {
                                                                                        string texto = Html.ObtenerTextoDeIdioma(componente.Options[option].Key);
                                                                                        <option value="@option" @Html.Raw(componente.Options[option].Value ? "selected" : "")>@texto</option>
                                                                                    }                                                                                        
									                                            </select>
									                                            <small class="form-text text-muted">@Html.GetText("DEVTOOLS","SELECCIONARLAOPCIONDELMENUACTIVAPARALAPAGINA")</small>
								                                            </div>
                                                                             @*
                                                                            <select idpropiedad="31" idcomponente="@componente.Key" idbloque="@columna.Key" class="propiedadComponente">
                                                                                <option value="-">Selecciona una opción</option>

                                                                                @foreach (short option in componente.Options.Keys)
                                                                                {
                                                                                    string texto = Html.ObtenerTextoDeIdioma(componente.Options[option].Key);
                                                                                    <option value="@option" @Html.Raw(componente.Options[option].Value ? "selected" : "")>@texto</option>
                                                                                }
                                                                            </select>    
                                                                            *@
                                                                        }
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>                                     
                                        }                
                                    </ul>
                                </div>                                
                            </div>
                        </li>
                        contPaginas += 1;
                    }
                }           
            </ul>

            @* Botón para añadir una nueva Fila *@
            <div class="botonera mt-3">
                <a id="btnAddRow" href="javascript: void(0);" class="btn btn-primary btn-round uppercase">
                    <span class="material-icons">add</span>
                    Fila
                </a>
            </div>
        </div>
    </div>
</div>


@* Modal de pregunta por restauruación de página CMS *@
@Html.PartialView("_modal-views/_show-cms-backup-restore")
@* Input para trackear los elementos seleccionados en el historial*@
<input type="hidden" id="txtHackCheckSeleccionados" />
<div id="modal-comparar-estructura" class="modal modal-top fade modal-edicion"
     role="dialog"
     aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-comparar-versiones-estructura-content">
        </div>
    </div>
</div>
@Html.PartialView("_modal-views/_confirm-delete", Html.GetText("DEVTOOLS", "DESEAELIMINARVERSIONESTRUCTURAPAGINA"))


@* Carga de operativa *@
@section operativaScript{    
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/estructura.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/estructura_cms-builder.js?v=@Html.GetVersion()"></script>    
    
    <script type="text/javascript">
           
        (function ($) {

            // Url para guardar y editar un componente (Nuevo componente creado a través de modal)
            const pParams = {
                urlEditComponentTemplate: "@urlEditComponentTemplate",
                urlSaveComponentTemplate: "@urlSaveComponentTemplate",
                urlBasePageCMSHistory: "@urlBasePageCMSHistory",
                pageId: "@Model.Key",
            }  

            @* Operativa funcionamiento de CMS Builder de creación de páginas *@
            operativaGestionCMSBuilder.init(pParams);            
            @* Operativa funcionamiento de Componentes CMS *@
            operativaGestionComponentsCMS.init();
        })();
    </script>
}