@model AdministrarComunidadUtilidades

@*
Descripción
-----------------------------------------------
Vista que contendrá los niveles de certificación de la comunidad. Será contenido por la página index_NivelesCertificacion

Variables
----------------------------------------------------------------
*@
@{
    string idioma = Html.GetUtilIdiomas().LanguageCode;
}
@*
----------------------------------------------------------------
-------------------- Vista para mostrar los los niveles de certificación de la Comunidad --------------------
*@

@* Contenedor de las lista certificaciones *@
<ul id="id-added-certifications-list" class="js-added-certifications-list component-list no-list-style">                                                               
    @* Pintado de cada nivel de certificación *@
    @foreach (AdministrarComunidadUtilidades.NivelCertificacion nivelCertificacion in Model.NivelesCertificacion.OrderBy(nivel => nivel.Orden))
    {
        @* Pintado del certificado *@
        <li class="component-wrap certification-row @(nivelCertificacion.TieneDocsAsociados ? "docsAsociados" : "")" 
            data-id="@nivelCertificacion.CertificacionID" 
            data-nombre="@nivelCertificacion.Nombre"
            data-orden="@nivelCertificacion.Orden"
            data-docs="@nivelCertificacion.TieneDocsAsociados">
            <div class="component type-certification" data-component-type="certification">
                <div class="component-header-wrap">
                    <div class="component-header">
                        @* Icono para arrastrar certificado *@
                        <div class="component-sortable js-component-sortable-certification">
    	                    <span class="material-icons-outlined sortable-icon">drag_handle</span>
                        </div>
                        <div class="component-header-content">
    	                    <div class="component-header-left">
    		                    <div class="component-name-wrap">
    			                    <span class="component-icon"></span>
                                    <span class="component-name">@UtilCadenas.ObtenerTextoDeIdioma(nivelCertificacion.Nombre, idioma, null)</span>
    		                    </div>
    	                    </div>
    	                    <div class="component-header-right">
    		                    <div class="component-actions-wrap">
    			                    <ul class="no-list-style component-actions">
                                        @* Editar certificado *@
    				                    <li>
    					                    <a class="action-edit round-icon-button js-action-edit-component" style="cursor: pointer;">
    						                    <span class="material-icons">edit</span>
    					                    </a>
    				                    </li>
                                        @* Borrar certificado *@
    				                    <li>
    					                    <a class="action-delete round-icon-button js-action-delete" style="cursor: pointer;">
    						                    <span class="material-icons">delete</span>
    					                    </a>
    				                    </li>
    			                    </ul>
    		                    </div>
    	                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>       