@model ManageRedirectionsViewModel.RedirectionModel

@*
Descripción
-----------------------------------------------
Vista para mostrar la información detallada de una redirección.

Variables
----------------------------------------------------------------
*@

@{
	// Id para la llamada al modal para edición de la página
	string idModalRedirection = "modal-configuracion-redirection_" + Model.Key;
	string idModalRedirectionDelete = "modal-configuracion-redirection_delete" + Model.Key;
	// Propiedades para mostrar en la vista
	string urlOrigen = Model.OriginalUrl.Equals(string.Empty) ? @Html.GetText("COMADMINREDIRECCIONES", "REDIRECCIONNUEVA") : Model.OriginalUrl;
	string tipoDireccion = Model.RedirectionType == ManageRedirectionsViewModel.RedirectionType.Direct ? @Html.GetText("COMADMINREDIRECCIONES", "REDIRECCIONDIRECTA") : @Html.GetText("COMADMINREDIRECCIONES", "REDIRECCIONPARAMETRIZADA");
	string fechaCreacion = "";
	if (Model.FechaCreacion.Equals(DateTime.MinValue))
	{
		fechaCreacion = DateTime.Now.ToString("dd/MM/yyyy");
	}
	else
	{
		fechaCreacion = Model.FechaCreacion.ToString("dd/MM/yyyy");	
	}
}

@*
----------------------------------------------------------------
-------------------- Vista detallada de una redirección --------------------
*@

<li class="component-wrap redirection-row  @((Model.EsRecienteCreacion) ? "newRedirection modified" : null) " data-redirectionkey="@Model.Key" id="@Model.Key">
	<div class="component">
		<div class="component-header-wrap">
			<div class="component-header">
				@* No hace falta en Redirecciones 
					<div class="component-sortable js-component-sortable-redirection">
						<span class="material-icons-outlined sortable-icon">drag_handle</span>
					</div>
				*@
				@* Cabecera de información de redirecciones *@
				<div class="component-header-content">
					<div class="component-header-left">
						@* Tipo de redirección *@
						<div class="component-name-wrap">
							<span class="material-icons">public</span>
							<span class="component-name componentUrlOrigen">@urlOrigen</span>
						</div>
						@* Url *@
						<div class="component-url-wrap">
							<span class="component-url">@Model.DestinationUrl</span>
						</div>
						@* Redirección Directa / Indirecta *@
						<div class="component-tipo-wrap">
							<span class="component-tipo">@tipoDireccion</span>
						</div>
						@* Fecha de creación/actualización de la redirección *@
						<div class="component-fecha-wrap">
							<span class="component-fecha">@fechaCreacion</span>
						</div>
					</div>
					@* Sección de acciones *@
					<div class="component-header-right">
						<div class="component-actions-wrap">
							<ul class="no-list-style component-actions">
								<li>
									<a
										class="action-edit round-icon-button js-action-edit-component btnEditRedirection"
										data-toggle="modal"
										data-target="#@idModalRedirection">
										<span class="material-icons">edit</span>
									</a>
								</li>
								<li>
									<a
										class="action-delete round-icon-button js-action-delete btnDeleteRedirection"
										data-toggle="modal"
										data-target="#modal-container">
										<span class="material-icons">delete</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@* Información detallada de la redirección -> Modal *@
	@Html.PartialView("_modal-views/_redirection-details-item", Model)

</li>
