@model ManageRedirectionsViewModel

@*
Descripción
-----------------------------------------------
Vista para administrar las redirecciones creadas para la comunidad.

Variables
----------------------------------------------------------------
*@

@{
    CommunityModel Comunidad = Html.GetComunidad();
    Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	// Referencia al CMSAdminListadoComponentes para el botón de tipo de añadir un nuevo componente
	ViewBag.ManageRedirectionsViewModel = Model;
}

@*
----------------------------------------------------------------
-------------------- Vista para Administrar la información general de la comunidad --------------------
*@

@if (Comunidad.IntegracionContinuaActivada)
{
	<div class="alert alert-warning alert-dismissable">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span class="material-icons" alt="warning" title="warning" aria-label="warning">
			warning
		</span>
		<strong>@Html.GetText("DEVTOOLS", "NOGUARDAINTEGRACIONCONTINUA")</strong>
	</div>
}
    @* Migas de Pan *@
    <div class="col col-12 col-breadcrumb">
        <ul>
            <li>
                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
            </li>
            <li>
                <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/estructura">@Html.GetText("DEVTOOLS","ESTRUCTURA")</a>
            </li>
            <li>
                @Html.GetText("ADMINISTRACIONPAGINAS","REDIRECCIONES")
            </li>
        </ul>
    </div>

    @* Contenido Central *@
    <div class="formulario-edicion background-blanco">       		
		@* Contenedor del Título de la Sección + Buscador *@
		<div class="row">
			@* Título de la sección de páginas + Nº de páginas *@
			<div class="col col-12 header-listado">
				<div class="h1-container">
					<h1>@Html.GetText("COMADMINREDIRECCIONES", "TITULO")</h1>
				</div>
				@* Botón para crear item *@						
				<div class="acciones d-flex align-items-center">
					@Html.PartialView("../Shared/Layout/_partial-views/_layout-add-redirection-admin", Model)							
				</div>
			</div>

			@* Buscador de redirecciones *@
			<div class="col col-12 header-buscador">
				<div class="wrapCol">
					<div class="col-buscador" style="width: 100%">					
					@* Formulario para búsquedas de páginas *@
						<form id="formBuscadorPaginas" onsubmit="return false;">								
							<div class="finderUtils" id="divCajaBusqueda">
								<div class="group finderSection">
									@* Input para realizar la búsqueda de páginas *@
									<input
										type="text"
										id="txtBuscarRedireccion"
										class="not-outline finderSectionText"
										autocomplete="off"
										placeholder="@Html.GetText("DEVTOOLS","BUSCARENLASECCION")"
									/>
									@* Botón para realizar la búsqueda *@
									<input
										title="Buscar"
										type="button"
										class="findAction"
										id="inputLupa"
									/>
									@* Botón para Facetas de la búsqueda *@
									<a href="javascript: void(0);" class="btn-filtrar-movil">
										<span class="material-icons">filter_list</span>
										<span class="texto">@Html.GetText("DEVTOOLS","FILTRAR")</span>											
									</a>
								</div>
							</div>								
						</form>
					</div>
				</div>
			</div>

			@* Contenido o tabla con las redirecciones de la comunidad *@
			<div class="col col-12 col-contenido">
				<div class="wrapCol">
					@* Cabecera del listado de redirecciones *@
					<ul id="id-header-redirections-list" class="header-component-list component-list no-list-style">
						<li class="component-wrap">
							@* Cabecera de páginas *@
							<div class="component ">
								<div class="component-header-wrap">
									<div class="component-header">
										@* No hace falta en Redirecciones
										<div class="component-sortable js-component-sortable-page">
											<span class="material-icons-outlined sortable-icon">drag_handle</span>
										</div>
										*@
										@* Sección títulos de listado de páginas *@
										<div class="component-header-content">
											<div class="component-header-left">
												<div class="component-name-wrap">
													<span class="component-name">@Html.GetText("DEVTOOLS","URLDOMINIO")</span>
												</div>
												<div class="component-url-wrap">
													<span class="component-url">@Html.GetText("DEVTOOLS","URLDESTINO")</span>
												</div>
												<div class="component-tipo-wrap">
													<span class="component-tipo">@Html.GetText("ADMINISTRACIONBASICA","TIPO")</span>
												</div>
												<div class="component-estado-wrap">
													<span class="component-estado">@Html.GetText("ADMINISTRACIONSEMANTICA","FECHA")</span>
												</div>
											</div>
											<div class="component-header-right">
												<div class="component-actions-wrap">
													<span>@Html.GetText("ADMINISTRACIONBASICA","ACCIONES")</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>

					@* Contenido de redirecciones *@
					
					<ul id="id-added-redirections-list" 
						class="js-community-redirections-list component-list no-list-style">
		
						@* Pintado de cada redirección *@
						@foreach (ManageRedirectionsViewModel.RedirectionModel redireccion in Model.RedirectionsList.OrderBy(r => r.Key))
						{
							@Html.PartialView("_EdicionRedireccion", redireccion);
						}
					</ul>
					

					@* Botón para guardado de datos *@
					@* Controlar la integración contínua
					@if (Html.GetComunidad().IntContActivadaSinRamaEnUso || !Html.GetComunidad().UsuarioDadoAltaIntCont || Html.GetComunidad().EntornoBloqueado)
					{
						//<input type="button" style="background-color: gray;" disabled class="guardarTodo" value="@Html.GetText("COMADMINPESTANYAS", "GUARDARTODO")" />
						<input disabled id="btnGuardarPaginas" type="button" class="btn btn-outline-primary uppercase" value="@Html.GetText("COMADMINPESTANYAS", "GUARDARTODO")" /> 
					}
					else
					{
						//<input type="button" class="guardarTodo" value="@Html.GetText("COMADMINPESTANYAS", "GUARDARTODO")" />
						<input disabled id="btnGuardarPaginas" type="button" class="btn btn-primary uppercase" value="@Html.GetText("COMADMINPESTANYAS", "GUARDARTODO")" />        
					} 
					*@
				</div>
			</div>
		</div>        
    </div>



@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/estructura.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento de Información General
            operativaGestionRedirecciones.init();            
        })();
    </script>
}