@model Es.Riam.Gnoss.Web.MVC.Models.Administracion.AdministrarServiciosExternosViewModel

@*
Descripción
-----------------------------------------------
Vista para administrar/visualizar los servicios externos.

Variables
----------------------------------------------------------------
*@

@{
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	// Referencia al AdministrarServiciosExternosViewModel para el botón de tipo de pintado de tipo de páginas desde la cabecera
	ViewBag.AdministrarServiciosExternosViewModel = Model;
	// Control de poder guardar datos según el estado de CI/CD
	bool allowSaveData = true;
}

@*
----------------------------------------------------------------
-------------------- Vista para Administrar los servicios externos --------------------
*@
	@*Aviso de que esta configuración por el momento no se despliega con IC*@
	@if (Comunidad.IntegracionContinuaActivada)
	{
		<div class="alert alert-warning alert-dismissable">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span class="material-icons" alt="warning" title="warning" aria-label="warning">
			warning
		</span>
			<strong>@Html.GetText("DEVTOOLS", "NOGUARDAINTEGRACIONCONTINUA")</strong>
		</div>
	}

    @* Migas de Pan *@
    <div class="col col-12 col-breadcrumb">
        <ul>
            <li>
                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
            </li>
            <li>
                <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/estructura">@Html.GetText("DEVTOOLS","CONFIGURACION")</a>
            </li>
            <li>
                @Html.GetText("DEVTOOLS","ADMINISTRARSERVICIOSEXTERNOS")
            </li>
        </ul>
    </div>

    @* Contenido Central *@
    <div class="formulario-edicion background-blanco">  
		@* Input con el nombre del servicio asociado *@
		@*@if (Model.EstaConfigurado)
		{
			<input type="text" id="UrlBaseService" class="d-none" value="@Model.ServiceName" />	
		}*@
	
		@* Contenido de los diferentes servicios externos *@
		<div id="panelListadoServiciosExternos" 
			class="tab-pane fade show active" 
			role="tabpanel" 
			aria-labelledby="panelListadoServiciosExternos">

			@* Contenedor del Título de la Sección + Buscador *@
			<div class="row">
				@* Título de la sección de cláusulas + Nº de páginas *@
				<div class="col col-12 header-listado">
					<div class="h1-container">
						<h1>@Html.GetText("DEVTOOLS","ADMINISTRARSERVICIOSEXTERNOS")
							<span id="numServiciosExternos" class="numResultados"></span>
						</h1>
					</div>

					@* Botón para "Editar Url"" y "Crear servicio" *@						
					<div class="acciones d-flex align-items-center">
						@* Botón para configurar la Url del servicio *@
						<a id="btnEditComunityUrlService" href="javascript: void(0);" 
						   data-target="#modal-external-service-base"
						   data-toggle="modal"
						   class="btn btn-outline-primary mr-2">						   
						   <span class="material-icons">link</span>
						   <span class="texto">@Html.GetText("DEVTOOLS","URLDELSERVICIO")</span>
						</a>
						@* Botón para crear Url de servicio *@							
						@Html.PartialView("../Shared/Layout/_partial-views/_layout-add-external-service-admin", Model)						
					</div>
				</div>

				@* Buscador de servicios externos *@
				<div class="col col-12 header-buscador">
					<div class="wrapCol">
						<div class="col-buscador" style="width: 100%">					
						@* Formulario para búsquedas *@
							<form id="formBuscadorServiciosExternos" onsubmit="return false;">								
								<div class="finderUtils" id="divCajaBusqueda">
									<div class="group finderSection">
										@* Input para realizar la búsqueda *@
										<input
											type="text"
											id="txtBuscarServicioExterno"
											class="not-outline finderSectionText"
											autocomplete="off"
											placeholder="@Html.GetText("DEVTOOLS","BUSCARENLASECCION")"
										/>
										@* Botón para realizar la búsqueda *@
										<input
											title="Buscar"
											type="button"
											class="findAction"
											id="inputLupa"
										/>
										@* Botón para Facetas de la búsqueda *@
										<a href="javascript: void(0);" class="btn-filtrar-movil">
											<span class="material-icons">filter_list</span>
											<span class="texto">@Html.GetText("DEVTOOLS","FILTRAR")</span>											
										</a>
									</div>
								</div>									
							</form>
						</div>	
					</div>
				</div>				
				@* Listado de servicios externos *@										
				@Html.PartialView("_partial-views/_list-external-services", Model)					
			</div>
		</div>				
    </div>

	@* Modal para confirmar la eliminación *@										
	@Html.PartialView("_modal-views/_delete-external-service")	
	@* Modal para editar la url base *@
	@Html.PartialView("_modal-views/_config-service-detail", Model)	

@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/estructura.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
			// Permitir o no guardar datos
			const pParams =
			{
				allowSaveData: "@allowSaveData",
			}

            // Operativa funcionamiento de Páginas
            operativaGestionServiciosExternos.init(pParams);
        })();
    </script>
}
