@using Es.Riam.Gnoss.Web.MVC.Models.ConfiguracionOCVistas;
@*
    Descripción
    -----------------------------------------------
    Layout especial para la edición de las vistas de las fichas de edición y visualización de un recurso.

    Variables
    ----------------------------------------------------------------
*@
@{
    CommunityModel Comunidad = Html.GetComunidad();

    // Título de la página proporcionada desde el Controlador y Sección a la que pertenece
    string headerTitle = Html.GetHeaderTitle();
    string headerParentTitle = Html.GetHeaderParentTitle();

    VistasModel vistasModel = ViewBag.VistasModel;
    List<EntidadModel> entidades = vistasModel.Entidades;
}
@*
    ----------------------------------------------------------------
    -------------------- Vista Layout --------------------
*@
<!DOCTYPE html>

<html>
<head>
    @* Título *@
    <title>@Html.GetTituloPagina()</title>

    @* Carga de Metas *@
    @Html.PartialView("../Shared/Head/_Metas_Admin")
    @* Carga de CSS *@
    @Html.PartialView("../Shared/Head/_HojasDeEstilo_Admin")
    <link type="text/css" rel="stylesheet" href="@Html.GetBaseUrlStatic()/cssNuevo/XMLBuilderVistas.css" />
</head>
<body class="page-builder">
    @* Inputs ocultos para uso en diferentes páginas de adminsitración con info de la comunidad, proyecto... *@
    @Html.PartialView("../Shared/Layout/_partial-views/_layout-hidden-forms")

    @* Carga del modal de eliminación de entidades  *@
    @Html.PartialView("../Administracion/AdministrarPaginasCMS/_modal-views/_delete-component-from-cms-builder")

    @* Modal editar configuracion inicial *@
    <div id="modal-elementos-configuracion-general" class="modal modal-top fade modal-edicion" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">
                        <span class="material-icons">edit</span>
                        Editar elementos de la configuración general
                    </p>
                    <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="tabModalElementos" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posicion-menu" data-toggle="tab" href="#v-pills-menu" role="tab" aria-selected="false">Posición menú</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ocultar-secciones" data-toggle="tab" href="#v-pills-secciones" role="tab" aria-selected="false">Ocultar secciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ocultar-botones" data-toggle="tab" href="#v-pills-botones" role="tab" aria-selected="false">Ocultar botones</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="v-pills-menu">
                            <p class="font-weight-bold">Menú</p>
                            <input id="menu-abajo" type="checkbox"><label class="checkbox-label" for="menu-abajo">Mostrar el menú abajo</label>
                        </div>
                        <div class="tab-pane fade" id="v-pills-secciones">
                            <p class="font-weight-bold">Secciones</p>
                            <div class="ocultar-secciones">
                                <input id="ocultar-titulo-descp" type="checkbox"><label class="checkbox-label" for="ocultar-titulo-descp">Ocultar el título y descripción</label><br />
                                <input id="ocultar-fecha" type="checkbox"><label class="checkbox-label" for="ocultar-fecha">Ocultar fecha del recurso</label><br />
                                <input id="ocultar-autoria" type="checkbox"><label class="checkbox-label" for="ocultar-autoria">Ocultar autoría de edición</label><br />
                                <input id="ocultar-publicador" type="checkbox"><label class="checkbox-label" for="ocultar-publicador">Ocultar publicador</label><br />
                                <input id="ocultar-categorias" type="checkbox"><label class="checkbox-label" for="ocultar-categorias">Ocultar sección de categorías</label><br />
                                <input id="ocultar-etiquetas" type="checkbox"><label class="checkbox-label" for="ocultar-etiquetas">Ocultar etiquetas</label><br />
                                <input id="ocultar-editores" type="checkbox"><label class="checkbox-label" for="ocultar-editores">Ocultar editores del recurso</label><br />
                                <input id="ocultar-visitas" type="checkbox"><label class="checkbox-label" for="ocultar-visitas">Ocultar las visitas</label><br />
                                <input id="ocultar-votos" type="checkbox"><label class="checkbox-label" for="ocultar-votos">Ocultar los votos y control de votación</label><br />
                                <input id="ocultar-visitas-votos" type="checkbox"><label class="checkbox-label" for="ocultar-visitas-votos">Ocultar sección de visitas y votos</label><br />
                                <input id="ocultar-compartido" type="checkbox"><label class="checkbox-label" for="ocultar-compartido">Ocultar las comunidades en las que está compartido</label><br />
                                <input id="ocultar-compartido-en" type="checkbox"><label class="checkbox-label" for="ocultar-compartido-en">Ocultar sección de botones de compartir en otras redes sociales</label><br />
                                <input id="ocultar-licencia" type="checkbox"><label class="checkbox-label" for="ocultar-licencia">Ocultar la licencia del recurso</label><br />
                                <input id="ocultar-version" type="checkbox"><label class="checkbox-label" for="ocultar-version">Ocultar versión del recurso</label>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-botones">
                            <p class="font-weight-bold">Botones</p>
                            <div class="ocultar-botones">
                                <input id="ocultar-acciones" type="checkbox"><label class="checkbox-label" for="ocultar-acciones">Ocultar todos los botones de acciones sobre el recurso</label><br />
                                <input id="ocultar-boton-editar" type="checkbox"><label class="checkbox-label" for="ocultar-boton-editar">Ocultar el botón de editar documento</label><br />
                                <input id="ocultar-boton-crear-versiones" type="checkbox"><label class="checkbox-label" for="ocultar-boton-crear-versiones">Ocultar el botón de crear versiones</label><br />
                                <input id="ocultar-boton-enviar-enlace" type="checkbox"><label class="checkbox-label" for="ocultar-boton-enviar-enlace">Ocultar el botón de enviar enlace</label><br />
                                <input id="ocultar-boton-vincular" type="checkbox"><label class="checkbox-label" for="ocultar-boton-vincular">Ocultar el botón de vincular recurso</label><br />
                                <input id="ocultar-boton-eliminar" type="checkbox"><label class="checkbox-label" for="ocultar-boton-eliminar">Ocultar el botón de eliminar</label><br />
                                <input id="ocultar-boton-restaurar-version" type="checkbox"><label class="checkbox-label" for="ocultar-boton-restaurar-version">Ocultar el botón de restaurar versión</label><br />
                                <input id="ocultar-boton-agregar-categoria" type="checkbox"><label class="checkbox-label" for="ocultar-boton-agregar-categoria">Ocultar el botón de agregar categoría</label><br />
                                <input id="ocultar-boton-agregar-etiqueta" type="checkbox"><label class="checkbox-label" for="ocultar-boton-agregar-etiqueta">Ocultar el botón de agregar etiqueta</label><br />
                                <input id="ocultar-boton-historial" type="checkbox"><label class="checkbox-label" for="ocultar-boton-historial">Ocultar el botón de historial</label><br />
                                <input id="ocultar-boton-bloquear-comentarios" type="checkbox"><label class="checkbox-label" for="ocultar-boton-bloquear-comentarios">Ocultar el botón para bloquear comentarios</label><br />
                                <input id="ocultar-boton-certificar" type="checkbox"><label class="checkbox-label" for="ocultar-boton-certificar">Ocultar el botón de certificar el recurso</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal editar elementos entidades *@
    <div id="modal-editar-elementos-entidad" class="modal modal-top fade modal-edicion" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">
                        <span class="material-icons">edit</span>
                        Editar elementos de la entidad <span id="nombre-entidad-modal" class="titulo-modal"></span>
                    </p>
                    <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="tabModalElementos" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="representantes" data-toggle="tab" href="#v-pills-representantes" role="tab" aria-selected="false">Representantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="estructura-html" data-toggle="tab" href="#v-pills-estructura-html" role="tab" aria-selected="false">Estructura HTML</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="atrnombres" data-toggle="tab" href="#v-pills-atrnombres" role="tab" aria-selected="false">Títulos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="microdatos" data-toggle="tab" href="#v-pills-microdatos" role="tab" aria-selected="false">Microdatos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ordenentidades" data-toggle="tab" href="#v-pills-ordenentidades" role="tab" aria-selected="true">Orden</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="v-pills-representantes">
                            <p class="font-weight-bold">Presentación de la entidad</p>
                            <p class="descripcion-elemento">Cuando se agrega una entidad a una propiedad de tipo multivalor, se añade a una tabla el tipo de entidad agregada. Se puede configurar que aparezcan ciertos valores de propiedades de la entidad como representantes de la misma.</p>
                            <button class="btn btn-outline-primary new-formulario">
                                <span class="not-editing">Nuevo representante</span>
                            </button>
                            <div class="formulario-new-element">
                                <div class="close-formulario">
                                    <span class="material-icons">close</span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="control-label d-block">Nombre de la propiedad representante</label>
                                    <!--<input placeholder="Introduce el nombre de la propiedad" type="text" name="" id="representante-name-input" class="form-control not-outline">-->
                                    <select id="representante-name-input" class="form-control not-outline js-select2" data-select-search="true"></select>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="control-label d-block">Tipo de representación</label>
                                    <!--<input placeholder="Selecciona el tipo" type="text" name="" id="representante-tipo-input" class="form-control not-outline">-->
                                    <select id="representante-tipo-input" class="form-control not-outline js-select2">
                                        <option value="0">Muestra el valor de la propiedad + el ID de la entidad</option>
                                        <option value="1">Muestra el ID de la entidad</option>
                                        <option value="2">Muestra el valor de la propiedad</option>
                                        <option value="3">Muestra un número de caracteres específico del valor de la propiedad</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3 d-none">
                                    <label class="control-label d-block">Número de caracteres del valor de la propiedad</label>
                                    <input placeholder="Introduce el número de caracteres" type="number" id="numcaracteres-input" min="0" class="form-control not-outline">
                                </div>
                                <div class="botonera">
                                    <button id="add-representante" class="btn btn-outline-primary">Guardar representante</button>
                                </div>
                            </div>
                            <div id="row-representantes-table">
                                <table class="display nowrap table table-sm">
                                    <thead>
                                        <tr>
                                            <th class="th-representante">Representante</th>
                                            <th class="th-tipo">Tipo</th>
                                            <th class="th-numcaracteres">Número de caracteres</th>
                                            <th class="th-acciones"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-estructura-html">
                            <div class="estructura-titulos">
                                <p class="font-weight-bold">Estructura de los títulos</p>
                                <div class="form-group mb-3">
                                    <label class="control-label d-block">Especifica la etiqueta HTML del título de la entidad en el formulario de edición</label>
                                    <input id="html-tag-edicion" placeholder="Introduce la etiqueta" type="text" class="form-control not-outline">
                                    <button id="add-tag-edicion" class="btn btn-outline-primary add-element">Guardar etiqueta</button>
                                </div>
                                <div id="html-tag-edicion-value" class="valoractual tagnameedicion"></div>
                            
                                <div class="form-group mb-3">
                                    <label class="control-label d-block">Especifica la etiqueta HTML del título de la entidad en la ficha del recurso</label>
                                    <input id="html-tag-lectura" placeholder="Introduce la etiqueta" type="text" class="form-control not-outline">
                                    <button id="add-tag-lectura" class="btn btn-outline-primary add-element">Guardar etiqueta</button>
                                </div>
                                <div id="html-tag-lectura-value" class="valoractual tagnamelectura"></div>

                                <div class="form-group mb-3">
                                    <label class="control-label d-block">Especifica la clase CSS del título de la entidad</label>
                                    <input id="css-titulo-input" placeholder="Introduce el nombre de la clase" type="text" class="form-control not-outline">
                                    <button id="add-css-titulo" class="btn btn-outline-primary add-element">Guardar clase</button>
                                </div>
                                <div id="css-titulo-value" class="valoractual csstitulo"></div>
                            </div>
                            
                            <hr />

                            <div class="estructura-panel">
                                <p class="font-weight-bold">Estilos del panel de propiedades</p>
                                <div class="form-group mb-3">
                                    <label class="control-label d-block">Especifica la clase CSS que tendrá el panel que contiene todas las propiedades</label>
                                    <input id="css-panel-input" placeholder="Introduce el nombre de la clase" type="text" class="form-control not-outline">
                                    <button id="add-css-panel" class="btn btn-outline-primary add-element">Guardar clase</button>
                                </div>
                                <div id="css-panel-value" class="valoractual csspanel"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-atrnombres">
                            <p class="font-weight-bold">Títulos en la ficha de edición</p>
                            <p class="descripcion-elemento">Valor que tomará el título de esta entidad en la ficha de edición. Se puede configurar uno por cada idioma de la ontología.</p>
                            <div id="formulario-titulo-edicion">
                                <button class="btn btn-outline-primary new-formulario">
                                    <span class="not-editing">Nuevo título</span>
                                </button>
                                <div class="formulario-new-element">
                                    <div class="close-formulario">
                                        <span class="material-icons">close</span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label d-block">Introduce el título de la entidad en la ficha de edición</label>
                                        <input id="atrnombre-value" placeholder="Introduce el título" type="text" class="form-control not-outline">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label d-block">Selecciona el idioma en el que está el título</label>
                                        <!--<input placeholder="Selecciona el idioma" type="text" class="form-control not-outline">-->
                                        <select id="atrnombre-lang-input" class="form-control not-outline js-select2">
                                        @foreach(string idioma in vistasModel.IdiomasDisponibles)
                                        {
                                            <option>@idioma</option>                                                
                                        }
                                        </select>
                                    </div>
                                    <div class="botonera">
                                        <button id="add-atrnombre" class="btn btn-outline-primary">Guardar título</button>
                                    </div>
                                </div>
                            </div>
                            <div id="row-atrnombre-table">
                                <table class="display nowrap table table-sm">
                                    <thead>
                                        <tr>
                                            <th class="th-titulo">Título</th>
                                            <th class="th-lang">Idioma</th>
                                            <th class="th-acciones"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <p class="font-weight-bold">Títulos en la ficha de visualización</p>
                            <p class="descripcion-elemento">Valor que tomará el título de esta entidad en la ficha de visualización. Se puede configurar uno por cada idioma de la ontología.</p>
                            <div id="formulario-titulo-visualizacion">
                                <button class="btn btn-outline-primary new-formulario">
                                    <span class="not-editing">Nuevo título</span>
                                </button>
                                <div class="formulario-new-element">
                                    <div class="close-formulario">
                                        <span class="material-icons">close</span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label d-block">Introduce el título de la entidad en la ficha de visualización</label>
                                        <input id="atrnombrelectura-value" placeholder="Introduce el título" type="text" class="form-control not-outline">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label d-block">Selecciona el idioma en el que está el título</label>
                                        <!--<input placeholder="Selecciona el idioma" type="text" class="form-control not-outline">-->
                                        <select id="atrnombrelectura-lang-input" class="form-control not-outline js-select2">
                                        @foreach (string idioma in vistasModel.IdiomasDisponibles)
                                        {
                                            <option>@idioma</option>
                                        }
                                        </select>
                                    </div>
                                    <div class="botonera">
                                        <button id="add-atrnombrelectura" class="btn btn-outline-primary">Guardar título</button>
                                    </div>
                                </div>
                            </div>
                            <div id="row-atrnombrelectura-table">
                                <table class="display nowrap table table-sm">
                                    <thead>
                                        <tr>
                                            <th class="th-titulo">Título</th>
                                            <th class="th-lang">Idioma</th>
                                            <th class ="th-acciones"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-microdatos">
                            <p class="font-weight-bold">Microdatos</p>
                            <div class="form-group mb-3">
                                <label class="control-label d-block">URL de los microdatos que hace referencia a la entidad</label>
                                <input id="microdatos-input" placeholder="Introduce la URL" type="text" class="form-control not-outline">
                                <small class="form-text text-muted textHelpAttributes">
                                    <span>Por ejemplo: http://schema.org/CreativeWork</span>
                                </small>
                                <button id="add-microdatos" class="btn btn-outline-primary add-element">Guardar microdatos</button>
                            </div>
                            <div id="microdatos-value" class="valoractual microdatos"></div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-ordenentidades">
                            <p class="font-weight-bold">Campo de ordenación</p>
                            <p class="descripcion-elemento">Es la propiedad respecto a la cual se van a ordenar las entidades.</p>
                            <div class="form-group mb-3">
                                <label class="control-label d-block">Indica la propiedad</label>
                                <!--<input placeholder="Selecciona la propiedad" type="text" class="form-control not-outline">-->
                                <select id="campo-orden-input" class="form-control not-outline js-select2"></select>
                                <button id="add-campo-orden" class="btn btn-outline-primary add-element">Guardar campo</button>
                            </div>
                            <div id="campo-orden-value" class="valoractual campoorden"></div>

                            <p class="font-weight-bold">Campo con representanción de orden</p>
                            <p class="descripcion-elemento">A la propiedad especificada, se le añadirá como prefijo el valor del campo de ordenación.</p>
                            <div class="form-group mb-3">
                                <label class="control-label d-block">Indica la propiedad</label>
                                <!--<input placeholder="Selecciona la propiedad" type="text" class="form-control not-outline">-->
                                <select id="representante-orden-input" class="form-control not-outline js-select2"></select>
                                <button id="add-representante-orden" class="btn btn-outline-primary add-element">Guardar campo</button>
                            </div>
                            <div id="representante-orden-value" class="valoractual camporepresentanteorden"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal editar propiedades *@
    <div id="modal-editar-atributos-propiedad" class="modal modal-top fade modal-edicion" style="display: none;" aria-hidden="true" data-propertyid="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">
                        <span class="material-icons">edit</span>
                        Editar presentación de la propiedad <span id="nombre-propiedad-modal" class="titulo-modal"></span>
                    </p>
                    <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
                </div>
                <div class="modal-body">
                    <div class="formulario-edicion">
                        <p class="font-weight-bold">Atributos</p>
                        <div class="btn btn-outline-primary new-formulario">
                            <span class="not-editing">Nuevo atributo</span>
                        </div>
                        <div class="formulario-new-element">
                            <div class="close-formulario">
                                <span class="material-icons">close</span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label d-block">Nuevo atributo</label>
                                <!-- <input placeholder="Introduce el nombre del atributo" type="text" name="" id="attribute-name-input" class="form-control not-outline"> -->
                                <select id="attribute-name-input" class="form-control not-outline js-select2">
                                    <option value="PropDeEntHija">Propiedad de una entidad hija</option>
                                    <option value="SoloPrimerValor">Mostrar solo primer valor</option>
                                    <option value="SinTitulo">Sin título</option>
                                    <option value="Tipo">Tipo</option>
                                    <option value="link">Link</option>
                                    <option value="target">Target</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label d-block">Valor del atributo</label>
                                <input placeholder="Valor del atributo" type="text" id="attribute-value-input" class="form-control not-outline">
                                <small class="form-text text-muted textHelpAttributes textHelpPropDeEntHija">
                                    <span>Especifica que la propiedad no pertenece a la entidad a la que se está dando orden, si no a una de sus hijas. El valor del atributo será el tipo de la entidad hija a la que pertenece la propiedad.</span>
                                </small>

                                <small class="form-text text-muted textHelpAttributes textHelpSoloPrimerValor d-none">
                                    <span>Si la propiedad posee este atributo, aunque tenga varios valores, solo se mostrará el primero.</span>
                                </small>

                                <small class="form-text text-muted textHelpAttributes textHelpSinTitulo d-none">
                                    <span>Con este atributo la propiedad se pintará sin título aunque tenga configurado uno.</span>
                                </small>

                                <small class="form-text text-muted textHelpAttributes textHelplink d-none">
                                    <span>El valor de la propiedad se mostrará como un link a una dirección concreta.</span>
                                    <ul>
                                        <li>Si el valor no empieza ni por "#" ni por "&#64", el enlace apuntará al valor del atributo.</li>
                                        <li>Si el valor empieza por "#", se indica que el enlace debe dirigir a la búsqueda de recurso filtrando por la faceta que se indica en el atributo y el valor de la propiedad.</li>
                                        <li>Si el valor empieza por "&#64", se indica que el enlace debe dirigir a una URL especificada en el valor de otra propiedad del formulario cuyo nombre se indica como valor del atributo.</li>
                                    </ul>
                                </small>

                                <small class="form-text text-muted textHelpAttributes textHelptarget d-none">
                                    <span>En caso de incluir el atributo "link", mediante este atributo se puede escoger el valor del atributo HTML "target". En caso de no tener, por defecto es una pestaña nueva.</span>
                                </small>
                            </div>
                            <div class="botonera">
                                <a id="add-attribute" class="btn btn-outline-primary">Guardar atributo</a>
                            </div>
                        </div>
                        <div id="row-attributes-table">
                            <table class="display nowrap table table-sm">
                                <thead>
                                    <tr>
                                        <th class="th-nombre">Atributo</th>
                                        <th class="th-valor">Valor</th>
                                        <th class="th-acciones"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Header superior *@
    <header id="header" class="background-primario texto-blanco">
        <div class="container-fluid">
            <div class="row upper-row">
                <div class="col col01">
                    <div class="menu-logo-wrapper">
                        @* Disparador para mostrar el menú lateral para móviles/tablets *@
                        <span id="panel-lateral-trigger" class="material-icons">menu</span>

                        <div class="logo-wrapper">
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")" class="texto-blanco">
                                Semantic Web Tools
                            </a>
                        </div>
                    </div>
                </div>
                @* Título de la página *@
                <div class="col col02">
                    <div class="page-name-wrapper">
                        @if (string.IsNullOrEmpty(headerParentTitle))
                        {
                            <span class="page-name">
                                @Comunidad.Name
                            </span>
                        }
                        else
                        {
                            <span class="page-name">
                                @headerParentTitle
                            </span>
                            @if (!string.IsNullOrEmpty(headerTitle))
                            {
                                <span class="page-children-name">@headerTitle</span>
                            }
                        }
                    </div>
                </div>
                @* Columna de acciones dependiendo de la página *@
                <div class="col col03">
                    @* Botón para Guardar y Opciones *@
                    <div id="dropDownActionsCMSBuilder" class="dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-grey"
                           data-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <span class="material-icons">edit</span>
                            <span class="texto">Acciones</span>
                        </a>
                        @* Panel dropdown con las acciones disponibles *@
                        <div class="dropdown-menu dropdown-menu-left basic-dropdown">
                            <ul class="no-list-style">
                                @* Descargar XML *@
                                <li>
                                    <a id="downloadXML"
                                       class="item-dropdown js-action-edit-component btnDownloadXMLPage downloadButton"
                                       href="@Html.GetComunidad().Url/download-file?tipo=Ontologia&proy=@Html.GetComunidad().Key&doc=@vistasModel.OntologiaID&nombre=@(vistasModel.NombreOC).xml&ext=.xml&ID=@Html.GetIdentidadActual().KeyIdentity"
                                       data-action="descarga">
                                        <span class="material-icons">download</span>
                                        <span class="texto">Descargar XML</span>
                                    </a>
                                </li>

                                @* Guardar *@
                                <li>
                                    <a id="saveXML"
                                       href="javascript: void(0)"
                                       class="item-dropdown js-action-edit-component btnSaveDraftXMLPage saveButton"
                                       data-action="guardado">
                                        <span class="material-icons">save</span>
                                        <span class="texto">Guardar</span>
                                    </a>
                                </li>

                                @* Opciones de edición *@
                                <li>
                                    <a id="elementos-configuracion-general"
                                       href="javascript: void(0)"
                                       data-toggle="modal"
                                       data-target="#modal-elementos-configuracion-general"
                                       class="item-dropdown js-action-edit-component">
                                        <span class="material-icons">settings</span>
                                        <span class="texto">Configuración general</span>
                                    </a>
                                </li>

                                @* Volver a objetos de conocimiento *@
                                <li>
                                    <a id="volver-oc"
                                       href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRAROBJETOSCONOCIMIENTOCOM")"
                                       class="item-dropdown">
                                        <span class="material-icons">arrow_back</span>
                                        <span class="texto">Volver a objetos de conocimiento</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @* Contenido -> Navegación lateral + Renderización de página *@
    <main class="devtools" role="main" style=" @(Comunidad.IntegracionContinuaActivada ? "padding: 0;" : "")">
        <div class="container-fluid">
            <div class="row-content">
                <div class="row">
                    @* Sección central con panel lateral *@
                    <div class="col col-12 con-panel-lateral">
                        @* Panel lateral de Diseño y Componentes de página CMS *@
                        @Html.PartialView("../Shared/Layout/_partial-views/_layout-left-xml-builder-panel-admin", vistasModel)

                        @* Contenido central -> Renderización páginas de Administración *@
                        <div class="wrapCol container">
                            @RenderBody()

                            @* Pie de las páginas de Administración *@
                            @Html.PartialView("../Shared/_pie/_Pie")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @* Carga de JS *@
    @Html.PartialView("../Shared/Head/_FicherosJavascript_Admin")
    @* Carga de JS con Render para operativas de DevTools *@
    @RenderSection("operativaScript", required: false)
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/estructura_xml_builder.js"></script>
    <script type="text/javascript">

        (function ($) {

            let parametrosGenerales = {
                configuracionGeneral: [
                    @foreach(string s in vistasModel.ConfiguracionGeneral)
                    {
                        <text>"@s",</text>
                    }
                ],
                entidades:
                {
                    @foreach (EntidadModel v in vistasModel.Entidades)
                    {
                        <text>
                            "@v.ID":
                            {
                                @{ 
                                    List<PropiedadModel> propiedadesVisualizacion = v.PropiedadesOrdenEntidadLectura;
                                    if (propiedadesVisualizacion != null && propiedadesVisualizacion.Count != 0)
                                    {
                                        <text>
                                            propiedadesVisualizacion:
                                            {
                                                @foreach (PropiedadModel p in propiedadesVisualizacion)
                                                {
                                                    <text>
                                                        "@p.ID":
                                                        {
                                                            @foreach (KeyValuePair<string, string> entry in p.Atributos)
                                                            {
                                                                <text>
                                                                    @entry.Key: "@entry.Value",
                                                                </text>
                                                            }
                                                        },
                                                    </text>
                                                }
                                            },
                                        </text>
                                    }

                                    List<Representante> representantes = v.Representantes;
                                    if (representantes !=null && representantes.Count != 0)
                                    {
                                        <text>
                                            representantes: 
                                            {
                                                @foreach (Representante r in representantes)
                                                {
                                                    <text>
                                                        "@r.Valor":
                                                        {
                                                            tipo: "@r.Tipo",
                                                            numCaracteres: "@r.NumCaracteres"
                                                        },
                                                    </text>
                                                }
                                            },
                                        </text>
                                    }

                                    if (v.ClaseCssPanel != null)
                                    {
                                        <text>
                                            clasecsspanel: "@v.ClaseCssPanel",
                                        </text>
                                    }

                                    if (v.ClaseCssTitulo != null)
                                    {
                                        <text>
                                            clasecsstitulo: "@v.ClaseCssTitulo",
                                        </text>
                                    }

                                    if (v.TagNameTituloEdicion != null)
                                    {
                                        <text>
                                            tagnametituloedicion: "@v.TagNameTituloEdicion",
                                        </text>
                                    }

                                    if (v.TagNameTituloLectura != null)
                                    {
                                        <text>
                                            tagnametitulolectura: "@v.TagNameTituloLectura",
                                        </text>
                                    }

                                    List<Es.Riam.Gnoss.Web.MVC.Models.ConfiguracionOCVistas.AtrNombre> atrNombres = v.AtrNombres;
                                    if (atrNombres != null && atrNombres.Count != 0)
                                    {
                                        <text>
                                            atrnombres:
                                            {
                                                @foreach (Es.Riam.Gnoss.Web.MVC.Models.ConfiguracionOCVistas.AtrNombre titulo in atrNombres)
                                                {
                                                    if (titulo.Lang == null)
                                                    {
                                                        titulo.Lang = "es";
                                                    }
                                                    <text>
                                                        "@titulo.Lang": "@titulo.Text",
                                                    </text>
                                                }
                                            },
                                        </text>
                                    }

                                    List<Es.Riam.Gnoss.Web.MVC.Models.ConfiguracionOCVistas.AtrNombreLectura> atrNombreLecturas = v.AtrNombreLecturas;
                                    if (atrNombreLecturas != null && atrNombreLecturas.Count != 0)
                                    {
                                        <text>
                                            atrnombrelecturas:
                                            {
                                                @foreach (Es.Riam.Gnoss.Web.MVC.Models.ConfiguracionOCVistas.AtrNombreLectura titulo in atrNombreLecturas)
                                                {
                                                    if (titulo.Lang == null)
                                                    {
                                                        titulo.Lang = "es";
                                                    }
                                                    <text>
                                                            "@titulo.Lang": "@titulo.Text",
                                                    </text>
                                                }
                                            },
                                        </text>
                                    }

                                    if (v.Microdatos != null)
                                    {
                                        <text>
                                                microdatos: "@v.Microdatos",
                                        </text>
                                    }

                                    if (v.CampoOrden != null)
                                    {
                                        <text>
                                                campoorden: "@v.CampoOrden",
                                        </text>
                                    }

                                    if (v.CampoRepresentanteOrden != null)
                                    {
                                        <text>
                                                camporepresentanteorden: "@v.CampoRepresentanteOrden",
                                        </text>
                                    }
                                }
                            },
                        </text>
                    }
                }
            }
        

            operativaGestionXMLBuilder.init(parametrosGenerales);
            //operativaGestionComponentsCMS.init();
        })();
    </script>
</body>
</html>
