@model AdministrarContextosViewModel


@*
Descripción
-----------------------------------------------
Vista para administrar/visualizar las páginas existentes en la comunidad.

Variables
----------------------------------------------------------------
*@

@{
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	// Carga de idiomas de la plataforma
	string idiomas = "";
	// Contador del nº de pestañas listadas
	int contNumPestañasVisibles = 0;
	// Nº de pestañas de idiomas a visualizar en la sección Tab
	int numMaxPestañasIdiomasVisibles = 2;
	// Referencia al AdministrarContextosViewModel para el botón de tipo de pintado de tipo de páginas desde la cabecera
	ViewBag.AdministrarContextosViewModel = Model;	
}


@{
    @* Carga de idiomas *@
    foreach (string idiomaKey in Model.ListaIdiomas.Keys)
    {
        idiomas += idiomaKey + "|" + Model.ListaIdiomas[idiomaKey] + "&&&";
    }     
}

@*
----------------------------------------------------------------
-------------------- Vista para Administrar la información general de la comunidad --------------------
*@

<input type="hidden" id="idiomasComunidad" value="@idiomas" />
<input type="hidden" value="@Model.IdiomaPorDefecto" id="idiomaDefecto"/>



@* Migas de Pan *@
<div class="col col-12 col-breadcrumb">
    <ul>
        <li>
            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
        </li>
        <li>
            <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/descubrimiento-analisis">@Html.GetText("DEVTOOLS","DESCUBRIMIENTOYANALISIS")</a>
        </li>
        <li>
            @Html.GetText("DEVTOOLS","INFORMACIONCONTEXTUAL")
        </li>
    </ul>
</div>

@* Contenido Central *@
<div class="formulario-edicion background-blanco">       
	@* Panel de idiomas *@	
	<ul class="nav nav-tabs @( (cabecera.Languajes.Count > 1) ? "" : "d-none")" id="tabIdiomasPaginas" role="tablist">
		@* Títulos de Tabs con los diferentes idiomas a visualizar de categorías. De momento ignoro el dropdown *@
			@foreach (KeyValuePair<string, string> idioma in cabecera.Languajes){
				if (contNumPestañasVisibles < numMaxPestañasIdiomasVisibles) {
					<li class="nav-item" role="presentation">
						<a  class="tabIdiomaItem nav-link @( Model.IdiomaPorDefecto == idioma.Key ? "active" : null)" 
							id="@("ver_paginas_" + idioma.Key)" data-toggle="tab" href="#@("litVer" + idioma.Key)" 
							data-language = "@idioma.Key"
							role="tab"
							aria-selected="@(contNumPestañasVisibles == 0 ? "true" : "false")">@Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", idioma.Value)</a>
					</li>
					contNumPestañasVisibles += 1;
				}				
			}
			@* Controlar si es necesario mostrar el resto de categorías en un DropDown *@
			@if (contNumPestañasVisibles < cabecera.Languajes.Count){
				@* Dropdown para resto de categorías *@
				<li class="nav-item">
					<div class="dropdown">
						@* Desplegable del dropdown *@
						<a
							class="nav-link dropdown-toggle"
							data-toggle="dropdown"
							href="#"
							role="button"
							aria-haspopup="true"
							aria-expanded="false"
							>@Html.GetText("DEVTOOLS","OTROSIDIOMAS")</a>
						@* Sección para mostrar items del dropdown*@
						<div class="dropdown-menu dropdown-menu-left basic-dropdown dropdown-idiomas">
							<ul class="no-list-style">
								@* Pintado del resto de pestañas en Dropdown *@									
								@for (int i = contNumPestañasVisibles; i< cabecera.Languajes.Count; i++) {
									var item = cabecera.Languajes.ElementAt(i);
									var itemKey = item.Key;
									var itemValue = item.Value;

									@* Cada item del dropdown *@
									<li>
										<a id="@("ver_paginas_" + itemKey)" 
										   class="item-dropdown tabIdiomaItem @( Model.IdiomaPorDefecto == itemKey ? "active" : null)"
										   data-toggle="tab"
										   href="#@("litVer" + itemKey)"
										   data-language = "@itemKey">
										   @Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", itemValue)</a>
									</li>
								}
							</ul>
						</div>
					</div>
				</li>
			}
	</ul>

	@* Contenedor global *@
	<div class="tab-content">	
		@* Contenido de las diferentes contextos *@
		<div id="panelListadoContextos" 
			class="tab-pane fade show active" 
			role="tabpanel" 
			aria-labelledby="panelListadoContextos">

			@* Contenedor del Título de la Sección + Buscador *@
			<div class="row">
				@* Título de la sección de páginas + Nº de items *@
				<div class="col col-12 header-listado">
					<div class="h1-container">
						<h1>@Html.GetText("DEVTOOLS","INFORMACIONCONTEXTUAL")
							<span id="numContextos" class="numResultados"></span>
						</h1>
					</div>
					@* Botón para crear item *@						
					<div class="acciones d-flex align-items-center">
						@Html.PartialView("../Shared/Layout/_partial-views/_layout-add-contexto", Model)							
					</div>
				</div>

				@* Buscador *@
				<div class="col col-12 header-buscador">
					<div class="wrapCol">
						<div class="col-buscador" style="width: 100%">					
						@* Formulario para búsquedas de páginas *@
							<form id="formBuscadorContextos" onsubmit="return false;">								
								<div class="finderUtils" id="divCajaBusqueda">
									<div class="group finderSection">
										@* Input para realizar la búsqueda *@
										<input
											type="text"
											id="txtBuscarContexto"
											class="not-outline finderSectionText"
											autocomplete="off"
											placeholder="@Html.GetText("DEVTOOLS","BUSCARENLASECCION")"
										/>
										@* Botón para realizar la búsqueda *@
										<input
											title="Buscar"
											type="button"
											class="findAction"
											id="inputLupa"
										/>
										@* Botón para Contextos de la búsqueda *@
										<a href="javascript: void(0);" class="btn-filtrar-movil">
											<span class="material-icons">filter_list</span>
											<span class="texto">@Html.GetText("DEVTOOLS","FILTRAR")</span>											
										</a>
									</div>
								</div>								
							</form>
						</div>
					</div>
				</div>
				@* Contenido o tabla con los contextos de la comunidad *@
				<div class="col col-12 col-contenido">
					<div class="wrapCol">
						@* Cabecera del listado de contextos *@
						<ul id="id-header-contextos-list" class="header-component-list component-list no-list-style">
							<li class="component-wrap">
								@* Cabecera de contextos *@
								<div class="component ">
									<div class="component-header-wrap">
										<div class="component-header">
											<div class="component-sortable js-component-sortable-contexto">
												<span class="material-icons-outlined sortable-icon">drag_handle</span>
											</div>
											@* Sección títulos de listado de contextos *@
											<div class="component-header-content">
												<div class="component-header-left">
													<div class="component-name-wrap">
														<span class="component-name">@Html.GetText("ADMINISTRACIONBASICA","NOMBRE")</span>
													</div>
													<div class="component-tipo-wrap">
														<span class="component-tipo">@Html.GetText("ADMINISTRACIONBASICA","TIPO")</span>
													</div>														
													<div class="component-fecha-wrap">
														<span class="component-fecha">@Html.GetText("ADMINISTRACIONSEMANTICA","FECHA")</span>
													</div>														
												</div>
												<div class="component-header-right">
													<div class="component-actions-wrap">
														<span>@Html.GetText("ADMINISTRACIONBASICA","ACCIONES")</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>

						@* Contenido de contextos *@
						<ul id="id-added-contexto-list" 
							class="js-community-contexto-list component-list no-list-style">
			
							@* Pintado de cada contexto *@
							@foreach (ContextoModel gadget in Model.ListaGadgets.OrderBy(gadget => gadget.Orden))
							{
								@Html.PartialView("_EdicionContexto", gadget);								
							}

						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>        
</div>

@* Modal para eliminación de un contexto *@
@Html.PartialView("_modal-views/_delete-contexto")




@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/descubrimiento_analisis.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento
            operativaGestionContextos.init();
        })();
    </script>
}