@model PintarComunidad

@{
    @* Tipo de la comunidad (Abierta, Privada...)*@
    string communityType = "";

    switch ((CommunityModel.TypeAccessProject)Model.communityModel.AccessType)
    {
        case CommunityModel.TypeAccessProject.Private:
            communityType = Html.GetText("COMUNIDADES", "COMUNIDADPRIVADA");
            break;
        case CommunityModel.TypeAccessProject.Public:
            communityType = Html.GetText("COMUNIDADES", "COMUNIDADPUBLICA");
            break;
        case CommunityModel.TypeAccessProject.Reserved:
            communityType = Html.GetText("COMUNIDADES", "COMUNIDADRESERVADA");
            break;
        case CommunityModel.TypeAccessProject.Restricted:
            communityType = Html.GetText("COMUNIDADES", "COMUNIDADRESTRINGIDA");
            break;
    }
}

<div id="card-community-@Model.communityModel.Key" class="resource card-community">
    <div class="card">
        <div class="down-wrap">
            <div class="card-community-img">
                <a href="@Model.communityModel.Url">
                    <img src="@Model.communityModel.Logo"></img>
                </a>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-body">
                @* Nombre de la comunidad *@
                <a href="@Model.communityModel.Url">
                    <p class="card-title text-dark font-weight-bold name" data-name="@Model.communityModel.Name">@Model.communityModel.Name</p>
                </a>
                @* Privacidad de la Comunidad *@
                <span class="text-muted">@Html.Raw(communityType)</span>

                @*Seccion solo visible en la vista mosiaco y listado*@
                @* Descripcion de la comunidad*@
                <div class="down-wrap mb-3">
                    <div class="community-card-description">
                        @Html.Raw(Model.communityModel.Description)
                    </div>
                </div>
                @* Estadisticas de la comunidad*@
                <div class="social">
                    <div class="personas">
                        <span class="material-icons pr-2">person</span>
                        <a class="text-reset" href="@Model.communityModel.Url/@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")/@Html.GetText("URLSEM", "PERSONAS")">
                            <span class="number persons"
                                  data-persons="@Model.communityModel.Persons">@Model.communityModel.Persons</span>
                        </a>
                    </div>
                    <div class="organizaciones">
                        <span class="material-icons pr-2">domain</span>
                        <a class="text-reset" href="@Model.communityModel.Url/@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")/@Html.GetText("URLSEM", "ORGANIZACIONES")">
                            <span class="number organizations"
                                  data-organizations="@Model.communityModel.Organizations">@Model.communityModel.Organizations</span>
                        </a>
                    </div>
                    <div class="recursos">
                        <span class="material-icons pr-2">description</span>
                        <a class="text-reset" href="@Model.communityModel.Url/@Html.GetText("URLSEM", "RECURSOS")">
                            <span class="number resources"
                                  data-resources="@Model.communityModel.Resources">@Model.communityModel.Resources</span>
                        </a>
                    </div>
                </div>
                @*Seccion solo visible en la vista mosiaco y listado*@
                <div class="down-wrap mt-3">
                    @*Etiquetas y categorías del proyecto*@
                    @if (Model.communityModel.Categories != null && Model.communityModel.Categories.Count > 0)
                    {
                        <div class="categorias">
                            <p>@Html.GetText("LISTARECURSOS", "CATEGORIAS")</p>
                            <ul class="no-list-style d-flex align-items-center">
                                @foreach (CategoryModel categoria in Model.communityModel.Categories)
                                {
                                    <li class="tag" title="@categoria.Name">
                                        <a property="skos:prefLabel" typeof="skos:Concept">
                                            @categoria.Name
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    }
                    @if (Model.communityModel.Tags != null && Model.communityModel.Tags.Count > 0)
                    {
                        <div class="etiquetas">
                            <p>@Html.GetText("LISTARECURSOS", "ETIQUETAS")</p>
                            <ul class="no-list-style d-flex align-items-center">
                                @foreach (string tag in Model.communityModel.Tags)
                                {
                                    <li class="tag" title="@tag">
                                        <a>@tag</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer">
                @* Fecha de creacion de la Comunidad*@
                <small class="text-body-secondary creationdate" data-creationdate="@Model.communityModel.CreationDate.ToShortDateString()">
                    @Model.communityModel.CreationDate.ToShortDateString()
                </small>
            </div>
        </div>
    </div>
</div>

@*Acceder a posibles comunidades hijas con X niveles *@
@foreach (MyCommunitiesViewModel.MyCommunityModel comunidadHija in Model.myCommunitiesView.Communities.Where(com => com.ParentKey == Model.communityModel.Key))
{
    PintarComunidad pintar = new PintarComunidad();
    pintar.myCommunitiesView = Model.myCommunitiesView;
    pintar.communityModel = comunidadHija;
    @Html.PartialView("_PintarComunidad", pintar)
}