@model MyCommunitiesViewModel

@*
Descripción
-----------------------------------------------
Vista que muestra un listado de todas las comunidades a las que pertenece el usuario

Variables
----------------------------------------------------------------
*@
@{
    CommunityModel Comunidad = Html.GetComunidad();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();

    @* Lista de comunidades del usuario *@
    List<MyCommunitiesViewModel.MyCommunityModel> communityItems = Model.Communities.Where(com => com.ParentKey == Guid.Empty).ToList();
}
@*
----------------------------------------------------------------
-------------------- Vista de listado de todas las comunidades de un usuario en myGnoss  --------------------
*@



@{
    Html.SetBodyClass("layout02 listadoMyGnoss listado ");
}

<div class="row">

    @*Breadcrumb / Migas de pan en la ficha del recurso*@
    <div class="col col-12 col-breadcrumb" id="breadcrumb">
        <ul>
            <li><strong>@Html.GetText("COMMON", "HOME")</strong></li>
        </ul>
    </div>

    @* Header o cabecera donde aparecen los resultados o recursos de una comunidad *@
    @Html.PartialView("_partial-views/_list-header", Model)

    <div class="col col-12 col-xl-12 col-contenido izquierdo">
        <div class="wrapCol">
            @* Buscador de comunidades *@
            <div class="col-buscador">
                <form onsubmit="return false">
                    <fieldset style="display: block">
                        <legend class="sr-only">@Html.GetText("COMMON", "BUSCAR")</legend>
                        <div class="finderUtils" id="divCajaBusqueda">
                            <div class="group finderSection txtFiltrarItems">
                                <label for="txtFiltrarItems sr-only">@Html.GetText("COMMON", "BUSCAR")</label>
                                <input type="text" id="txtFiltrarItems"
                                       name="txtFiltrarItems"
                                       class="not-outline finderSectionText ac_input"
                                       autocomplete="off"
                                       onkeyup="javascript: MVCFiltrarItems(this,'panResultados','card-community','card-title')"
                                       placeholder="@Html.GetText("METABUSCADOR", "ENCONTRAR")" />
                                <input title="@Html.GetText("METABUSCADOR", "ENCONTRAR")" type="button" class="encontrar findAction" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>


            @* Pintar las comunidades *@
            <div id="panResultados" class="resource-list mosaicView">
                <div class="resource-list-wrap">
                    @foreach (MyCommunitiesViewModel.MyCommunityModel comunidad in communityItems)
                    {
                        PintarComunidad pintar = new PintarComunidad();
                        pintar.myCommunitiesView = Model;
                        pintar.communityModel = comunidad;
                        @Html.PartialView("../MisComunidades/_PintarComunidad", pintar)
                    }
                </div>
            </div>
        </div>
    </div>
</div>