@model ResourceViewModel
@{
    ResourceModel fichaRecurso = Model.Resource;
    CommunityModel Comunidad = Html.GetComunidad();
    Guid transicion = Model.Transition;
    string urlTransicion = $"{fichaRecurso.ListActions.UrlTransition}";
    string funcionCambiarEstado = $"CambiarEstadoDocumento('{urlTransicion}', '{fichaRecurso.Key}', '{transicion}')";
}

<div class="modal-header">
    <p class="modal-title">
        <span class="material-icons">move_down</span>@fichaRecurso.Title - @Html.GetText("CONTROLESDOCUMENTACION", "TRANSICION")
    </p>
    <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label d-block" for="inptComentario_@fichaRecurso.Key">@Html.GetText("FLUJOS", "COMENTARIO")</label>
        <textarea id="inptComentario_@fichaRecurso.Key" class="form-control inptComentarioDocumento" cols="20"></textarea>
    </div>
    <div class="form-actions">
        <button data-dismiss="modal" class="btn btn-outline-primary uppercase btnCerrarModalTransicionDocumento_@fichaRecurso.Key">@Html.GetText("COMMON", "CANCELAR")</button>
        <a class="btn btn-primary uppercase btnConfirmarTransicionDocumento" onclick="@funcionCambiarEstado" id="confirmarTransicionDocumento_@fichaRecurso.Key">@Html.GetText("CONTROLESDOCUMENTACION", "TRANSICION")</a>
    </div>
</div>