@model Tuple<string, string, string>

@*
Descripción
-----------------------------------------------
Vista que muestra en detalle la información del objeto del Tesauro semántico. Adicionalmente, aquí se pintará el modal que se utilizará para su edición/creación.


Variables
----------------------------------------------------------------
*@

@{
	string nombreTesauro = "";
	string nombreOntologia = "";
	string nombreFuenteOntologia = "";

	// Diccionario de nombre del Tesauro para multiIdiomas
	Dictionary<string, string> pageNameDictionary = new Dictionary<string, string>();
	HeaderModel cabecera = Html.GetCabecera();

	if (Model != null)
	{
		nombreTesauro = Model.Item1;
		nombreOntologia = Model.Item2;
		nombreFuenteOntologia = Model.Item3;		
	}

	// Id para los tabs multiIdioma para su correcta visualización al cambiar para ver otros idiomas
	string multiIdiomaTabId = @Guid.NewGuid().ToString().Substring(0,5);
	
	// Obtener el nombre y Url en formato diccionario con los multiIdiomas de Nombre para ser mostrados en la row del Tesauro
	pageNameDictionary = Html.GetDictionaryValuesFromMultiLanguageItem(nombreTesauro);
	
}

<li class="component-wrap tesauro-row" data-ontology-url="@nombreOntologia|@nombreFuenteOntologia">
	<div class="component">
		<div class="component-header-wrap">
			<div class="component-header">
				<div class="component-header-content">
					<div class="component-header-left">

						@* Nombre *@
						<div class="component-name-wrap">

							@if (pageNameDictionary.Count == 0)
							{
								<span class="language-component component-name @(ViewBag.IdiomaPorDefecto)" data-languageitem="@ViewBag.IdiomaPorDefecto">
									@nombreTesauro
								</span>
							}							
							else
							{																																												
								@foreach (KeyValuePair<string, string> idioma in cabecera.Languajes)
									{
									<span class="language-component component-name @( ViewBag.IdiomaPorDefecto == idioma.Key ? " " : "d-none")" data-languageitem="@idioma.Key">
										@* Asegurarnos de que haya valor en el dictionary. Si no, dejarlo en blanco *@																										
										@{
											string value = "";
											if (pageNameDictionary.TryGetValue(idioma.Key, out value))
											{
												@value;
											}										
										}
									</span>
								}	
							}														
						</div>	

						@* Ontología *@
						<div class="component-ontologia-wrap">																											
							<span class="component-ontologia">@nombreOntologia</span>							
						</div>
						@* Fuente *@
						<div class="component-fuente-wrap">
							<span class="component-fuente">@nombreFuenteOntologia</span>
						</div>
						@* Fecha *@
						<div class="component-fecha-wrap">
							<span class="component-fecha">30/09/2022</span>
						</div>												
					</div>
					@*Sección de acciones *@
					<div class="component-header-right">
						<div class="component-actions-wrap">
							@* Botón dropdown de acciones *@
							<div class="dropdown">
								<a
									class="nav-link dropdown-toggle btn btn-outline-grey"
									data-toggle="dropdown"
									href="#"
									role="button"
									aria-haspopup="true"
									aria-expanded="false">
									<span class="material-icons">create</span>
									<span class="texto">Editar</span>
								</a>
								@* Panel dropdown con las acciones disponibles *@
								<div
									class="dropdown-menu basic-dropdown dropdown-icons dropdown-menu-right">
									@* Acción Editar *@
									<a
										class="item-dropdown btnEditTesauro"
										data-toggle="modal"
										data-ontology-url="@nombreOntologia|@nombreFuenteOntologia"
										data-target="#modal-container">
										<span class="material-icons">edit</span>
										<span class="texto">Editar</span>
									</a>
									@* Acción Borrar *@
									<a class="item-dropdown btnDeleteTesauro"
									   data-toggle="modal" 
									   data-target="#modal-delete-tesauro">
										<span class="material-icons">delete</span>
										<span class="texto">Borrar</span>
									</a>
								</div>																												
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@* Información detallada de la pestaña -> Modal 
	@Html.PartialView("_modal-views/_objetoConocimiento-detail-item", Model)
	*@
</li>