@model ManageRegisterClausesViewModel

@*
Descripción
-----------------------------------------------
Vista index donde se muestra el listado con las diferentes cláusulas de registro/legales.

Variables
----------------------------------------------------------------
*@

@{
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	// Carga de idiomas de la plataforma
	string idiomas = "";
	// Contador del nº de pestañas listadas
	int contNumPestañasVisibles = 0;
	// Nº de pestañas de idiomas a visualizar en la sección Tab
	int numMaxPestañasIdiomasVisibles = 2;
	// Nº de cláusulas existentes en la comunidad
	int numPaginas = Model.ClausesList.Count;
	// Referencia al ManageRegisterClausesViewModel para el botón de tipo de pintado de tipo de páginas desde la cabecera
	ViewBag.ManageRegisterClausesViewModel = Model;
}


@{
    @* Carga de idiomas *@
    foreach (string idiomaKey in Model.LanguagesList.Keys)
    {
        idiomas += idiomaKey + "|" + Model.LanguagesList[idiomaKey] + "&&&";
    }     
}

@*
----------------------------------------------------------------
-------------------- Vista para Administrar la información general de la comunidad --------------------
*@
@if (Comunidad.IntegracionContinuaActivada)
{
	<div class="alert alert-warning alert-dismissable">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span class="material-icons" alt="warning" title="warning" aria-label="warning">
			warning
		</span>
		<strong>@Html.GetText("DEVTOOLS", "NOGUARDAINTEGRACIONCONTINUA")</strong>
	</div>
}

<input type="hidden" id="idiomasComunidad" value="@idiomas" />
<input type="hidden" value="@Model.DefaultLanguage" id="idiomaDefecto"/>



    @* Migas de Pan *@
    <div class="col col-12 col-breadcrumb">
        <ul>
            <li>
                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
            </li>
            <li>
                <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/configuracion">@Html.GetText("DEVTOOLS","CONFIGURACION")</a>
            </li>
            <li>
                @Html.GetText("COMADMINCLAUSULASREGISTRO", "CLAUSULASREGISTRO")
            </li>
        </ul>
    </div>

    @* Contenido Central *@
    <div class="formulario-edicion background-blanco">       
		@* Panel de idiomas *@	
		<ul class="nav nav-tabs @( (cabecera.Languajes.Count > 1) ? "" : "d-none")" id="tabIdiomasPaginas" role="tablist">
			@* Títulos de Tabs con los diferentes idiomas a visualizar. *@
				@foreach (KeyValuePair<string, string> idioma in cabecera.Languajes){
					if (contNumPestañasVisibles < numMaxPestañasIdiomasVisibles) {
						<li class="nav-item">
							<a  class="tabIdiomaItem nav-link @( Model.DefaultLanguage == idioma.Key ? "active" : null)" 
								id="@("ver_paginas_" + idioma.Key)" data-toggle="tab" href="#@("litVer" + idioma.Key)" 
								data-language = "@idioma.Key"
								role="tab" aria-controls="@("litVer" + idioma.Key)"
								aria-selected="true">@Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", idioma.Value)</a>
						</li>
						contNumPestañasVisibles += 1;
					}				
				}
				@* Controlar si es necesario mostrar el resto de categorías en un DropDown *@
				@if (contNumPestañasVisibles < cabecera.Languajes.Count){
					@* Dropdown para resto de categorías *@
					<li class="nav-item">
						<div class="dropdown">
							@* Desplegable del dropdown *@
							<a
								class="nav-link dropdown-toggle"
								data-toggle="dropdown"
								href="#"
								role="button"
								aria-haspopup="true"
								aria-expanded="false"
								>@Html.GetText("DEVTOOLS","OTROSIDIOMAS")</a>
							@* Sección para mostrar items del dropdown*@
							<div class="dropdown-menu dropdown-menu-left basic-dropdown dropdown-idiomas">
								<ul class="no-list-style">
									@* Pintado del resto de pestañas en Dropdown *@									
									@for (int i = contNumPestañasVisibles; i< cabecera.Languajes.Count; i++) {
										var item = cabecera.Languajes.ElementAt(i);
										var itemKey = item.Key;
										var itemValue = item.Value;

										@* Cada item del dropdown *@
										<li>
											<a id="@("ver_paginas_" + itemKey)" 
											   class="item-dropdown tabIdiomaItem @( Model.DefaultLanguage == itemKey ? "active" : null)"
											   data-toggle="tab"
											   href="#@("litVer" + itemKey)"
											   data-language = "@itemKey">
											   @Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", itemValue)</a>
										</li>
									}
								</ul>
							</div>
						</div>
					</li>
				}
		</ul>

		@* Contenedor global de cláusulas *@
		<div class="tab-content">	
			@* Contenido de las diferentes cláusulas *@
			<div id="panelListadoClausulas" 
				class="tab-pane fade show active" 
				role="tabpanel" 
				aria-labelledby="panelListadoClausulas">

				@* Contenedor del Título de la Sección + Buscador *@
				<div class="row">
					@* Título de la sección de cláusulas + Nº de páginas *@
					<div class="col col-12 header-listado">
						<div class="h1-container">
							<h1>@Html.GetText("COMADMINCLAUSULASREGISTRO", "CLAUSULASREGISTRO")
								<span id="numPaginas" class="numResultados"></span>
							</h1>
						</div>
						@* Botón para crear item *@						
						<div class="acciones d-flex align-items-center">
							@Html.PartialView("../Shared/Layout/_partial-views/_layout-add-legal-signup-clause-admin", Model)							
						</div>
					</div>

					@* Buscador de cláusulas *@
					<div class="col col-12 header-buscador">
						<div class="wrapCol">
							<div class="col-buscador" style="width: 100%">					
							@* Formulario para búsquedas de cláusulas *@
								<form id="formBuscadorClausulas" onsubmit="return false;">								
									<div class="finderUtils" id="divCajaBusqueda">
										<div class="group finderSection">
											@* Input para realizar la búsqueda de páginas *@
											<input
												type="text"
												id="txtBuscarClausula"
												class="not-outline finderSectionText"
												autocomplete="off"
												placeholder="@Html.GetText("DEVTOOLS","BUSCARENLASECCION")"
											/>
											@* Botón para realizar la búsqueda *@
											<input
												title="Buscar"
												type="button"
												class="findAction"
												id="inputLupa"
											/>
											@* Botón para Facetas de la búsqueda *@
											<a href="javascript: void(0);" class="btn-filtrar-movil">
												<span class="material-icons">filter_list</span>
												<span class="texto">@Html.GetText("DEVTOOLS","FILTRAR")</span>											
											</a>
										</div>
									</div>								
								</form>
							</div>
						</div>
					</div>
					@* Contenido o tabla con las cláusulas de la comunidad *@
					<div class="col col-12 col-contenido">
						<div class="wrapCol">
							@* Cabecera del listado de cláusulas *@
							<ul id="id-header-clauses-list" class="header-component-list component-list no-list-style">
								<li class="component-wrap">
									@* Cabecera de cláusulas *@
									<div class="component ">
										<div class="component-header-wrap">
											<div class="component-header">
												<div class="component-sortable js-component-sortable-page">
													<span class="material-icons-outlined sortable-icon">drag_handle</span>
												</div>
												@* Sección títulos de listado de páginas *@
												<div class="component-header-content">
													<div class="component-header-left">
														<div class="component-name-wrap">
															<span class="component-name">@Html.GetText("DEVTOOLS","CLAUSULAS")</span>
														</div>
														<div class="component-contenido-wrap">
															<span class="component-contenido">@Html.GetText("DEVTOOLS","CONTENIDO")</span>
														</div>
														<div class="component-fecha-wrap">
															<span class="component-fecha">@Html.GetText("ADMINISTRACIONSEMANTICA","FECHA")</span>
														</div>
													</div>
													<div class="component-header-right">
														<div class="component-actions-wrap">
															<span>@Html.GetText("ADMINISTRACIONBASICA","ACCIONES")</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>

							@* Contenido de cláusulas *@
							<ul id="id-added-clauses-list" 
								class="js-community-clauses-list component-list no-list-style">
				
								@* Pintado de cada cláusula *@							
								@foreach (ManageRegisterClausesViewModel.RegisterClauseModel clausula in Model.ClausesList.OrderBy(c => c.Order))
								{									
									@Html.PartialView("_EdicionClausulaRegistro", clausula);									
								}
							</ul>
						</div>
					</div>
				</div>
			</div>		
		</div>      
    </div>



@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/configuracion.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento de Cláusulas legales
            operativaGestionClausulasLegales.init();
        })();
    </script>
}