@using System.Text
@model FlujoViewModel
@{
    CommunityModel Comunidad = Html.GetComunidad();
    HeaderModel cabecera = Html.GetCabecera();
    Dictionary<string, string> workflowNameDictionary = Html.GetDictionaryValuesFromMultiLanguageItem(Model.Nombre);
    Dictionary<string, string> workflowDescriptionDictionary = Html.GetDictionaryValuesFromMultiLanguageItem(Model.Descripcion);
    bool nuevoFlujo = ViewBag.NuevoFlujo ?? false;
    StringBuilder tipos = new StringBuilder();
    foreach(var tipo in Model.TiposRecursos.Where(i => i.Value).Select(i => i.Key).ToList())
    {
        if (tipo.Equals(TiposContenidos.RecursoSemantico))
        {
            foreach (string nombreOntologia in Model.OntologiasProyectoNombre)
            {
                tipos.Append($"{Html.ObtenerTextoIdiomaUsuario(nombreOntologia)}, ");
            }
        }
        else
        {
            tipos.Append($"{Html.GetText("DEVTOOLS", Enum.GetName(typeof(TiposContenidos), tipo))}, ");
        }
    }
    string tiposFormateado = tipos.ToString().Substring(0, tipos.Length - 2);
}
<tr id="@Model.FlujoID">
    @if (workflowNameDictionary.Count == 0)
    {
        @foreach (string claveIdioma in cabecera.Languajes.Select(kvp => kvp.Key))
        {
            <td class="td-nombre language-component component-name @(ViewBag.IdiomaPorDefecto == claveIdioma ? "" : "d-none")" data-languageitem="@claveIdioma">
                <strong>@Model.Nombre</strong>
            </td>
        }
    }
    else
    {
        @foreach (string claveIdioma in cabecera.Languajes.Select(kvp => kvp.Key))
        {

            <td class="td-nombre language-component component-name @(ViewBag.IdiomaPorDefecto == claveIdioma ? "" : "d-none")" data-languageitem="@claveIdioma">
                <strong>
                    @{
                        string value = "";
                        @if (workflowNameDictionary.TryGetValue(claveIdioma, out value))
                        {
                            @value
                        }
                    }
                </strong>
            </td>
        }
    }
    @if (workflowDescriptionDictionary.Count == 0)
    {
        @foreach (string claveIdioma in cabecera.Languajes.Select(kvp => kvp.Key))
        {
            <td class="td-descripcion language-component component-description @(ViewBag.IdiomaPorDefecto == claveIdioma ? "" : "d-none")" data-languageitem="@claveIdioma">
                <strong>@Model.Descripcion</strong>
            </td>
        }
    }
    else
    {
        @foreach (string claveIdioma in cabecera.Languajes.Select(kvp => kvp.Key))
        {

            <td class="td-descripcion language-component component-description @(ViewBag.IdiomaPorDefecto == claveIdioma ? "" : "d-none")" data-languageitem="@claveIdioma">
                <strong>
                    @{
                        string value = "";
                        @if (workflowDescriptionDictionary.TryGetValue(claveIdioma, out value))
                        {
                            @value
                        }
                    }
                </strong>
            </td>
        }
    }
    <td class="td-tipos">@tiposFormateado</td>
    <td class="td-creacion">@Model.Fecha.ToShortDateString()</td>
    <td class="td-acciones">
        <div class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               aria-expanded="false">
                <span class="material-icons">more_vert</span>
                <span class="texto">@Html.GetText("ADMINISTRACIONBASICA", "ACCIONES")</span>
            </a>
            <div class="dropdown-menu basic-dropdown dropdown-icons dropdown-menu-right"
                 style="will-change: transform">
                <a class="item-dropdown btnShowWorkflowDiagram">
                    <span class="material-icons">visibility</span>
                    <span class="texto">@Html.GetText("DEVTOOLS", "VER")</span>
                </a>
                <a class="item-dropdown btnEditWorkflow"
                   data-toggle="modal"
                   data-target="#modal-editar-workflow">
                    <span class="material-icons">edit</span>
                    <span class="texto">@Html.GetText("COMMON", "EDITAR")</span>
                </a>
                <a class="item-dropdown btnDeleteWorkflow">
                    <span class="material-icons">delete</span>
                    <span class="texto">@Html.GetText("DEVTOOLS", "BORRAR")</span>
                </a>
            </div>
        </div>
    </td>
</tr>
