@model Es.Riam.Gnoss.Web.MVC.Models.Administracion.AdministrarOpcionesMetaadministradorViewModel

@*
Descripción
-----------------------------------------------
Vista index donde se muestra las diversas opciones de configuración del Metaadministrador.

Variables
----------------------------------------------------------------
*@

@{
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";

}
@if (Comunidad.IntegracionContinuaActivada)
{
	<div class="alert alert-warning alert-dismissable">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span class="material-icons" alt="warning" title="warning" aria-label="warning">
			warning
		</span>
		<strong>@Html.GetText("DEVTOOLS", "NOGUARDAINTEGRACIONCONTINUA")</strong>
	</div>
}
    @* Migas de Pan *@
<div class="col col-12 col-breadcrumb">
    <ul>
        <li>
            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
        </li>
        <li>
            <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/configuracion">@Html.GetText("DEVTOOLS","CONFIGURACION")</a>
        </li>
        <li>
            @Html.GetText("DEVTOOLS","OPCIONESDELMETAADMINISTRADOR")
        </li>
    </ul>
</div>

@* Contenido Central *@
<div class="formulario-edicion background-blanco">
	<h2>@Html.GetText("DEVTOOLS","OPCIONESDELMETAADMINISTRADOR")</h2>
	<p>
		Configuración avanzada de permisos, apariencia, usuarios, redes sociales y estilos del proyecto. Esta configuración será heredada por las comunidades que pertenezcan al proyecto.
	</p>
	@* Panel de navegación *@
	<ul class="no-list-style">
		<li>
			<a href="#permisos" 
			   data-toggle="collapse"
			   class=""
			   aria-expanded="true">@Html.GetText("DEVTOOLS","PERMISOS")</a>
		</li>
		<li>
			<a
				href="#permisosCMS"
				data-toggle="collapse"
				aria-expanded="false"
				class="collapsed">@Html.GetText("ADMINISTRACIONBASICA","PERMISOSCMS")</a>
		</li>
		<li>
			<a
				href="#apariencia"
				data-toggle="collapse"
				aria-expanded="false"
				class="collapsed">Apariencia</a>
		</li>
		<li>
			<a
				href="#usuarios"
				data-toggle="collapse"
				aria-expanded="false"
				class="collapsed">@Html.GetText("ADMINISTRACIONBASICA","USUARIOS")</a>
		</li>
		<li>
			<a
				href="#sistemas"
				data-toggle="collapse"
				aria-expanded="false"
				class="collapsed">@Html.GetText("ADMINISTRACIONBASICA","SISTEMAS")</a>
		</li>
		<li>
			<a
				href="#semantica"
				data-toggle="collapse"
				aria-expanded="false"
				class="collapsed">@Html.GetText("ADMINISTRACIONBASICA","SEMANTICA")</a>
		</li>
		<li>
			<a
				href="#redes-sociales"
				data-toggle="collapse"
				aria-expanded="false"
				class="collapsed">@Html.GetText("ADMINISTRACIONBASICA","REDESSOCIALES")</a>
		</li>
		<li>
			<a
				href="#proyectos"
				data-toggle="collapse"
				aria-expanded="false"
				class="collapsed">@Html.GetText("ADMINISTRACIONBASICA","PROYECTOS")</a>
		</li>
		<li>
			<a
				href="#estilos"
				data-toggle="collapse"
				aria-expanded="false"
				class="collapsed">Estilos</a
			>
		</li>
		<li>
			<a href="#service-bus" data-toggle="collapse">Service Bus</a>
		</li>
	</ul>
	@* Panel central con opciones de configuración (Accordion) *@
	<div id="accordion">
		<div class="card">			
			<div class="card-header">
				@* Botón Permisos *@
				<h3 class="mb-0">
					<button
						class="btn btn-link"
						data-toggle="collapse"
						data-target="#permisos"
						aria-expanded="true"
						aria-controls="permisos">
						Permisos
					</button>
				</h3>
			</div>
			@* Opciones de Permisos *@
			<div
				id="permisos"
				class="collapse show"
				data-parent="#accordion">
				<div class="card-body">
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="CMSActivado" 
							@(Model.CMSActivado ? "checked" : "")/>
						<label class="custom-control-label" for="CMSActivado">@Html.GetText("ADMINISTRACIONBASICA","ACTIVARCMS")</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="AdministracionPaginasPermitido"
							@(Model.AdministracionPaginasPermitido ? "checked" : "")/>
						<label class="custom-control-label" for="AdministracionPaginasPermitido">@Html.GetText("ADMINISTRACIONBASICA","PERMITIRADMINISTRACIONPAGINAS")</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="AdministracionSemanticaPermitido"
							@(Model.AdministracionSemanticaPermitido ? "checked" : "")/>
						<label class="custom-control-label" for="AdministracionSemanticaPermitido">@Html.GetText("DEVTOOLS","PERMITIRADMINISTRACIONSEMANTICA")</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="AdministracionDesarrolladoresPermitido" 
							@(Model.AdministracionDesarrolladoresPermitido ? "checked" : "")/>
						<label
							class="custom-control-label"
							for="AdministracionDesarrolladoresPermitido">@Html.GetText("ADMINISTRACIONBASICA","PERMITIRADMINISTRACIONDESARROLLADORES")</label>
					</div>
					@* Se elimina la opción tras revisión de documentación
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="EventosDisponibles" 
							@(Model.EventosDisponibles ? "checked" : "")							
							/>
						<label class="custom-control-label" for="EventosDisponibles">@Html.GetText("ADMINISTRACIONBASICA","PERMITIRADMINISTRACIONDEEVENTOS")</label>
					</div>
					*@
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="AdministracionVistasPermitido" 
							@(Model.AdministracionVistasPermitido ? "checked" : "")/>
						<label class="custom-control-label" for="AdministracionVistasPermitido">@Html.GetText("DEVTOOLS","PERMITIRADMINISTRACIONDEVISTAS")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="VistasActivadas" 
							@(Model.VistasActivadas ? "checked" : "")/>
						<label class="custom-control-label" for="VistasActivadas">@Html.GetText("ADMINISTRACIONBASICA","ACTIVARVISTASPERSONALIZADAS")</label>
					</div>

					@* SubOpción de vista personalizada *@
					@if (!Model.VistasActivadas)					
					{
						<div class="form-group mb-3 editarVista @( (!Model.VistasActivadas) ? "d-none" : null)">
							<label class="control-label d-block">@Html.GetText("DEVTOOLS","USARVISTADEUNPROYECTOEXISTENTE")</label>
							@* Select de Tipo de tipo de vistas *@
							<select id="PersonalizacionIDVistas"
									name="PersonalizacionIDVistas"
									class="cmbEditarVistas js-select2"
									tabindex="0"
									aria-hidden="false">
								<option value="@Guid.Empty">Ninguna</option>
								@foreach (KeyValuePair<string, Guid> personalizacion in Model.ListaProyectosVistas.Values)
								{
									<option value="@personalizacion.Value">@personalizacion.Key</option>
								}
							</select>
						</div>
					}
					else
					{
						<input type="hidden" id="PersonalizacionIDVistas" value="@Model.PersonalizacionIDVistas" />
						@* Panel de alerta de eliminación de vistas *@
						<div id="panelAlertaPersonalizacionVistas" class="alert alert-danger flex-column pt-2 d-none" role="alert">
							<span class="title mb-2" style="font-weight: 700">@Html.GetText("DEVTOOLS","ACCIONDESTRUCTIVA")</span>
							<span class="description" style="font-weight: 300">@Html.GetText("DEVTOOLS","ALDESACTIVARESTAOPCION,SEPROCEDERAALBORRADODETODASLASVISTASP")</span>
						</div>
					}

					@if (Model.TieneVistasEcosistema)
					{
						<div class="custom-control custom-checkbox">
							<input
								id="NoUsarVistasDelEcosistema"
								type="checkbox"
								class="custom-control-input"
								@(Model.NoUsarVistasDelEcosistema ? "checked" : "")/>
							<label class="custom-control-label" for="NoUsarVistasDelEcosistema">@Html.GetText("DEVTOOLS","NOUSARLASVISTASDELECOSISTEMAENELPROYECTO")</label>
						</div>
					}
					<div class="custom-control custom-checkbox">
						<input
							id="CargasMasivasDisponibles"
							type="checkbox"
							class="custom-control-input"
							@(Model.CargasMasivasDisponibles ? "checked" : "")/>
						<label class="custom-control-label" for="CargasMasivasDisponibles">@Html.GetText("ADMINISTRACIONBASICA","LOSUSUARIOSPUEDENREALIZARCARGASMASIVASDEADJUNTOS")</label>
					</div>
					
					@* Repetido en otro apartado
					<div class="custom-control custom-checkbox">
						<input
							id="EnviarNotificacionesDeSuscripciones" 
							@(Model.EnviarNotificacionesDeSuscripciones ? "checked" : "")
							type="checkbox"
							class="custom-control-input"/>						
							<label
							class="custom-control-label"
							for="EnviarNotificacionesDeSuscripciones">Enviar notificaciones de suscripciones</label>						
					</div>
					*@
					
					<div class="custom-control custom-checkbox">
						<input
							id="OcultarCambiarPassword" 
							@(Model.OcultarCambiarPassword ? "checked" : "")
							type="checkbox"
							class="custom-control-input"/>
						<label class="custom-control-label" for="OcultarCambiarPassword">@Html.GetText("ADMINISTRACIONBASICA","OCULTARLACONTRASEÑAALCAMBIARLA")</label>
					</div>


					<div class="custom-control custom-checkbox">
						<input
							id="DuplicarRecursosDisponible" 
							@(Model.DuplicarRecursosDisponible ? "checked" : "")
							type="checkbox"
							class="custom-control-input"
							/>
						<label class="custom-control-label" for="DuplicarRecursosDisponible">@Html.GetText("ADMINISTRACIONBASICA","DUPLICARLOSRECURSOS")</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="AvisoCookie"
							   @(Model.AvisoCookie ? "checked" : "")
							   type="checkbox"
							   class="custom-control-input" />
						<label class="custom-control-label" for="AvisoCookie">@Html.GetText("DEVTOOLS","AVISOCOOKIES")</label>
					</div>
					@* Nombre de la política de cookies *@						
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","NOMBREDELAPOLITICADECOOKIES")</label>
						<input
							placeholder="Nombre de la política de Cookies"
							type="text"				
							value="@Model.NombrePoliticaCookies"
							id="NombrePoliticaCookies"
							class="form-control not-outline"/>
					</div>
				</div>
			</div>
		</div>		
		<div class="card">
			<div class="card-header">
				@* Botón Permisos CMS *@
				<h3 class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#permisosCMS"
						aria-expanded="false"
						aria-controls="permisosCMS">
						@Html.GetText("ADMINISTRACIONBASICA","PERMISOSCMS")
					</button>
				</h3>
			</div>
			@* Opciones de Permisos CMS *@
			<div id="permisosCMS" class="collapse" data-parent="#accordion">
				<div class="card-body">         					
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="ConsultaSparql" 
							@(Model.ConsultaSparql ? "checked" : "")/>
						<label class="custom-control-label" for="ConsultaSparql">@Html.GetText("ADMINISTRACIONBASICA","CONSULTASPARQL")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="PreguntaTIC" 
							@(Model.PreguntaTIC ? "checked" : "")/>
						<label class="custom-control-label" for="PreguntaTIC">@Html.GetText("ADMINISTRACIONPAGINAS","PREGUNTATIC")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="BuscadorSPARQL" 
							@(Model.BuscadorSPARQL ? "checked" : "")/>
						<label class="custom-control-label" for="BuscadorSPARQL">@Html.GetText("ADMINISTRACIONBASICA","BUSCADORSPARQL")</label>
					</div>
					
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="FichaDescripcionDocumento" 
							@(Model.FichaDescripcionDocumento ? "checked" : "")/>
						<label class="custom-control-label" for="FichaDescripcionDocumento">@Html.GetText("DEVTOOLS","FICHADESCRIPCIONDOCUMENTO")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="ConsultaSQLServer" 
							@(Model.ConsultaSQLServer ? "checked" : "")/>
						<label class="custom-control-label" for="ConsultaSQLServer">@Html.GetText("ADMINISTRACIONBASICA","CONSULTASQLSERVER")</label>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				@* Bótón Apariencia *@
				<h3 class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#apariencia"
						aria-expanded="false"
						aria-controls="apariencia">
						@Html.GetText("ADMINISTRACIONBASICA","APARIENCIA")
					</button>
				</h3>
			</div>
			@* Opciones de Apariencia *@
			<div id="apariencia" class="collapse" data-parent="#accordion">
				<div class="card-body">
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="CabeceraSimple" 
							@(Model.CabeceraSimple ? "checked" : "")/>
						<label class="custom-control-label" for="CabeceraSimple">@Html.GetText("ADMINISTRACIONBASICA","MOSTRARCABECERASIMPLIFICADA(OCULTAELRESTODEIDENTIDADESDELACA")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="EtiquetasConLOD" 
							@(Model.EtiquetasConLOD ? "checked" : "")/>
						<label class="custom-control-label" for="EtiquetasConLOD">@Html.GetText("ADMINISTRACIONBASICA","ETIQUETASENLAZADASCONLINKEDOPENDATA")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="AgruparEventosNuevosUsuarios" 
							@(Model.AgruparEventosNuevosUsuarios ? "checked" : "")/>
						<label class="custom-control-label" for="AgruparEventosNuevosUsuarios">@Html.GetText("ADMINISTRACIONBASICA","AGRUPAREVENTOSDENUEVOSUSUARIOS")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="RdfDisponibles" 
							@(Model.RdfDisponibles ? "checked" : "")/>
						<label class="custom-control-label" for="RdfDisponibles">@Html.GetText("ADMINISTRACIONBASICA","LADESCARGADERDFSESTARADISPONIBLEENLASPAGINASDEBUSQUEDA")</label>
					</div>

					@* Se elimina la opción tras revisión de documentación
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="AvisoCookie" 
							@(Model.AvisoCookie ? "checked" : "")/>
						<label class="custom-control-label" for="AvisoCookie">@Html.GetText("ADMINISTRACIONBASICA","MOSTRARADVERTENCIAALOSUSUARIOSNUEVOSDEQUEELSITIOWEBUSACOOKIE")</label>
					</div>
					*@
					          
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","VERSIONCSS")</label>
						<input
							placeholder="@Html.GetText("ADMINISTRACIONBASICA","VERSIONCSS")"
							type="text"		
							style="width:200px;"
							value="@(Model.VersionCSS > 0 ? Model.VersionCSS.ToString() : "")"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"
							id="VersionCSS"
							class="form-control not-outline"/>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","VERSIONJS")</label>
						<input
							placeholder="@Html.GetText("ADMINISTRACIONBASICA","VERSIONJS")"
							type="text"		
							style="width:200px;"
							id="VersionJS" 
							value="@(Model.VersionJS > 0 ? Model.VersionJS.ToString() : "")" 
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"							
							class="form-control not-outline"/>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">Copyright (Ej: RIAM I+L lab)</label>
						<input
							placeholder="Copyright (Ej: RIAM I+L lab)"
							type="text"				
							id="Copyright"
							value="@Model.Copyright"																	
							class="form-control not-outline"/>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","ENLACEQUEVAAAPARECERENELPIEDEPAGINACOMOCONTACTO") Ej: http://www.gnoss.com/sobre-la-empresa</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","ENLACEQUEVAAAPARECERENELPIEDEPAGINACOMOCONTACTO")"
							type="text"				
							id="EnlaceContactoPiePagina" 
							value="@Model.EnlaceContactoPiePagina"							
							class="form-control not-outline"/>
					</div>


					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","NUMERODERECURSOSRELACIONADOS")</label>
						<input
							id="NumeroRecursosRelacionados" 
							value="@(Model.NumeroRecursosRelacionados > 0 ? Model.NumeroRecursosRelacionados.ToString() : "")" 
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"
							placeholder="Nº de recursos relacionados"
							type="number"	
							style="width:200px;"
							min="0"
							class="form-control not-outline"/>
					</div>

					@* Tamaño al que deben hacerse las miniaturas (Ancho x Alto) *@
					<div class="form-group">
						<label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","TAMAÑOALQUEDEBENHACERSELASCAPTURASDELASMINIATURASDELASIMAGEN")</label>
					</div>
					<form class="form-inline mb-3">
						<div class="form-group mb-2">
							<label for="CapturasImgSizeAncho" class="control-label d-block">@Html.GetText("DEVTOOLS","ANCHO(PX)")</label>
							<input type="text" 
							       class="form-control-plaintext not-outline"
								   id="CapturasImgSizeAncho"
								   placeholder="Por defecto: 180"
								   style="padding: 10px 20px;"
								   value="@(Model.CapturasImgSizeAncho > 0 ? Model.CapturasImgSizeAncho.ToString() : "")"								   
								   onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
						</div>
						<div class="form-group mx-sm-3 mb-2">
							<label for="CapturasImgSizeAlto" class="control-label d-block">@Html.GetText("DEVTOOLS","ALTO(PX)")</label>
							<input
								type="text"		
								value="@(Model.CapturasImgSizeAlto > 0 ? Model.CapturasImgSizeAlto.ToString() : "")" 
								placeholder="Por defecto: 160"
								onkeypress="return event.charCode >= 48 && event.charCode <= 57"
								style="padding: 10px 20px;"
								class="form-control-plaintext not-outline"
								id="CapturasImgSizeAlto"/>							
						</div>
					</form>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="CargarEditoresLectoresEnBusqueda" 
							@(Model.CargarEditoresLectoresEnBusqueda ? "checked" : "")/>
						<label class="custom-control-label" for="CargarEditoresLectoresEnBusqueda">@Html.GetText("DEVTOOLS","CARGARLOSEDITORESYLECTORESDELOSRECURSOSENLASPAGINASDEBUSQUED")</label>
						<small class="form-text text-muted">@Html.GetText("DEVTOOLS","AFECTAALRENDIMIENTODELASBUSQUEDAS,NOMARCARSINOESIMPRESCINDIB")</small>
						
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","NUMERODEITEMSAMOSTRARENLASECCIONACTIVIDADRECIENTE")</label>
						<input
							id="FilasPorPagina" 
							value="@Model.FilasPorPagina"							
							placeholder="@Html.GetText("DEVTOOLS","NUMERODEITEMSAMOSTRARENLASECCIONACTIVIDADRECIENTE")"
							type="number"
							min="0"
							style="width:200px;"
							pattern="^[0-9]+"
							class="form-control not-outline"/>
					</div>					            
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				@* Botón de Usuarios *@
				<h3 class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#usuarios"
						aria-expanded="false"
						aria-controls="usuarios">
						@Html.GetText("ADMINISTRACIONBASICA","USUARIOS")
					</button>
				</h3>
			</div>
			<div id="usuarios" class="collapse" data-parent="#accordion">
				@* Opciones de Usuarios *@
				<div class="card-body">
					           
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="FechaNacimientoObligatoria" 
							@(Model.FechaNacimientoObligatoria ? "checked" : "")/>
						<label class="custom-control-label" for="FechaNacimientoObligatoria">@Html.GetText("ADMINISTRACIONBASICA","LOSUSUARIOSDEBENINTRODUCIRSUFECHADENACIMIENTOENELREGISTROOBL")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="BiosCortas" 
							@(Model.BiosCortas ? "checked" : "")/>
						<label class="custom-control-label" for="BiosCortas">@Html.GetText("ADMINISTRACIONBASICA","LOSUSUARIOSPUEDENDEFINIRUNABIOGRAFIACORTAENSUPERFIL")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="PrivacidadObligatoria" 
							@(Model.PrivacidadObligatoria ? "checked" : "")/>
						<label class="custom-control-label" for="PrivacidadObligatoria">@Html.GetText("ADMINISTRACIONBASICA","LOSUSUARIOSDEBENSELECCIONARELNIVELDEPRIVACIDADQUEQUIERENPARA")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="InvitacionesPorContactoDisponibles" 
							@(Model.InvitacionesPorContactoDisponibles ? "checked" : "")/>
						<label class="custom-control-label" for="InvitacionesPorContactoDisponibles">@Html.GetText("ADMINISTRACIONBASICA","LOSUSUARIOSPUEDENINVITARASUSCONTACTOSAPARTICIPARENLACOMUNIDA")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="EnviarNotificacionesDeSuscripciones" 
							@(Model.EnviarNotificacionesDeSuscripciones ? "checked" : "")/>
						<label class="custom-control-label" for="EnviarNotificacionesDeSuscripciones">@Html.GetText("DEVTOOLS","ENVIARBOLETINDESUSCRIPCIONESPORCORREOELECTRONICO")</label>
						<small class="form-text text-muted">@Html.GetText("DEVTOOLS","ELENVIOSEREALIZADEFORMADIARIOOSEMANALSEGUNLOTENGACONFIGURADO")</small>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="RecibirNewsletterDefecto" 
							@(Model.RecibirNewsletterDefecto ? "checked" : "")/>
						<label class="custom-control-label" for="RecibirNewsletterDefecto">@Html.GetText("ADMINISTRACIONBASICA","LOSUSUARIOSRECIBENLANEWSLETTERPORDEFECTO")</label>
					</div>

					<div class="form-group mb-3 DiaEnvioSuscripcion d-none">
						<label class="control-label d-block">Día de envío del boletín</label>
						@* Select de Tipo de tipo de vistas *@
						<select 
								id="DiaEnvioSuscripcion"
								name="DiaEnvioSuscripcion"
								class="cmbDiaEnvioSuscripcion js-select2"
								tabindex="0"
								aria-hidden="false">                
								<option value="0" @(Model.DiaEnvioSuscripcion.Equals(0) ? "selected=\"selected\"" : "")>@Html.GetText("ADMINISTRACIONBASICA","INDIFERENTE")</option>
								<option value="1" @(Model.DiaEnvioSuscripcion.Equals(1) ? "selected=\"selected\"" : "")>@Html.GetText("ADMINISTRACIONBASICA","LUNES")</option>
								<option value="2" @(Model.DiaEnvioSuscripcion.Equals(2) ? "selected=\"selected\"" : "")>@Html.GetText("ADMINISTRACIONBASICA","MARTES")</option>
								<option value="3" @(Model.DiaEnvioSuscripcion.Equals(3) ? "selected=\"selected\"" : "")>@Html.GetText("ADMINISTRACIONBASICA","MIERCOLES")</option>
								<option value="4" @(Model.DiaEnvioSuscripcion.Equals(4) ? "selected=\"selected\"" : "")>@Html.GetText("ADMINISTRACIONBASICA","JUEVES")</option>
								<option value="5" @(Model.DiaEnvioSuscripcion.Equals(5) ? "selected=\"selected\"" : "")>@Html.GetText("ADMINISTRACIONBASICA","VIERNES")</option>
								<option value="6" @(Model.DiaEnvioSuscripcion.Equals(6) ? "selected=\"selected\"" : "")>@Html.GetText("ADMINISTRACIONBASICA","SABADO")</option>
								<option value="7" @(Model.DiaEnvioSuscripcion.Equals(7) ? "selected=\"selected\"" : "")>@Html.GetText("ADMINISTRACIONBASICA","DOMINGO")</option>									
						</select>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="SuscribirATodaComunidad" 
							@(Model.SuscribirATodaComunidad ? "checked" : "")/>
						<label class="custom-control-label" for="SuscribirATodaComunidad">@Html.GetText("ADMINISTRACIONBASICA","SUSCRIPCIONAUTOMATICADECADAUSUARIONUEVOATODASLASCATEGORIASDE")</label>
					</div>

					@if (Html.GetComunidad().AccessType.Equals(CommunityModel.TypeAccessProject.Private) || Html.GetComunidad().AccessType.Equals(CommunityModel.TypeAccessProject.Reserved))
					{
						<div class="custom-control custom-checkbox">
							<input
								type="checkbox"
								class="custom-control-input"
								id="SolicitarCookieLogin" 
								@(Model.SolicitarCookieLogin ? "checked" : "")/>
							<label class="custom-control-label" for="SolicitarCookieLogin">@Html.GetText("DEVTOOLS","LADURACIONDELACOOKIEESTARESTRINGIDAA20MINUTOSADEMAS,SIELUSU")</label>
						</div>

						<div class="custom-control custom-checkbox">
							<input
								type="checkbox"
								class="custom-control-input"
								id="RegistroAbierto" 
								@(Model.RegistroAbierto ? "checked" : "")/>
							<label class="custom-control-label" for="RegistroAbierto">@Html.GetText("DEVTOOLS","REGISTROABIERTONOESNECESARIAUNAINVITACIONPARAENTRARENLACOMU")</label>
						</div>
					}

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="PermitirDescargaIdentidadInvitada" 
							@(Model.PermitirDescargaIdentidadInvitada ? "checked" : "")/>
						<label class="custom-control-label" for="PermitirDescargaIdentidadInvitada">@Html.GetText("DEVTOOLS","PERMITIRLADESCARGADEADJUNTOSAUSUARIOSNOLOGUEADOS")</label>
					</div>

					@* Repetido en otra sección 
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="EnviarNotificacionesDeSuscripciones" 
							@(Model.EnviarNotificacionesDeSuscripciones ? "checked" : "")/>
						<label class="custom-control-label" for="EnviarNotificacionesDeSuscripciones">Enviar notificaciones de suscripciones.</label>
					</div>
					*@

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","CADUCIDADDELACONTRASEÑA")</label>
						<input
							id="CaducidadPassword" 
							value="@(Model.CaducidadPassword > 0 ? Model.CaducidadPassword.ToString() : "")"
							placeholder="@Html.GetText("ADMINISTRACIONBASICA","CADUCIDADDELACONTRASEÑA")"
							type="number"
							min="0"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"
							class="form-control not-outline"/>
					</div>	
					
					@* TODO: UsarMismsaVariablesParaEntidadesEnFacetas no existe *@
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="UsarMismsaVariablesParaEntidadesEnFacetas" 
							@(Model.UsarMismsaVariablesParaEntidadesEnFacetas ? "checked" : "")/>
						<label class="custom-control-label" for="RegistroAbiertoEnComunidad">Indica si se debe usar la misma variable para entidades en facetas
								Si su valor es 1, siempre que se haga referencia a una entidad en una consulta de facetas, la variable usada será la misma.
								Ej: ?s ecidoc:author ?author. ?author dc:name ?name.
								?s ecidoc:author ?author. ?author ecidoc:birthDate ?birthDate.
						</label>
					</div>		
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="RegistroAbiertoEnComunidad" 
							@(Model.RegistroAbiertoEnComunidad ? "checked" : "")/>
						<label class="custom-control-label" for="RegistroAbiertoEnComunidad">Indica si es posible registrarse libremente en la comunidad 
							si esta es privada.
						</label>
					</div>	
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				@* Botón de Sistemas *@
				<h3 class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#sistemas"
						aria-expanded="false"
						aria-controls="sistemas">
						@Html.GetText("ADMINISTRACIONBASICA","SISTEMAS")
					</button>
				</h3>
			</div>
			<div id="sistemas" class="collapse" data-parent="#accordion">
				@* Opciones de Sistemas *@
				<div class="card-body">					
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="SiteMapActivado" 
							@(Model.SiteMapActivado ? "checked" : "")/>
						<label class="custom-control-label" for="SiteMapActivado">@Html.GetText("ADMINISTRACIONBASICA","SITEMAPACTIVADO")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="GoogleDrive" 
							@(Model.GoogleDrive ? "checked" : "")/>
						<label class="custom-control-label" for="GoogleDrive">@Html.GetText("DEVTOOLS","LOSRECURSOSSESUBENAGOOGLEDRIVE")</label>
						<small class="form-text text-muted">@Html.GetText("DEVTOOLS","NECESITACONFIGURACIONENSISTEMAS")</small>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="ProyectoSinNombreCortoEnURL"
							@(Model.ProyectoSinNombreCortoEnURL ? "checked" : "")/>
						<label class="custom-control-label" for="ProyectoSinNombreCortoEnURL">@Html.GetText("DEVTOOLS","QUITARLAPARTEDELAURL/COMUNIDAD/NOMBRECOMUNIDAD")</label>
						<small class="form-text text-muted">@Html.GetText("DEVTOOLS","NECESITACONFIGURACIONENSISTEMAS")</small>
					</div>
											
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","SEGUNDOSQUESEDEJANDEINTERVALOENTREUNENVIODENEWSLETTERYOTRO")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","SEGUNDOSQUESEDEJANDEINTERVALOENTREUNENVIODENEWSLETTERYOTRO")"
							type="number"		
							min="10"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"
							value="@(Model.SegundosDormirNewsletterPorCorreo > 0 ? Model.SegundosDormirNewsletterPorCorreo.ToString() : "")"
							id="SegundosDormirNewsletterPorCorreo"
							class="form-control not-outline"/>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="Replicacion" 
							@(Model.Replicacion ? "checked" : "")/>
						<label class="custom-control-label" for="Replicacion">@Html.GetText("DEVTOOLS","INDICASIESTAPERMITIDALAREPLICACIONCONVENCIONALDEGNOSS")</label>
						<small class="form-text text-muted">@Html.GetText("DEVTOOLS","PORDEFECTO,ESTAPERMITIDA")</small>						
					</div>        
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				@* Botón de semántica*@
				<h3 class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#semantica"
						aria-expanded="false"
						aria-controls="semantica">
						@Html.GetText("ADMINISTRACIONBASICA","SEMANTICA")
					</button>
				</h3>
			</div>
			<div id="semantica" class="collapse" data-parent="#accordion">
				@* Opciones de Semántica *@
				<div class="card-body">
				
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="OcultarFacetasDeOntologiasEnRecursosCuandoEsMultiple" 
							@(Model.OcultarFacetasDeOntologiasEnRecursosCuandoEsMultiple ? "checked" : "")/>
						<label class="custom-control-label" for="OcultarFacetasDeOntologiasEnRecursosCuandoEsMultiple">@Html.GetText("DEVTOOLS","OCULTARLASFACETASDEOBJETOSDECONOCIMIENTOYMOSTRARSOLOLASCOMUN")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="TerceraPeticionFacetasPlegadas" 
							@(Model.TerceraPeticionFacetasPlegadas ? "checked" : "")/>
						<label class="custom-control-label" for="TerceraPeticionFacetasPlegadas">@Html.GetText("DEVTOOLS","TERCERAPETICIONDEFACETASTRAELASFACETASPLEGADASHASTAQUEELUSU")</label>
					</div>

					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="TieneGrafoDbPedia" 
							@(Model.TieneGrafoDbPedia ? "checked" : "")/>
						<label class="custom-control-label" for="TieneGrafoDbPedia">@Html.GetText("DEVTOOLS","MOSTRARGRAFODBPEDIAENRECURSOS")</label>
						<small class="form-text text-muted">@Html.GetText("DEVTOOLS","NECESITACONFIGURACIONENSISTEMAS").</small>
					</div>

					@* A eliminar. Ya no se configura, siempre esta activo tras revisión de documentación.
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="TextoInvariableTesauroSemantico" 
							@(Model.TextoInvariableTesauroSemantico ? "checked" : "")/>
						<label class="custom-control-label" for="TextoInvariableTesauroSemantico">@Html.GetText("DEVTOOLS","MANTENERTEXTOTESAUROSEMANTICOINVARIABLE")</label>
					</div>
					*@

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","NUMERODEFACETASQUESEPINTANENLAPRIMERAPETICIONDEFACETAS")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","NUMERODEFACETASQUESEPINTANENLAPRIMERAPETICIONDEFACETAS")"
							type="number"		
							value="@(Model.NumeroFacetasPrimeraPeticion > 0 ? Model.NumeroFacetasPrimeraPeticion.ToString() : "")"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"							
							min="1"
							id="NumeroFacetasPrimeraPeticion"
							class="form-control not-outline"/>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","NUMERODEFACETASQUESEPINTANENLASEGUNDAPETICIONDEFACETAS")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","NUMERODEFACETASQUESEPINTANENLASEGUNDAPETICIONDEFACETAS")"
							type="number"	
							min="0"
							value="@(Model.NumeroFacetasSegundaPeticion > 0 ? Model.NumeroFacetasSegundaPeticion.ToString() : "")"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"							
							id="NumeroFacetasSegundaPeticion"
							class="form-control not-outline"/>
					</div>


					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","PROPIEDADESQUESEDESEANUSARENELALGORITMODEPERSONASRECOMENDADA")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","PROPIEDADESQUESEDESEANUSARENELALGORITMODEPERSONASRECOMENDADA")"
							type="text"				
							id="AlgoritmoPersonasRecomendadas" 
							value="@Model.AlgoritmoPersonasRecomendadas"							
							class="form-control not-outline"/>
							<small class="form-text text-muted">Ej: http://www.w3.org/2006/vcard/ns#locality=4|||http://www.w3.org/2006/vcard/ns#country-name=3</small>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","LISTADEFACETASLENTASQUESEVANAOBTENERDEMANERAASINCRONAPARAQUE")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","LISTADEFACETASLENTASQUESEVANAOBTENERDEMANERAASINCRONAPARAQUE")"
							type="text"				
							id="FacetasCostosasTerceraPeticion" 
							value="@Model.FacetasCostosasTerceraPeticion"							
							class="form-control not-outline"/>
							<small class="form-text text-muted">Ej: ecidoc:p108i_E12_p126_employed_support@@@@@@pm:supportNode|ecidoc:p62_E52_p79_has_time-span_beginning|ecidoc:has_school@@@@@@pm:schoolNode</small>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","PROPIEDADQUEESPECIFICALOSIDIOMASENLOSQUEUNRECURSOESTADESCRIT")</label>
						<input
							placeholder="@Html.GetText("ADMINISTRACIONBASICA","PROPIEDADQUEESPECIFICALOSIDIOMASENLOSQUEUNRECURSOESTADESCRIT")"
							type="text"				
							id="PropiedadContenidoMultiIdioma" 
							value="@Model.PropiedadContenidoMultiIdioma"							
							class="form-control not-outline"/>
							<small class="form-text text-muted">Si está configurada, los usuarios que lleguen en un idioma que no está definido en un recurso, no podrán encontrarlo en las búsquedas ni acceder a su ficha (salvo que se cambien de idioma).
																<br />Ej: dce:language
							</small>
					</div>
					
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="PropiedadCMSMultiIdioma" 
							@(Model.PropiedadCMSMultiIdioma ? "checked" : "")/>
						<label class="custom-control-label" for="PropiedadCMSMultiIdioma">@Html.GetText("DEVTOOLS","PROPIEDADQUESIESTAACTIVADA,LOSUSUARIOSQUELLEGUENENUNIDIOMAQU")</label>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","LISTADEPROPIEDADESENLASQUESEDEBENBUSCARENTIDADESDEDBPEDIA.NO")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","LISTADEPROPIEDADESENLASQUESEDEBENBUSCARENTIDADESDEDBPEDIA.NO")"
							type="text"				
							id="PropiedadesConEnlacesDbpedia" 
							value="@Model.PropiedadesConEnlacesDbpedia"							
							class="form-control not-outline"/>
							<small class="form-text text-muted">Ej: ernews:has_metadata@@@@@@bbvao:name|ernews:has_metadata@@@@@@bbvao:dbpediaUri|bbvao:name|bbvao:dbpediaUri</small>
					</div>
				

					@* A eliminar. Ya no se configura, siempre esta activo tras revisión de documentación.
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","CONDICIONPARAEXCLUIRRECURSOSCUANDOSEBUSQUEDESDEUNMOVIL")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","CONDICIONPARAEXCLUIRRECURSOSCUANDOSEBUSQUEDESDEUNMOVIL")"
							type="text"				
							id="ExcepcionBusquedaMovil" 
							value="@Model.ExcepcionBusquedaMovil"							
							class="form-control not-outline"/>
							<small class="form-text text-muted">Ej:  MINUS { ?s skos:ConceptID ?skosConceptIDexcluida.  FILTER(?skosConceptIDexcluida=gnoss:DA6D3DFD-CA97-4E5B-9D40-7C3BAFD80C16) }</small>
					</div>
					*@

					@* A eliminar. Ya no se configura, siempre esta activo tras revisión de documentación.
					<div class="custom-control custom-checkbox">
						<input
							type="checkbox"
							class="custom-control-input"
							id="PermitirMayusculas" 
							@(Model.PermitirMayusculas ? "checked" : "")/>
						<label class="custom-control-label" for="PermitirMayusculas">@Html.GetText("DEVTOOLS","INDICASISEPUDENPERMITIRLASMAYUSCULASENELGRAFODEBUSQUEDA")</label>
					</div>
					*@
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h3 class="mb-0">
					@* Botón redes sociales*@
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#redes-sociales"
						aria-expanded="false"
						aria-controls="redes-sociales">
						@Html.GetText("ADMINISTRACIONBASICA","REDESSOCIALES")
					</button>
				</h3>
			</div>
			<div
				id="redes-sociales"
				class="collapse"
				data-parent="#accordion">
				@* Sección redes sociales *@
				<div class="card-body">
					
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","LOGINCONFACEBOOKCLIENTIDYCLIENTSECRETDELAAPLICACIONDEFACEBO")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","LOGINCONFACEBOOKCLIENTIDYCLIENTSECRETDELAAPLICACIONDEFACEBO")"
							type="text"				
							id="LoginFacebook" 
							value="@Model.LoginFacebook"							
							class="form-control not-outline"/>
							<small class="form-text text-muted">Ej: id|||579839168702303@@@@@@clientsecret|||b959a4485t0e88182834e4149b5d47c7</small>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","LOGINCONGOOGLECLIENTIDYCLIENTSECRETDELAAPLICACIONDEGOOGLE")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","LOGINCONGOOGLECLIENTIDYCLIENTSECRETDELAAPLICACIONDEGOOGLE")"
							type="text"				
							id="LoginGoogle" 
							value="@Model.LoginGoogle"							
							class="form-control not-outline"/>
							<small class="form-text text-muted">Ej: id|||880006438141-r84hn261rtct92aqe3d5adjlod4umacn.apps.googleusercontent.com@@@@@@clientsecret|||0d8fxeZDl-qV0XRiTnCCB54n</small>
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","LOGINCONTWITTERCLIENTIDYCLIENTSECRETDELAAPLICACIONDETWITTER")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","LOGINCONTWITTERCLIENTIDYCLIENTSECRETDELAAPLICACIONDETWITTER")"
							type="text"				
							id="LoginTwitter" 
							value="@Model.LoginTwitter"							
							class="form-control not-outline"/>
							<small class="form-text text-muted">Ej: consumerkey|||lUwbKMGlYF9H6lPtm4Gkj4AY@@@@@@consumersecret|||2vY81oR1GFCAL818jafYyRglCZaDYUlxf1Z1qq5sUA6jf</small>
					</div>				
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				@* Botón Proyectos *@
				<h3 class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#proyectos"
						aria-expanded="false"
						aria-controls="proyectos">
						@Html.GetText("ADMINISTRACIONBASICA","PROYECTOS")
					</button>
				</h3>
			</div>
			<div id="proyectos" class="collapse" data-parent="#accordion">
				@* Sección Proyectos *@
				<div class="card-body">					
					@* Configuración de proyectos *@
					<div class="form-group mt-4 mb-4 editarProyectos">
						<div class="proyectos-header d-flex justify-content-between align-items-center">
							<h3>@Html.GetText("ADMINISTRACIONPAGINAS","LISTADODEPROYECTOS")</h3>
							<a href="javascript: void(0);" class="linkSetupProjects" style="display: flex; text-decoration: none;">
								<span class="material-icons">settings</span>
								<span class="texto">@Html.GetText("ADMINISTRACIONBASICA","CONFIGURARPROYECTOS")</span>
							</a>
						</div>
						@* Listado de proyectos para su configuración *@
						<div id="confProyectos" class="d-none mt-3">

							@if (Model.ProyectosRegistroObligatorio.Count == 0)
							{
								<h4>No hay proyectos para configurar</h4>
							}
							@foreach (KeyValuePair<string, bool> personalizacion in Model.ProyectosRegistroObligatorio)
							{
								if (personalizacion.Value)
								{
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input comSinRegistro"
											id="@personalizacion.Key" 
											value="@personalizacion.Key"/>
										<label class="custom-control-label" for="@personalizacion.Key">@personalizacion.Key</label>
									</div>								
								}
								else
								{
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input comSinRegistro"
											id="@personalizacion.Key" 
											value="@personalizacion.Key"/>
										<label class="custom-control-label" for="@personalizacion.Key">@personalizacion.Key</label>
									</div>									
								}
						}
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				@* Botón Estilos *@
				<h3 class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#estilos"
						aria-expanded="false"
						aria-controls="estilos">
						@Html.GetText("ADMINISTRACIONBASICA","ESTILOS")
					</button>
				</h3>
			</div>
			<div id="estilos" class="collapse" data-parent="#accordion">
				@* Sección de Estilos *@
				<div class="card-body">
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("ADMINISTRACIONBASICA","CONFIGURACIONDELARUTADEESTILOS.")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","RUTADEESTILOS")"
							type="text"				
							id="RutaEstilos" 
							value="@Model.RutaEstilos"							
							class="form-control not-outline"/>							
					</div>           
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				@* Botón Service Bus *@
				<h3 class="mb-0">
					<button
						class="btn btn-link"
						data-toggle="collapse"
						data-target="#service-bus"
						aria-expanded="true"
						aria-controls="service-bus">
						Service Bus
					</button>
				</h3>
			</div>
			<div id="service-bus" class="collapse" data-parent="#accordion">
				@* Área Service Bus *@
				<div class="card-body">
					
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","SEGUNDOSAESPERARTRASLASIGUIENTECOMPROBACIONENSERVICEBUS")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","SEGUNDOSAESPERARTRASLASIGUIENTECOMPROBACIONENSERVICEBUS")"
							type="number"				
							id="ServiceBusSegundos" 
							min="0" pattern="^[0-9]+"
							value="@Model.ServiceBusSegundos"							
							class="form-control not-outline"/>							
					</div>

					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS","NUMERODEREINTENTOSPARACOGERELFICHEROCONFIGURADOCONSERVICEBUS")</label>
						<input
							placeholder="@Html.GetText("DEVTOOLS","NUMERODEREINTENTOSPARACOGERELFICHEROCONFIGURADOCONSERVICEBUS")"
							type="number"				
							id="ServiceBusReintentos" 
							min="0" pattern="^[0-9]+"
							value="@Model.ServiceBusReintentos"							
							class="form-control not-outline"/>							
					</div>                               
				</div>
			</div>
		</div>
	</div>
	@* Botón de guardado *@
	<a id="btnSave" href="javascript: void(0);" class="btn btn-primary uppercase mt-4">@Html.GetText("COMMON","GUARDAR")</a>
</div>


@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/configuracion.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento de Configuración buzón de correo
            operativaGestionConfiguracionMetaAdministrador.init();
        })();
    </script>
}