@model List<AdministrarPaginaVersionViewModel>
@{
    UserIdentityModel nombre = Html.GetIdentidadActual();
    bool puedeRestaurar = ViewBag.RestaurarVersionPaginaPermitido ?? false;
    bool puedeEliminar = ViewBag.EliminarVersionPaginasPermitido ?? false;
    int versionCont = Model.Count;
}
<div class="modal-header">
    <p class="modal-title">
        <span class="material-icons">history</span>
        @Html.GetText("DEVTOOLS", "HISTORIALCONFIGURACION")
    </p>
    <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
</div>
<div class="modal-body">
    <table class="display nowrap table table-sm tabla-versiones">
        <thead>
            <tr>
                <th></th>
                <th>@Html.GetText("HISTORIALVERSIONES", "VERSION")</th>
                <th>@Html.GetText("DEVTOOLS", "REVISION")</th>
                <th>@Html.GetText("DEVTOOLS", "EDITOR")</th>
                <th>@Html.GetText("DEVTOOLS", "COMENTARIO")</th>
                <th>@Html.GetText("DEVTOOLS", "RESTAURAR")</th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 1;
                foreach (AdministrarPaginaVersionViewModel version in Model.OrderByDescending(item => item.FechaModificacion))
                {
                    string config = "configuracion" + version.VersionID + cont;
                    string fechaversionMinuto = version.FechaModificacion.ToString("dd/MM/yyyy HH:mm");
                    <tr>
                        <td>
                            <div class="check-wrapper">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input version-check" id="@config"
                                           data-version-id="@version.VersionID" />
                                    <label class="custom-control-label" for="@config"></label>
                                </div>
                            </div>
                        </td>
                        <td class="pl-4">@versionCont</td>
                        <td>@fechaversionMinuto</td>
                        <td>@nombre.PersonName</td>
                        <td>@version.Comentario</td>
                        <td data-version-id="@version.VersionID">
                            @if (cont == 1)
                            {
                                @Html.GetText("HISTORIALVERSIONES", "VERSIONACTUAL")
                            }
                            else
                            {
                                <div class="dropdown position-relative">
                                    <a class="nav-link dropdown-toggle btn btn-outline-grey" data-toggle="dropdown">
                                        <span class="material-icons">more_vert</span>
                                        <span class="texto">@Html.GetText("ADMINISTRACIONBASICA", "ACCIONES")</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right basic-dropdown">
                                        @if (puedeRestaurar)
                                        {
                                            <a class="item-dropdown btnCompare" data-version-id="@version.VersionID">
                                                <span class="material-icons">restore</span>
                                                @Html.GetText("HISTORIALVERSIONES", "RESTAURAR")
                                            </a>
                                        }
                                        @if (puedeEliminar)
                                        {
                                            <a class="item-dropdown btnEliminarVersionPagina" data-version-id="@version.VersionID" data-toggle="modal" data-target="#modal-borrar-version-pagina-configuracion">
                                                <span class="material-icons">delete</span>
                                                @Html.GetText("DEVTOOLS", "BORRAR")
                                            </a>
                                        }
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                    cont++;
                    versionCont--;
                }
            }
        </tbody>
    </table>
    <div class="panelBotonera">
        <a class="btn btn-primary uppercase btnCompare">@Html.GetText("HISTORIALVERSIONES", "COMPARAR")</a>
    </div>
</div>