@model AdministrarPestanyasViewModel

@*
Descripción
-----------------------------------------------
Vista modal que se utilizará para poder mover una página/pestaña faceta debajo de una ya existente a través de un ComboBox.
Esta acción falicitará al usuario el movimiento de una página siempre y cuando haya una gran cantidad de páginas en la comunidad.

Variables
----------------------------------------------------------------
*@

@{                         
}

@* Modal con la información de la pagina *@
<div id="modal-move-pagina"
     class="modal modal-top fade modal-move-pagina"     
     role="dialog"
     aria-modal="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @* Título del modal *@
            <div class="modal-header">
                <p class="modal-title">
                    <span class="material-icons">move_up</span>
                    @Html.GetText("DEVTOOLS","MOVERPAGINA") <span class="move-page-title"></span>
                </p>
                <span class="material-icons cerrar"
                      data-dismiss="modal"
                      aria-label="Close">close</span>
            </div>
            <div class="modal-body">                
                <div class="form-group">
                    <label class="control-label">
                        Define la posición exacta de la página eligiendo su ubicación específica en este menú desplegable. Asigna con precisión la página que quedará directamente debajo de ella.
                    </label>
                </div>

                @* Elementos visibles *@
                <div class="form-group mb-3">
                    @* Select de la lista de facetas *@
                    <div class="form-group mb-2">
                        <label class="control-label d-block">Mover la página debajo de:</label>
                        <select name="listaPaginas"
                                class="cmbListaPaginas js-select2"
                                tabindex="0"
                                data-select-search="true"
                                aria-hidden="false">

                            @* Pintado de cada Página - Pintarlo en Front
                            @foreach (TabModel pestanya in Model.ListaPestanyas.Where(p => p.ParentTabKey == Guid.Empty).OrderBy(p2 => p2.Order))
                            {
                                PintarPestanyaAdministrar pintar = new PintarPestanyaAdministrar();
                                pintar.pestanya = pestanya;
                                pintar.ListaPestanyas = Model.ListaPestanyas;

                                <option class="pagina-item"
                                        value="@(Html.ObtenerTextoDeIdioma(pintar.pestanya.Name))"
                                        name="@(pintar.pestanya.Key)">
                                    @Html.ObtenerTextoDeIdioma(pintar.pestanya.Name)
                                </option>                                
                            }*@

                        </select>
                        <small class="form-text text-muted">
                            @Html.GetText("DEVTOOLS","LAPAGINAQUEQUEDARADIRECTAMENTEDEBAJODELASELECCIONADA")
                        </small>
                    </div>
                </div>

                @* Botón para guardar la acción de mover *@
                <div class="panelBotonera">
                    @if (Html.GetComunidad().DeshabilitarGuardarAdministracionIC)
                    {
                        @* No permitir guardar *@
                        <input type="button" disabled title="@Html.GetComunidad().MensajeAvisoAdministracionIC" class="btn btn-primary uppercase btnNoSavePaginaMove" value="@Html.GetText("COMMON","GUARDAR")" />
                    }
                    else
                    {
                        @* Permitir guardar *@
                        <input type="button" class="btn btn-primary uppercase btnSavePaginaMove" value="@Html.GetText("COMMON","GUARDAR")" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
