@model Es.Riam.Gnoss.Web.MVC.Models.Administracion.AdministrarSearchViewModel


@*
Descripción
-----------------------------------------------
Vista para administrar/visualizar las páginas existentes en la comunidad.

Variables
----------------------------------------------------------------
*@

@{
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	// Referencia al AdministrarSearchViewModel para ser usado en la cabecera
	ViewBag.AdministrarSearchViewModel = Model;

	// Tags autocompletar para propiedades y textoLibre
	string tagsAutocompletar = "";
	string tagsAutoCompletarHtml = "";
	string tagsTextoLibre = "";
	string tagsAutoCompletarTextoLibreHtml = "";
	string tagsTextoPropiedadesEnTextoLibre = "";

	// Tags Propiedades
	if (Model.TagsAutocompletar.Length > 0)
	{
		tagsAutocompletar += Model.TagsAutocompletar + ",";
	}

	@* Tags de propiedades *@
	foreach (string item in Model.TagsAutocompletar.Split(","))
	{
		if (!string.IsNullOrEmpty(item))
		{
			string tagId = @Guid.NewGuid().ToString().Substring(0,5);				
			tagsAutoCompletarHtml += "<div class='tag' id='"+ tagId + "' title='"+ item +"'>";
			tagsAutoCompletarHtml += "<div class='tag-wrap'>";
			tagsAutoCompletarHtml += "<span class='tag-text'>"+ item +"</span>";
			tagsAutoCompletarHtml += "<span class='tag-remove tag-remove-property-autocomplete material-icons remove'>close</span>";
			tagsAutoCompletarHtml += "</div>";												
			tagsAutoCompletarHtml += "</div>"; 			
		}		
	}

	// Tags Texto libre
	tagsTextoLibre += Model.TagsTxtLibre;

	// Añadir a los tags de Texto libre, los tags de autocompletar
	if (Model.TagsAutocompletar.Length > 0)
	{
		tagsTextoLibre += $"{tagsAutocompletar},";
	}

	@* Tags de textoLibre *@
	foreach (string item in Model.TagsTxtLibre.Split(","))
	{
		if (!string.IsNullOrEmpty(item)){
			string tagId = @Guid.NewGuid().ToString().Substring(0,5);				
			tagsAutoCompletarTextoLibreHtml += "<div class='tag' id='"+ tagId + "' title='"+ item +"'>";
				tagsAutoCompletarTextoLibreHtml += "<div class='tag-wrap'>";
					tagsAutoCompletarTextoLibreHtml += "<span class='tag-text'>"+ item +"</span>";
					tagsAutoCompletarTextoLibreHtml += "<span class='tag-remove tag-remove-text-autocomplete material-icons remove'>close</span>";
				tagsAutoCompletarTextoLibreHtml += "</div>";												
			tagsAutoCompletarTextoLibreHtml += "</div>"; 			
		}
	}

	@* Tags de Autocompletar que deben estar en textoLibre *@
	foreach (string item in Model.TagsAutocompletar.Split(","))
	{
		if (!string.IsNullOrEmpty(item))
		{
			string tagId = @Guid.NewGuid().ToString().Substring(0,5);				
			tagsTextoPropiedadesEnTextoLibre += "<div class='tag' id='"+ tagId + "' title='"+ item +"'>";
				tagsTextoPropiedadesEnTextoLibre += "<div class='tag-wrap'>";
					tagsTextoPropiedadesEnTextoLibre += "<span class='tag-text'>"+ item +"</span>";					
				tagsTextoPropiedadesEnTextoLibre += "</div>";												
			tagsTextoPropiedadesEnTextoLibre += "</div>"; 			
		}		
	}
}
    @* Migas de Pan *@
    <div class="col col-12 col-breadcrumb">
        <ul>
            <li>
                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
            </li>
            <li>
                <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/descubrimiento-analisis">@Html.GetText("DEVTOOLS","DESCUBRIMIENTOYANALISIS")</a>
            </li>
            <li>
                 @Html.GetText("DEVTOOLS","SUGERENCIASDEBUSQUEDA")
            </li>
        </ul>
    </div>

    @* Contenido Central *@    
    <div class="formulario-edicion background-blanco">        
		<div id="header-title" class="d-flex align-items-baseline justify-content-between">
			<h2>@Html.GetText("DEVTOOLS","SUGERENCIASDEBUSQUEDA")</h2>
			<a id="btnRegenerarAutocomplete" href="javascript: void(0);" class="btn btn-outline-primary">@Html.GetText("DEVTOOLS","REGENERARAUTOCOMPLETAR")</a>
		</div>
        <p>@Html.GetText("DEVTOOLS","ENESTAPAGINASECONFIGURANLASPROPIEDADESDELAUTOCOMPLETADOYDELA")</p>
        <div class="background-gris">
            <h3>@Html.GetText("DEVTOOLS","PROPIEDADESPARAAUTOCOMPLETAR")</h3>
			@* Panel seleccíón de palabras para autocompletar *@
			<div class="form-group mb-3">																	
				<label class="control-label d-block">
					@Html.GetText("DEVTOOLS","PALABRASPARAUTILIZARENAUTOCOMPLETAR")
				</label>
				@* Contenedor del input + tags *@
				<div class="autocompletar-tags form-group">
					<div class="form-sticky-button autocompletar input-wrap">
						@* Input de Tags *@
						<input type="text"
								name="PropiedadAutocompletar"
								placeholder="Introduce una propiedad para autocompletar ..."
								data-avoid-autocomplete-with-enter-button="true"
								id="txtPropiedadAutocompletar"
								class="form-control"														
								autocomplete="off" />																		

						@* Botón de Añadir *@
						<a id="btnAddPropiedadAutocompletar" class="btn btn-grey uppercase btnAddPropiedadAutocompletar">@Html.GetText("ADMINISTRACIONBASICA","AÑADIR")</a>

						@* Campo oculto _hack *@													
						<input type="hidden" id="txtPropiedadAutocompletar_Hack" class="valores propiedadesAutocompletar" name="PropiedadesAutocompletar" value="@tagsAutocompletar" />					
					</div>
					<small class="form-text text-muted mb-3">@Html.GetText("DEVTOOLS","LOSVALORESDEESTASPROPIEDADESSEUSARANPARAGENERARLASSUGERENCIA")</small>
					@* Tags/ propiedades autocompletar añadidas por el usuario o por auto *@
					<span id="tagsContainer_autocompletar" class="contenedor tag-list mb-4">
						@Html.Raw(tagsAutoCompletarHtml)
					</span>
				</div>	
			</div>
        </div>

		@* Propiedades para búsquedas por texto libre*@
        <div class="background-gris mt-4">
            <h3>@Html.GetText("DEVTOOLS","PROPIEDADESPARABUSQUEDASPORTEXTOLIBRE")</h3>
			@* Panel seleccíón de palabras por texto libre *@
			<div class="form-group mb-3">																	
				<label class="control-label d-block">
					@Html.GetText("DEVTOOLS","PALABRASPARABUSQUEDASPORTEXTOLIBRE")
				</label>
				@* Contenedor del input + tags *@
				<div class="autocompletar-tags form-group">
				<div class="form-sticky-button autocompletar input-wrap">
						@* Input de Tags *@
						<input type="text"
								name="PropiedadPalabraTextoLibre"
								placeholder="@Html.GetText("DEVTOOLS","INTRODUCEUNAPROPIEDADPARABUSQUEDAPORTEXTOLIBRE")"
								id="txtPropiedadPalabrasTextoLibre"
								class="form-control"														
								autocomplete="off" />												

						@* Botón de Añadir *@
						<a id="btnAddPropiedadPalabrasTextolLibre" class="btn btn-grey uppercase btnPropiedadPalabrasTextolLibre">@Html.GetText("ADMINISTRACIONBASICA","AÑADIR")</a>

						@* Campo oculto _hack *@													
						<input type="hidden" id="txtPropiedadPalabrasTextoLibre_Hack" class="valores propiedadPalabrasTextolLibre" name="PropiedadPalabrasTextoLibre" value="@tagsTextoLibre" />
					
					</div>
					@* Tags/ propiedades autocompletar añadidas por el usuario o por auto *@
					<span id="tagsContainer_autocompletar" class="contenedor tag-list mb-4">						
						@Html.Raw(tagsAutoCompletarTextoLibreHtml)
						@Html.Raw(tagsTextoPropiedadesEnTextoLibre)
					</span>
				</div>	
			</div>
        </div>
				
		@* Sección botón de guardado y cierre del modal *@
		<div class="panelBotonera mt-5">
			<a id="btnGuardarAutocompletar" class="btn btn-primary uppercase">@Html.GetText("COMMON","GUARDAR")</a>
		</div>
							
    </div>





@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/descubrimiento_analisis.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento
            operativaGestionSugerenciasDeBusqueda.init();
        })();
    </script>
}