@model AdministrarPaginaCMSHistorialViewModel
@{
    AdministrarPaginaCMSVersionViewModel paginaActual = Model.PaginasVersiones.OrderByDescending(item => item.FechaModificacion).First();
    bool puedeRestaurar = ViewBag.RestaurarVersionPaginaPermitido ?? false;
    bool puedeEliminar = ViewBag.EliminarVersionPaginaPermitido ?? false;
    int version = Model.PaginasVersiones.Count;
}

@*
    ----------------------------------------------------------------
    -------------------- Vista Modal ver el historial de un Recurso --------------------
*@

<div class="modal-header">
    <p class="modal-title">
        <span class="material-icons">history</span>@Html.GetText("COMPARARVERSIONES", "HISTORIAL")
    </p>
    <span class="material-icons cerrar"
          data-dismiss="modal"
          aria-label="Close">close</span>
</div>
<div class="modal-body">
    @* Tabla con las versiones del componente  *@
    <table class="display nowrap table table-sm tabla-versiones-estructura-pagina" id="panHistorial_table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.GetText("HISTORIALVERSIONES", "VERSION")</th>
                <th>@Html.GetText("HISTORIALVERSIONES", "REVISION")</th>
                <th>@Html.GetText("HISTORIALVERSIONES", "EDITOR")</th>
                <th>@Html.GetText("COMMON", "COMENTARIO")</th>
                <th>@Html.GetText("COMMON", "ACCIONES")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AdministrarPaginaCMSVersionViewModel pagina in Model.PaginasVersiones.OrderByDescending(recurso => recurso.FechaModificacion))
            {
                <tr>
                    @* Columnas de DataTables*@
                    @* REVISION *@
                    <td>
                        <div class="check-wrapper">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input version-check" data-version-id="@pagina.VersionID" id="@pagina.VersionID">
                                <label class="custom-control-label" for="@pagina.VersionID"></label>
                            </div>
                        </div>
                    </td>
                    <td class="pl-4">@version</td>
                    @* FECHA*@
                    <td>@pagina.FechaModificacion.ToString("dd/MM/yyyy HH:mm")</td>
                    @* AUTOR *@
                    <td>@pagina.Autor</td>
                    <td>@pagina.Comentario</td>
                    @* RESTAURAR *@
                    <td>
                        @if (pagina.VersionID == paginaActual.VersionID)
                        {
                            @Html.GetText("HISTORIALVERSIONES", "VERSIONACTUAL")
                        }
                        else
                        {
                            <div class="dropdown position-relative">
                                <a class="nav-link dropdown-toggle btn btn-outline-grey" data-toggle="dropdown">
                                    <span class="material-icons">more_vert</span>
                                    <span class="texto">@Html.GetText("ADMINISTRACIONBASICA", "ACCIONES")</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right basic-dropdown">
                                    @if (puedeRestaurar)
                                    {
                                        <a class="item-dropdown btnCompare" data-target="#modal-comparar-estructura"
                                           data-toggle="modal" data-version-id="@pagina.VersionID" data-version-actual-id="@paginaActual.VersionID" data-pestanya-id="@pagina.PestanyaID">
                                            <span class="material-icons">restore</span>
                                            @Html.GetText("HISTORIALVERSIONES", "RESTAURAR")
                                        </a>
                                    }
                                    @if (puedeEliminar)
                                    {
                                        <a class="item-dropdown btnEliminarVersionPagina" data-version-id="@pagina.VersionID" data-toggle="modal" data-target="#modal-borrar-version-pagina-estructura">
                                            <span class="material-icons">delete</span>
                                            @Html.GetText("DEVTOOLS", "BORRAR")
                                        </a>
                                    }
                                </div>
                            </div>
                            

                        }
                    </td>
                </tr>
                version--;
            }
        </tbody>
    </table>

    <div class="panelBotonera">
        <a class="btn btn-primary uppercase btnCompare"
           data-pestanya-id="@paginaActual.PestanyaID"
           disabled>@Html.GetText("HISTORIALVERSIONES", "COMPARAR")</a>
    </div>
</div>