@model List<CookieModel>
@using Es.Riam.Gnoss.AD.EntityModel.Models.Cookies;

@{ 
    string[] listaNombreCookiesGoogle = new string[] { "_ga", "__utma", "__utmt", "__utmc", "__utmz", "__utmv" };
    string[] listaNombreCookiesYoutube = new string[] { "NID", "VISITOR_INFO1_LIVE", "PREF", "YSC" };
}

<h1>@Html.GetText("COMADMINCOOKIES", "NOMBRECOOKIEPROYECTO")</h1>
<p>
    @Html.GetText("COMADMINCOOKIES", "INFOTITULOCOOKIEPROYECTO")
</p>

<div class="panAniadir">
    @Html.GetText("COMADMINCOOKIES", "SELECCIONATIPO")
    <select class="cmbAddCookie">
        <option value="11111111-1111-1111-1111-111111111111_@Html.GetText("COMADMINCOOKIES", "CATEGORIACOOKIE")">@Html.GetText("COMADMINCOOKIES", "CATEGORIACOOKIE")</option>
        @foreach (CategoriaProyectoCookie categoriaCookie in Model.FirstOrDefault().ListaCategoriaProyectoCookie)
        {
            string cookieCategoriaId_Nombre = $"{categoriaCookie.CategoriaID}_{categoriaCookie.Nombre}";
            <option value="@cookieCategoriaId_Nombre">@Html.ObtenerTextoIdiomaUsuario(categoriaCookie.Nombre)</option>
        }
    </select>
    <input type="button" class="addCookie" value="@Html.GetText("COMADMINCOOKIES", "ADDCOOKIE")" />
    @if (Model.Where(item => listaNombreCookiesGoogle.Contains(item.ProyectoCookie.Nombre)).FirstOrDefault() == null)
    {
        <input type="button" class="addCookieAnalytics" value="@Html.GetText("COMADMINCOOKIES", "ADDCOOKIEANALYTICS")" />
    }
    @if (Model.Where(item => listaNombreCookiesYoutube.Contains(item.ProyectoCookie.Nombre)).FirstOrDefault() == null)
    {
        <input type="button" class="addCookieYoutube" value="@Html.GetText("COMADMINCOOKIES", "ADDCOOKIEYOUTUBE")" />
    }

</div>
<ol class="table" id="sortableCookie">
    @foreach (CookieModel cookie in Model.OrderBy(item => item.ProyectoCookie.Tipo))
    {
        @Html.PartialView("_EdicionCookieProyecto", cookie)
    }
</ol>
@if (Html.GetComunidad().IntContActivadaSinRamaEnUso || !Html.GetComunidad().UsuarioDadoAltaIntCont || Html.GetComunidad().EntornoBloqueado)
{
    <input type="button" style="background-color: gray;" disabled class="guardarTodo" value="@Html.GetText("COMADMINCOOKIES", "GUARDARTODO")" />
}
else
{
    <input type="button" class="guardarTodo" value="@Html.GetText("COMADMINCOOKIES", "GUARDARTODO")" />
}