@model List<CookieModel>
@using Es.Riam.Gnoss.AD.EntityModel.Models.Cookies;

@*
Descripción
-----------------------------------------------
Vista que muestra el listado de las cookies de la comunidad. Esta vista se utiliza directamente en el index.

Variables
----------------------------------------------------------------
*@

@{

}

@* Contenido o tabla con las cookies de la comunidad *@
<div class="col col-12 col-contenido">
	<div class="wrapCol">
		@* Cabecera del listado de cookies *@
		<ul id="id-header-cookies-list" class="header-component-list component-list no-list-style">
			<li class="component-wrap">
				@* Cabecera de Cookies *@
				<div class="component ">
					<div class="component-header-wrap">
						<div class="component-header">
							<div class="component-sortable js-component-sortable-page">
								<span class="material-icons-outlined sortable-icon">drag_handle</span>
							</div>
							@* Sección títulos de listado de cookies *@
							<div class="component-header-content">
								<div class="component-header-left">
									<div class="component-name-wrap">
										<span class="component-name">@Html.GetText("DEVTOOLS","COOKIE")</span>
									</div>
									<div class="component-tipo-wrap">
										<span class="component-tipo">@Html.GetText("ADMINISTRACIONBASICA","TIPO")</span>
									</div>
									<div class="component-fecha-wrap">
										<span class="component-fecha">@Html.GetText("ADMINISTRACIONSEMANTICA","FECHA")</span>
									</div>
								</div>
								<div class="component-header-right">
									<div class="component-actions-wrap">
										<span>@Html.GetText("ADMINISTRACIONBASICA","ACCIONES")</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>

		@* Contenido de cookies *@
		<ul id="id-added-cookies-list" 
			class="js-community-cookies-list component-list no-list-style">

			@* Pintado de cada cookie *@							
			@foreach (CookieModel cookie in Model.OrderBy(item => item.ProyectoCookie.Tipo))
			{
				@Html.PartialView("_EdicionCookieProyecto", cookie)
			}
		</ul>
	</div>
</div>