@model AdministrarCookiesViewModel
@using Newtonsoft.Json;
@using Es.Riam.Gnoss.AD.EntityModel.Models.Cookies;
@using System.Linq;

@*
Descripción
-----------------------------------------------
Vista index donde se muestra el listado con de las categorías y cookies de un determinado proyecto.

Variables
----------------------------------------------------------------
*@

@{
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	// Carga de idiomas de la plataforma
	string idiomas = "";
	// Contador del nº de pestañas listadas
	int contNumPestañasVisibles = 0;
	// Nº de pestañas de idiomas a visualizar en la sección Tab
	int numMaxPestañasIdiomasVisibles = 2;		
	// Referencia al AdministrarCookiesViewModel para el botón de tipo de pintado de tipo cookies
	ViewBag.AdministrarCookiesViewModel = Model;
}


@{
    @* Carga de idiomas *@
    foreach (string idiomaKey in Model.ListaIdiomas.Keys)
    {
        idiomas += idiomaKey + "|" + Model.ListaIdiomas[idiomaKey] + "&&&";
    }     
}

<input type="hidden" id="idiomasComunidad" value="@idiomas" />
<input type="hidden" value="@Model.IdiomaPorDefecto" id="idiomaDefecto"/>



    @* Migas de Pan *@
    <div class="col col-12 col-breadcrumb">
        <ul>
            <li>
                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
            </li>
            <li>
                <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/configuracion">@Html.GetText("DEVTOOLS","CONFIGURACION")</a>
            </li>
            <li>
                @Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCOOKIESCOM")
            </li>
        </ul>
    </div>

    @* Contenido Central *@
    <div class="formulario-edicion background-blanco">       
		@* Panel de idiomas *@	
		<ul class="nav nav-tabs @( (cabecera.Languajes.Count > 1) ? "" : "d-none")" id="tabIdiomasPaginas" role="tablist">
			@* Títulos de Tabs con los diferentes idiomas a visualizar. *@
				@foreach (KeyValuePair<string, string> idioma in cabecera.Languajes){
					if (contNumPestañasVisibles < numMaxPestañasIdiomasVisibles) {
						<li class="nav-item">
							<a  class="tabIdiomaItem nav-link @( Model.IdiomaPorDefecto == idioma.Key ? "active" : null)" 
								id="@("ver_paginas_" + idioma.Key)" data-toggle="tab" href="#@("litVer" + idioma.Key)" 
								data-language = "@idioma.Key"
								role="tab" aria-controls="@("litVer" + idioma.Key)"
								aria-selected="true">@Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", idioma.Value)</a>
						</li>
						contNumPestañasVisibles += 1;
					}				
				}
				@* Controlar si es necesario mostrar el resto de categorías en un DropDown *@
				@if (contNumPestañasVisibles < cabecera.Languajes.Count){
					@* Dropdown para resto de categorías *@
					<li class="nav-item">
						<div class="dropdown">
							@* Desplegable del dropdown *@
							<a
								class="nav-link dropdown-toggle"
								data-toggle="dropdown"
								href="#"
								role="button"
								aria-haspopup="true"
								aria-expanded="false"
								>@Html.GetText("DEVTOOLS","OTROSIDIOMAS")</a>
							@* Sección para mostrar items del dropdown*@
							<div class="dropdown-menu dropdown-menu-left basic-dropdown dropdown-idiomas">
								<ul class="no-list-style">
									@* Pintado del resto de pestañas en Dropdown *@									
									@for (int i = contNumPestañasVisibles; i< cabecera.Languajes.Count; i++) {
										var item = cabecera.Languajes.ElementAt(i);
										var itemKey = item.Key;
										var itemValue = item.Value;

										@* Cada item del dropdown *@
										<li>
											<a id="@("ver_paginas_" + itemKey)" 
											   class="item-dropdown tabIdiomaItem @( Model.IdiomaPorDefecto == itemKey ? "active" : null)"
											   data-toggle="tab"
											   href="#@("litVer" + itemKey)"
											   data-language = "@itemKey">
											   @Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", itemValue)</a>
										</li>
									}
								</ul>
							</div>
						</div>
					</li>
				}
		</ul>

		@* Contenedor global de cookies *@
		<div class="tab-content">	
			@* Contenido de las diferentes cookies *@
			<div id="panelListadoCookies" 
				class="tab-pane fade show active" 
				role="tabpanel" 
				aria-labelledby="panelListadoCookies">

				@* Contenedor del Título de la Sección + Buscador *@
				<div class="row">
					@* Título de la sección de cláusulas + Nº de páginas *@
					<div class="col col-12 header-listado">
						<div class="h1-container">
							<h1>@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCOOKIESCOM")
								<span id="numCookies" class="numResultados"></span>
							</h1>
						</div>

						@* Botón para "Ver Categorías" y "Crear cookie" *@						
						<div class="acciones d-flex align-items-center">
							@* Botón para ver categorías *@
							<a id="btnVerCategorias" href="javascript: void(0);" class="btn btn-outline-primary mr-2">
								<span class="material-icons">account_tree</span>
								<span class="texto">@Html.GetText("DEVTOOLS","VERCATEGORIAS")</span>
							</a>
							@* Botón para crear Cookie *@
							@Html.PartialView("../Shared/Layout/_partial-views/_layout-add-cookie", Model)							
						</div>
					</div>

					@* Buscador de cookies *@
					<div class="col col-12 header-buscador">
						<div class="wrapCol">
							<div class="col-buscador" style="width: 100%">					
							@* Formulario para búsquedas de cookies *@
								<form id="formBuscadorCookies" onsubmit="return false;">								
									<div class="finderUtils" id="divCajaBusqueda">
										<div class="group finderSection">
											@* Input para realizar la búsqueda de páginas *@
											<input
												type="text"
												id="txtBuscarCookie"
												class="not-outline finderSectionText"
												autocomplete="off"
												placeholder="@Html.GetText("DEVTOOLS","BUSCARENLASECCION")"
											/>
											@* Botón para realizar la búsqueda *@
											<input
												title="Buscar"
												type="button"
												class="findAction"
												id="inputLupa"
											/>
											@* Botón para Facetas de la búsqueda *@
											<a href="javascript: void(0);" class="btn-filtrar-movil">
												<span class="material-icons">filter_list</span>
												<span class="texto">@Html.GetText("DEVTOOLS","FILTRAR")</span>											
											</a>
										</div>
									</div>								
								</form>
							</div>
						</div>
					</div>

					@* Contenedor de Categorías de Cookies de la comunidad *@	
					<div id="cookiesCategoryContainer" class="col col-12 cookiesCategoryContainer d-none">
					@Html.PartialView("_CategoriasCookies", Model.ListaCategoriaProyectoCookie)
					</div>
					
					@* Cookies de la comunidad *@					
					@Html.PartialView("_CookiesProyecto", Model.ListaProyectoCookie)
					
				</div>
			</div>		
		</div> 
		@* Botón para guardado de cookies Youtube / Google *@
		<a href="javascript: void(0);" class="btn btn-primary uppercase btnGuardarCookiesYoutubeGoogle d-none">
            @Html.GetText("DEVTOOLS","GUARDARCOOKIESYOUTUBE/GOOGLE")
        </a>		
    </div>



@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/configuracion.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento de Cookies
            operativaGestionCookies.init();
        })();
    </script>
}
