@model Es.Riam.Gnoss.Web.MVC.Models.Administracion.BorradoMasivoViewModel

@*
Descripción
-----------------------------------------------
Vista index donde se muestran los diferentes ontologías para proceder al borrado masivo de recursos.

Variables
----------------------------------------------------------------
*@

@{
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
}
@*

*@

@* Migas de Pan *@
<div class="col col-12 col-breadcrumb">
    <ul>
        <li>
            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
        </li>
        <li>
            <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/grafo-conocimiento">@Html.GetText("DEVTOOLS","GRAFODECONOCIMIENTO")</a>
        </li>
        <li>
            @Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRABORRADOMASIVO")
        </li>
    </ul>
</div>

@* Contenido Central *@
<div class="formulario-edicion background-blanco">       	
	@* Contenedor del Título de la Sección + Buscador *@
	<div class="row">
		@* Título de la sección de cláusulas + Nº de páginas *@
		<div class="col col-12 header-listado mb-0">
			<div class="h1-container">
				<h1>@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRABORRADOMASIVO")</h1>
				<p class="mt-3 mb-0">@Html.GetText("DEVTOOLS","BORRADOMASIVODERECURSOSSUBIDOSALACOMUNIDADDEUNADETERMINADAON")</p>
			</div>
		</div>
	
		<div class="col col-12 col-contenido">
			<div class="wrapCol">
				@* Aviso de borrado *@
				<div class="alert alert-danger" role="alert">
					<p class="titulo">
						@Html.GetText("ADMINISTRACIONDESARROLLADORES","¡CUIDADO!SIEJECUTASELBORRADO,SEBORRARANTODOSLOSRECURSOSDELAO")
					</p>
				</div>
				@* Tabla de borrado de items *@
				<table class="display nowrap table table-sm tabla-borrado">
					<thead>
						<tr>
							<th class="th-checkbox">
								<a id="btnDeleteAllSelected" href="javascript: void(0);" class="btn btn-outline-grey">
									<span class="material-icons">delete</span>
									@Html.GetText("DEVTOOLS","ELIMINARSELECCIONADOS")
									<span class="numResultados"></span>
								</a>
							</th>
							@* Header de la tabla *@
							<th class="th-titulo">@Html.GetText("ADMINISTRACIONSEMANTICA","ONTOLOGIA")</th>
							<th class="th-recursos">@Html.GetText("ADMINISTRACIONBASICA","RECURSOS")</th>
							<th class="th-fecha">@Html.GetText("ADMINISTRACIONSEMANTICA","FECHA")</th>
							<th class="th-acciones">@Html.GetText("ADMINISTRACIONBASICA","ACCIONES")</th>
						</tr>
					</thead>
					<tbody>
						@* Pintado de cada ontología de recursos a borrar *@																				
						@foreach(Guid ontologia in Model.OntologiaABorrar.Keys)
						{							
							<tr class="row-ontologyMassiveItem" data-value="@ontologia">
								@* Columna vacía de ontología *@
								<td class="td-checkbox">
									<div class="custom-control custom-checkbox">
										<input
											id="@ontologia"
											data-value="@ontologia"
											type="checkbox"
											class="custom-control-input ckboxDeleteOntologyMassive"
										/>
										<label class="custom-control-label" for="@ontologia"></label>
									</div>
								</td>
								@* Nombre de la ontología *@
								<td class="td-titulo">@Model.OntologiaABorrar[ontologia]</td>
								@* Nº de recursos de la ontología *@
								<td class="td-recursos">XXX</td>
								@* Fecha *@
								<td class="td-fecha">29/09/2022</td>
								@* Acciones disponibles *@
								<td class="td-acciones">
									<ul class="no-list-style">
										<li>
											<a href="javascript: void(0);" class="btn btn-outline-grey btnDeleteMassiveOntology">
												<span class="material-icons">delete</span>@Html.GetText("COMMON","ELIMINAR")
											</a>
										</li>
									</ul>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>	    
</div>

@* Añadir modal de confirmar eliminación de recursos *@
@Html.PartialView("_modal-views/_delete-massive-ontology")




@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/grafo_conocimiento.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento de Cláusulas legales
            operativaGestionBorradoMasivo.init();
        })();
    </script>
}