@model ObjetoConocimientoModel

@*
Descripción
-----------------------------------------------
Vista que muestra en detalle la información del objeto de conocimiento. Adicionalmente, aquí se pintará el modal que se utilizará para su edición/creación.


Variables
----------------------------------------------------------------
*@

@{
    // Objeto de conocimiento a revisar
    ObjetoConocimientoModel objetoConocimiento = Model;
    // Cabecera para obtención de idiomas de la Comunidad
    HeaderModel cabecera = Html.GetCabecera();
    string idModalObjetoConocimiento = "modal-objeto_conocimiento_" + objetoConocimiento.Ontologia.Trim().Replace(" ", "_").Replace("(", "_").Replace(")", "_");
    string idModalObjetoConocimientoDelete = "modal-objeto_conocimiento_delete_" + objetoConocimiento.Ontologia.Trim().Replace(" ", "_").Replace("(", "_").Replace(")", "_");
    string idModalCompartirOntologia = "modal-compartir-ontologia_" + objetoConocimiento.Ontologia.Trim().Replace(" ", "_").Replace("(", "_").Replace(")", "_");
    // Diccionario del contenido (En varios idiomas)
    Dictionary<string, string> objetoConocimientoNameDictionary = new Dictionary<string, string>();
    // Idioma por defecto de la comunidad
    string idiomaPorDefecto = ViewBag.IdiomaPorDefecto;
    // Tipo de objeto a mostrar (Primaro o Secundario)
    string tipoObjetoValue = Model.EsObjetoPrimario ? Html.GetText("DEVTOOLS", "PRINCIPAL") : Html.GetText("DEVTOOLS", "SECUNDARIO");
    // Fecha de creación/edición del objeto de conocimiento
    string fechaObjetoConocimiento = string.Empty;
    @if (objetoConocimiento.FechaCreacion == objetoConocimiento.FechaModificacion)
    {
        fechaObjetoConocimiento = objetoConocimiento.FechaCreacion.ToShortDateString();
    }
    else
    {
        fechaObjetoConocimiento = objetoConocimiento.FechaModificacion.ToShortDateString();
    }
    // Nombre del grafo actual
    string grafoActual = string.IsNullOrEmpty(Model.GrafoActual) ? "" : Model.GrafoActual;
    // Diccionario de shortNameOntology para multiIdiomas
    Dictionary<string, string> ocShortNameOntologyDictionary = new Dictionary<string, string>();
    ocShortNameOntologyDictionary = Html.GetDictionaryValuesFromMultiLanguageItem(Model.ShortNameOntology);
    // Imagen del objeto de conocimiento
    bool hasImage = !string.IsNullOrEmpty(Model.Image);
}

@* Construir los diferentes items en idiomas (Nombre) *@
@{
    // Obtener descripción/contenido de la cláusula en formato diccionario con los multiIdiomas para ser mostrados en la row de la cláusula
    objetoConocimientoNameDictionary = Html.GetDictionaryValuesFromMultiLanguageItem(objetoConocimiento.Name);
}

<li class="component-wrap objetoConocimiento-row"
data-grafo-actual="@grafoActual"
data-oc="@objetoConocimiento.Ontologia"
id="@objetoConocimiento.Ontologia"
data-isprimary="@(objetoConocimiento.EsObjetoPrimario ? "true" : "false")"
data-documentid="@objetoConocimiento.DocumentoID">

    <div class="component">
        <div class="component-header-wrap">
            <div class="component-header">
                <div class="component-header-content">
                    <div class="component-header-left">
                        @* Imagen del OC*@
                        <div class="component-imagen-wrap">
                            @if (hasImage)
                            {
                                <img class="oc-image" src="@Html.GetBaseUrlContent()/@Model.Image" />
                            }
                            else
                            {
                                <span class="material-icons" style="font-size: 35px; color: var(--c-texto-claro)">image</span>
                            }
                        </div>

                        @* Nombre *@
                        <div class="component-name-wrap">
                            @if (objetoConocimientoNameDictionary.Count == 0)
                            {
                                <span class="language-component component-contenido @(idiomaPorDefecto)" data-languageitem="@idiomaPorDefecto">
                                    @objetoConocimiento.Name
                                </span>
                            }
                            else
                            {
                                foreach (KeyValuePair<string, string> idioma in cabecera.Languajes)
                                {
                                    <span class="language-component component-contenido @( idiomaPorDefecto == idioma.Key ? " " : "d-none")" data-languageitem="@idioma.Key">
                                        @* Asegurarnos de que haya valor en el dictionary. Si no, dejarlo en blanco *@
                                        @{
                                            string value = "";
                                            if (objetoConocimientoNameDictionary.TryGetValue(idioma.Key, out value))
                                            {
                                                @value
                                            }
                                        }
                                    </span>
                                }
                            }
                        </div>

                        @* Nombre corto de Ontología *@
                        <div class="component-shortNameOntology-wrap">
                            @* <span class="component-shortNameOntology">@Model.ShortNameOntology</span> *@
                            @if (ocShortNameOntologyDictionary.Count == 0)
                            {
                                <span class="language-component component-shortNameOntology @(idiomaPorDefecto)" data-languageitem="@idiomaPorDefecto">
                                    @if (!string.IsNullOrEmpty(Model.ShortNameOntology))
                                    {
                                        @Model.ShortNameOntology
                                        ;
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </span>
                            }
                            else
                            {
                                /*@foreach (KeyValuePair<string, string> idioma in cabecera.Languajes)
                                {
                                    <span class="language-component component-shortNameOntology @( idiomaPorDefecto == idioma.Key ? " " : "d-none")" data-languageitem="@idioma.Key">
                                        @* Asegurarnos de que haya valor en el dictionary. Si no, dar un valor por defecto*@
                                        @{
                                            string value = "";
                                            if (ocShortNameOntologyDictionary.TryGetValue(idioma.Key, out value))
                                            {
                                                @value
                                                ;
                                            }
                                        }
                                    </span>
                                }*/
                                                                                                                                                            }

                        </div>

                        @* Tipo: *@
                        <div class="component-tipo-wrap">
                            <span class="component-tipo">@tipoObjetoValue</span>
                        </div>

                        @* Fecha: *@
                        <div class="component-fecha-wrap">
                            <span class="component-fecha">@fechaObjetoConocimiento</span>
                        </div>
                        <div class="component-compartida-wrap">
                            <span class="component-compartida">@objetoConocimiento.NombreProyectoOntologiaCompartida</span>
                        </div>
                    </div>
                    @*Sección de acciones *@
                    @if (!objetoConocimiento.EsOntologiaCompartida)
                    {
                        <div class="component-header-right">
                            <div class="component-actions-wrap">
                                @* Botón dropdown de acciones *@
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle btn btn-outline-grey"
                                    data-toggle="dropdown"
                                    href="#"
                                    role="button"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                        <span class="material-icons">create</span>
                                        <span class="texto">@Html.GetText("COMMON", "EDITAR")</span>
                                    </a>
                                    @* Panel dropdown con las acciones disponibles *@
                                    <div class="dropdown-menu basic-dropdown dropdown-icons dropdown-menu-right">
                                        @* Acción Editar *@
                                        @if (Model.EsObjetoPrimario)
                                        {
                                            @if ((ViewBag.GestionarOC != null && ViewBag.GestionarOC))
                                            {
                                                <a class="item-dropdown btnEditObjetoConocimiento"
                                                   data-toggle="modal"
                                                   data-target="#@(idModalObjetoConocimiento)">
                                                    <span class="material-icons">edit</span>
                                                    <span class="texto">@Html.GetText("COMMON", "EDITAR")</span>
                                                </a>
                                            } 
                                        }
                                        else
                                        {
                                            @if ((ViewBag.GestionarOC != null && ViewBag.GestionarOC) || (ViewBag.ModificarSecundaria != null && ViewBag.ModificarSecundaria))
                                            {
                                                <a class="item-dropdown btnEditObjetoConocimiento"
                                                   data-toggle="modal"
                                                   data-target="#@(idModalObjetoConocimiento)">
                                                    <span class="material-icons">edit</span>
                                                    <span class="texto">@Html.GetText("COMMON", "EDITAR")</span>
                                                </a>
                                            } 
                                        }
                                                                               
                                        @if (tipoObjetoValue == "Principal" && (ViewBag.GestionarOC != null && ViewBag.GestionarOC))
                                        {
                                            @* Acceso a Edición de Fichas *@
                                            <a class="item-dropdown btnEditFichasObjetoConocimiento"
                                            href="@Html.GetComunidad().Url/@Html.GetText("URLSEM", "ADMINISTRARCONFIGURACIONOCVISTAS")/@Model.DocumentoID">
                                                <span class="material-icons">edit_note</span>
                                                <span class="texto">
                                                    @Html.GetText("DEVTOOLS", "EDITARFICHASOC")
                                                </span>
                                            </a>
                                        }

                                        @*Acción configurar propiedades OC*@
                                        @if (Model.EsObjetoPrimario)
                                        {
                                            @if ((ViewBag.GestionarOC != null && ViewBag.GestionarOC))
                                            {
                                                <a class="item-dropdown btnEditFichasObjetoConocimiento"
                                                   href="@Html.GetComunidad().Url/@Html.GetText("URLSEM", "ADMINISTRARCONFIGURACIONOC")/@Model.DocumentoID">
                                                    <span class="material-icons">edit_note</span>
                                                    <span class="texto">
                                                        @Html.GetText("DEVTOOLS", "CONFIGURARPROPIEDADESOC")
                                                    </span>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            @if ((ViewBag.GestionarOC != null && ViewBag.GestionarOC) || (ViewBag.ModificarSecundaria != null && ViewBag.ModificarSecundaria))
                                            {
                                                <a class="item-dropdown btnEditFichasObjetoConocimiento"
                                                   href="@Html.GetComunidad().Url/@Html.GetText("URLSEM", "ADMINISTRARCONFIGURACIONOC")/@Model.DocumentoID">
                                                    <span class="material-icons">edit_note</span>
                                                    <span class="texto">
                                                        @Html.GetText("DEVTOOLS", "CONFIGURARPROPIEDADESOC")
                                                    </span>
                                                </a>
                                            }
                                        }

                                        @* Acción Descargar archivo de configuración *@
                                        <a class="item-dropdown btnDownloadConfigurationFileObjetoConocimiento"
                                        href="@Html.GetComunidad().Url/download-file?tipo=Ontologia&proy=@Html.GetComunidad().Key&doc=@Model.DocumentoID&nombre=@(Model.Ontologia).xml&ext=.xml&ID=@Html.GetIdentidadActual().KeyIdentity">
                                            <span class="material-icons">download</span>
                                            <span class="texto">
                                                @Html.GetText("DEVTOOLS", "DESCARGARARCHIVODECONFIGURACIONXML")
                                            </span>
                                        </a>

                                        @* Acción Descargar ontología *@
                                        <a class="item-dropdown btnDownloadTemplateObjetoConocimiento"
                                        href="@Html.GetComunidad().Url/download-file?tipo=Ontologia&proy=@Html.GetComunidad().Key&doc=@Model.DocumentoID&nombre=@(Model.Ontologia).owl&ext=.owl&ID=@Html.GetIdentidadActual().KeyIdentity">
                                            <span class="material-icons">download</span>
                                            <span class="texto">@Html.GetText("DEVTOOLS", "DESCARGARPLANTILLAOWL")</span>
                                        </a>
                                        @if (Model.EsObjetoPrimario && (ViewBag.GestionarOC != null && ViewBag.GestionarOC))
                                        {
                                            @* Acción Compartir ontología*@
                                            <a class="item-dropdown btnShareOntology"
                                            data-toggle="modal"
                                            data-target="#@(idModalCompartirOntologia)">
                                                <span class="material-icons">share</span>
                                                <span class="texto">@Html.GetText("COMMON", "COMPARTIRONTOLOGIA")</span>
                                            </a>
                                    }
                                        @* Acción Borrar *@
                                        @if (Model.EsObjetoPrimario)
                                        {
                                            @if (ViewBag.GestionarOC != null && ViewBag.GestionarOC)
                                            {
                                                <a class="item-dropdown btnDeleteObjetoConocimiento"
                                                   data-toggle="modal"
                                                   data-target="#@(idModalObjetoConocimientoDelete)">
                                                    <span class="material-icons">delete</span>
                                                    <span class="texto">@Html.GetText("DEVTOOLS", "BORRAR")</span>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            @if ((ViewBag.GestionarOC != null && ViewBag.GestionarOC) || (ViewBag.EliminarSecundaria != null && ViewBag.EliminarSecundaria))
                                            {
                                                <a class="item-dropdown btnDeleteObjetoConocimiento"
                                                   data-toggle="modal"
                                                   data-target="#@(idModalObjetoConocimientoDelete)">
                                                    <span class="material-icons">delete</span>
                                                    <span class="texto">@Html.GetText("DEVTOOLS", "BORRAR")</span>
                                                </a>
                                            }
                                        }                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="component-header-right">
                            <div class="component-actions-wrap">
                                @* Botón dropdown de acciones *@
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle btn btn-outline-grey"
                                       data-toggle="dropdown"
                                       href="#"
                                       role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <span class="material-icons">create</span>
                                        <span class="texto">@Html.GetText("ADMINISTRACIONBASICA", "ACCIONES")</span>
                                    </a>
                                    @* Panel dropdown con las acciones disponibles *@
                                    <div class="dropdown-menu basic-dropdown dropdown-icons dropdown-menu-right">
                                        <a class="item-dropdown btnDownloadConfigurationFileObjetoConocimiento"
                                           href="@objetoConocimiento.UrlProyectoOntologiaCompartida">
                                            <span class="material-icons">edit</span>
                                            <span class="texto">@Html.GetText("DEVTOOLS", "EDITARONTOLOGIACOMUNIDADORIGINAL") @objetoConocimiento.NombreProyectoOntologiaCompartida</span>
                                        </a>
                                        @* Acción Descargar archivo de configuración *@
                                        <a class="item-dropdown btnDownloadConfigurationFileObjetoConocimiento"
                                           href="@Html.GetComunidad().Url/download-file?tipo=Ontologia&proy=@Html.GetComunidad().Key&doc=@Model.DocumentoID&nombre=@(Model.Ontologia).xml&ext=.xml&ID=@Html.GetIdentidadActual().KeyIdentity">
                                            <span class="material-icons">download</span>
                                            <span class="texto">
                                                @Html.GetText("DEVTOOLS", "DESCARGARARCHIVODECONFIGURACIONXML")
                                            </span>
                                        </a>

                                        @* Acción Descargar ontología *@
                                        <a class="item-dropdown btnDownloadTemplateObjetoConocimiento"
                                           href="@Html.GetComunidad().Url/download-file?tipo=Ontologia&proy=@Html.GetComunidad().Key&doc=@Model.DocumentoID&nombre=@(Model.Ontologia).owl&ext=.owl&ID=@Html.GetIdentidadActual().KeyIdentity">
                                            <span class="material-icons">download</span>
                                            <span class="texto">@Html.GetText("DEVTOOLS", "DESCARGARPLANTILLAOWL")</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>

    @* Información detallada de la pestaña -> Modal *@
    @Html.PartialView("_modal-views/_objetoConocimiento-detail-item", Model)
    @* Modal compartir ontologías *@
    @Html.PartialView("_modal-views/_share-ontologies", Model)
</li>