@model AdministrarObjetosConocimientoViewModel


@*
Descripción
-----------------------------------------------
Vista index donde se muestra el listado con los objetos de conocimiento de la comunidad.

Variables
----------------------------------------------------------------
*@

@{
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	Dictionary<string, string> nombreCategoria = Model.ListaIdiomas;
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	// Carga de idiomas de la plataforma
	string idiomas = "";
	// Contador del nº de pestañas listadas
	int contNumPestañasVisibles = 0;
	// Nº de pestañas de idiomas a visualizar en la sección Tab
	int numMaxPestañasIdiomasVisibles = 2;		
	// Referencia al AdministrarObjetosConocimientoViewModel para el botón de tipo de pintado de tipo cookies
	ViewBag.AdministrarObjetosConocimientoViewModel = Model;	
	// Posibilidad de NO mostrar el panel lateral izquierdo de las DevTools
	bool hideLeftNavigationPanel = !string.IsNullOrEmpty(ViewBag.HideLeftNavigationPanel) ? (bool.Parse(ViewBag.HideLeftNavigationPanel)) : false;
	//Para mostrar la información cuando compile la web
}


@{
    @* Carga de idiomas *@
    foreach (string idiomaKey in Model.ListaIdiomas.Keys)
    {
        idiomas += idiomaKey + "|" + Model.ListaIdiomas[idiomaKey] + "&&&";
    }     
}

<input type="hidden" id="idiomasComunidad" value="@idiomas" />
<input type="hidden" value="@Model.IdiomaPorDefecto" id="idiomaDefecto"/>

@{
	if (!hideLeftNavigationPanel)
	{
		@* Migas de Pan *@
		<div class="col col-12 col-breadcrumb">
			<ul>
				<li>
					<a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
				</li>
				<li>
					<a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/grafo-conocimiento">@Html.GetText("DEVTOOLS","GRAFOSDECONOCIMIENTO")</a>
				</li>
				<li>
					@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRAROBJETOSCONOCIMIENTOCOM") / Ontologías                
				</li>
			</ul>
		</div>
	}
}
    

    @* Contenido Central *@
    <div class="formulario-edicion background-blanco">       
		@* Panel de idiomas *@	
		@if (Html.ObtenerEdicionMultiIidoma())
		{
			<ul class="nav nav-tabs @( (cabecera.Languajes.Count > 1) ? "" : "d-none")" id="tabIdiomasPaginas" role="tablist">
				@* Títulos de Tabs con los diferentes idiomas a visualizar. *@
				@foreach (KeyValuePair<string, string> idioma in cabecera.Languajes)
				{
					if (contNumPestañasVisibles < numMaxPestañasIdiomasVisibles)
					{
						<li class="nav-item" role="presentation">
							<a class="tabIdiomaItem nav-link @( Model.IdiomaPorDefecto == idioma.Key ? "active" : null)"
							   id="@("ver_paginas_" + idioma.Key)" data-toggle="tab" href="#@("litVer" + idioma.Key)"
							   data-language="@idioma.Key"
							   role="tab"
							   aria-selected="@(contNumPestañasVisibles == 0 ? "true" : "false")">@Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", idioma.Value)</a>
						</li>
						contNumPestañasVisibles += 1;
					}
				}
				@* Controlar si es necesario mostrar el resto de categorías en un DropDown *@
				@if (contNumPestañasVisibles < cabecera.Languajes.Count)
				{
					@* Dropdown para resto de categorías *@
					<li class="nav-item">
						<div class="dropdown">
							@* Desplegable del dropdown *@
							<a class="nav-link dropdown-toggle"
							   data-toggle="dropdown"
							   href="#"
							   role="button"
							   aria-haspopup="true"
							   aria-expanded="false">@Html.GetText("DEVTOOLS", "OTROSIDIOMAS")</a>

							@* Sección para mostrar items del dropdown*@
							<div class="dropdown-menu dropdown-menu-left basic-dropdown dropdown-idiomas">
								<ul class="no-list-style">
									@* Pintado del resto de pestañas en Dropdown *@									
									@for (int i = contNumPestañasVisibles; i < cabecera.Languajes.Count; i++)
									{
										var item = cabecera.Languajes.ElementAt(i);
										var itemKey = item.Key;
										var itemValue = item.Value;

										@* Cada item del dropdown *@
										<li>
											<a id="@("ver_paginas_" + itemKey)"
											   class="item-dropdown tabIdiomaItem @( Model.IdiomaPorDefecto == itemKey ? "active" : null)"
											   data-toggle="tab"
											   href="#@("litVer" + itemKey)"
											   data-language="@itemKey">
												@Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", itemValue)
											</a>
										</li>
									}
								</ul>
							</div>
						</div>
					</li>
				}
			</ul>
		}else{
			KeyValuePair<string, string>
			idioma = new KeyValuePair<string, string>
			("es", "español");
			<ul class="nav nav-tabs id="tabIdiomasPaginas" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="tabIdiomaItem nav-link @( Model.IdiomaPorDefecto == idioma.Key ? "active" : null)"
						id="@("ver_paginas_" + idioma.Key)" data-toggle="tab" href="#@("litVer" + idioma.Key)"
						data-language="@idioma.Key"
						role="tab"
						aria-selected="@(contNumPestañasVisibles == 0 ? "true" : "false")">@Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", idioma.Value)</a>
				</li>
			</ul>
		}
		@* Contenedor global de objetos de conocimiento *@
		<div class="tab-content">	
			@* Contenido de las diferentes objetos de conocimiento *@
			<div id="panelListadoObjetosConocimiento" 
				class="tab-pane fade show active" 
				role="tabpanel" 
				aria-labelledby="panelListadoObjetosConocimiento">

				@* Contenedor del Título de la Sección + Buscador *@
				<div class="row">
					@* Título de la sección de cláusulas + Nº de OC *@
					<div class="col col-12 header-listado">
						<div class="h1-container">
							<h1>@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRAROBJETOSCONOCIMIENTOCOM") / Ontologías
								<span id="numObjetosConocimiento" class="numResultados"></span>
							</h1>
						</div>
						@* Acciones de Objetos de conocimiento *@
						<div class="acciones d-flex align-items-center">
							@* Botón de nuevo Objeto Conocimiento*@
							@if (!hideLeftNavigationPanel && ((ViewBag.GestionarOC != null && ViewBag.GestionarOC) || (ViewBag.CrearSecundaria != null && ViewBag.CrearSecundaria)))
							{
								<a href="javascript: void(0);"
								id="btnNewOC"
								class="btn btn-outline-primary"
								data-toggle="modal"
								data-target="#modal-container">@Html.GetText("DEVTOOLS","CREARNUEVOOC")</a>						
							}
						
							@* Dropdown de acciones de Objeto Conocimiento*@
							<div class="dropdown">
								<a class="dropdown-toggle no-flecha" data-toggle="dropdown" aria-expanded="false">
									<span class="material-icons">more_vert</span>
								</a>
								@* Menú Dropdown *@
								<div class="dropdown-menu basic-dropdown dropdown-icons dropdown-menu-right" style="will-change: transform;">
									@* Descargar clases y vistas *@
									<a id="btnDownloadClasesYVistas" class="item-dropdown">
										<span class="icon" style="padding-right:10px;">
											<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0,0,256,256" style="fill:#000000;">
											<g fill="#999999" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M36,5l-19,16.5l-10,-7.5l-3,1.25v17.5l3,1.25l10,-7.5l19,16.5l8,-3v-32zM8,20l5,4l-5,4zM24,24l10,-7v14z"></path></g></g>
											</svg>    
										</span>										
										<span class="texto">@Html.GetText("DEVTOOLS","DESCARGARCLASESYVISTASPARANET")</span>
									</a>
									@* Descargar clases y vistas en Java *@
									<a id="btnDownloadClasesYVistasJava" class="item-dropdown">										
										<span class="icon" style="padding-right: 10px;">
											<svg fill="#999999" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
												<path d="M 13.445312 1 C 14.545312 3.193 9.5061094 4.5450937 9.0371094 6.3710938 C 8.6081094 8.0490938 12.02825 10 12.03125 10 C 11.51125 9.306 11.135281 8.7313906 10.613281 7.6503906 C 9.7312812 5.8223906 15.824312 3.937 13.445312 1 z M 17 4 C 17 4 13.199859 4.230875 13.005859 6.546875 C 12.919859 7.577875 14.004156 8.1279063 14.035156 8.8789062 C 14.061156 9.4909063 13.386719 10 13.386719 10 C 13.386719 10 14.500813 9.8295313 14.882812 8.8945312 C 15.305813 7.8575313 14.169875 7.1005313 14.296875 6.2695312 C 14.417875 5.4755312 17 4 17 4 z M 10.164062 10.001953 C 10.164062 10.001953 6 9.941625 6 11.140625 C 6 11.712506 7.1602183 12.030394 8.7636719 12.146484 C 8.1135167 12.17493 7.1992187 12.685807 7.1992188 13.185547 C 7.1992188 14.219547 12.102422 15.015859 15.732422 13.505859 L 14.476562 12.6875 C 12.026531 13.518779 7.5235922 13.25586 8.8085938 12.150391 C 10.71633 12.282905 13.247952 12.128366 15.349609 11.712891 C 15.349609 11.712891 16.234719 11.212359 16.511719 10.943359 C 13.958719 11.471359 8.2871094 11.318375 8.2871094 10.859375 C 8.2871094 10.436375 10.164062 10.001953 10.164062 10.001953 z M 18.59375 10.001953 C 18.135986 9.9821016 17.63475 10.134 17.203125 10.453125 C 18.104125 10.251125 18.865234 10.824328 18.865234 11.486328 C 18.865234 12.974328 16.800781 14.384766 16.800781 14.384766 C 16.800781 14.384766 20 14.003641 20 11.556641 C 20 10.546016 19.356689 10.035039 18.59375 10.001953 z M 9.7441406 14.341797 C 8.8481406 14.341797 8.2675781 14.963922 8.2675781 15.419922 C 8.2675781 16.830922 13.614375 16.880312 15.734375 15.445312 L 14.386719 14.576172 C 12.803719 15.327172 8.8291406 15.429797 9.7441406 14.341797 z M 5.8789062 16.693359 C 4.5902637 16.65192 4 17.327656 4 17.878906 C 4 20.810906 18 20.668828 18 17.673828 C 18 17.175828 17.457719 16.939172 17.261719 16.826172 C 18.404719 19.690172 5.671875 19.493734 5.671875 17.802734 C 5.671875 17.417734 6.345125 17.026078 7.203125 17.205078 C 7.203125 17.205078 6.8896094 16.831813 6.4746094 16.757812 C 6.2617344 16.720188 6.062998 16.699279 5.8789062 16.693359 z M 20 18.707031 C 17.799 20.936031 11.740813 22.289062 6.1328125 20.914062 C 11.766813 23.275062 19.973 21.442031 20 18.707031 z"></path>
											</svg>    
										</span>
										<span class="texto">@Html.GetText("DEVTOOLS","DESCARGARCLASESYVISTASPARAJAVA")</span>
									</a>
								</div>
							</div>
						</div>
					</div>

					@* Buscador de objetos conocimiento *@
					<div class="col col-12 header-buscador">
						<div class="wrapCol">
							<div class="col-buscador" style="width: 100%">					
							@* Formulario para búsquedas de objetos conocimiento *@
								<form id="formBuscadorCookies" onsubmit="return false;">								
									<div class="finderUtils" id="divCajaBusqueda">
										<div class="group finderSection">
											@* Input para realizar la búsqueda de oc *@
											<input
												type="text"
												id="txtBuscarObjetoConocimiento"
												class="not-outline finderSectionText"
												autocomplete="off"
												placeholder="@Html.GetText("DEVTOOLS","BUSCARENLASECCION")"
											/>
											@* Botón para realizar la búsqueda *@
											<input
												title="Buscar"
												type="button"
												class="findAction"
												id="inputLupa"
											/>
											@* Botón para Facetas de la búsqueda *@
											<a href="javascript: void(0);" class="btn-filtrar-movil">
												<span class="material-icons">filter_list</span>
												<span class="texto">@Html.GetText("DEVTOOLS","FILTRAR")</span>											
											</a>
										</div>
									</div>								
								</form>
							</div>							
						</div>
					</div>
					
					@* Objetos de conocimiento de la comunidad *@					
					<div class="col col-12 col-contenido">
						<div class="wrapCol">
							@* Header *@
							<ul id="id-objetosConocimiento-list" class="header-component-list component-list no-list-style">
								<li class="component-wrap">
									<div class="component ">
										<div class="component-header-wrap">
											<div class="component-header">
												<div class="component-header-content">
													<div class="component-header-left">
														<div class="component-name-wrap">
															<span class="component-imagen">@Html.GetText("ADMINISTRACIONBASICA","IMAGEN")</span>
														</div>
														<div class="component-contenido-wrap">
															<span class="component-nombre">@Html.GetText("ADMINISTRACIONBASICA","NOMBRE")</span>
														</div>
														<div class="component-descripcion-wrap">
															<span class="component-namespace">Ruta relativa</span>
														</div>
														<div class="component-tipo-wrap">
															<span class="component-tipo">@Html.GetText("ADMINISTRACIONBASICA","TIPO")</span>
														</div>
														<div class="component-fecha-wrap">
															<span class="component-fecha">@Html.GetText("COMMON","FECHA")</span>
														</div>
														<div class="component-compartida-wrap">
															<span class="component-compartida">@Html.GetText("DEVTOOLS", "COMPARTIDAPOR")</span>
														</div>
													</div>
													<div class="component-header-right">
														<div class="component-actions-wrap">
															<span>@Html.GetText("ADMINISTRACIONBASICA","ACCIONES")</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							@* Contenido de objetos de conocimiento *@
							<ul id="js-community-objetosConocimiento-list" class="js-community-objetosConocimiento-list component-list no-list-style">																			
								@foreach (ObjetoConocimientoModel objetoConocimiento in Model.ListaObjetosConocimiento)
								{
									@Html.PartialView("_EdicionObjetoConocimiento", objetoConocimiento);
								}
							</ul>
						</div>
					</div>					
				</div>
			</div>		
		</div> 	
    </div>


@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/grafo_conocimiento.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento de Objetos de conocimiento
            operativaGestionObjetosConocimientoOntologias.init();
        })();
    </script>
}
