@*
Descripción
-----------------------------------------------
Vista donde se muestra las estadísticas de navegación de los usuarios de la navegación haciendo uso de la librería Matomo.

Variables
----------------------------------------------------------------
*@

@{
    CommunityModel Comunidad = Html.GetComunidad();
    HeaderModel cabecera = Html.GetCabecera();
    // Layout DevTools
    Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";

    // Fecha por defecto
    DateTime fechaHoy = DateTime.Now;
    DateTime fechaHaceUnMes = fechaHoy.AddMonths(-1);
    string fechaHoyString = fechaHoy.ToString("yyyy-MM-dd");
    string fechaHaceUnMesString = fechaHaceUnMes.ToString("yyyy-MM-dd");
}

<link rel="stylesheet" href="\responsive\theme\matomo.css">



@* Migas de Pan *@
<div class="col col-12 col-breadcrumb">
    <ul>
        <li>
            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS", "HOME")</a>
        </li>
        <li>
            <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/configuracion">@Html.GetText("DEVTOOLS", "CONFIGURACION")</a>
        </li>
        <li>
            @Html.GetText("DEVTOOLS", "ESTADISTICASDELACOMUNIDAD")
        </li>
    </ul>
</div>

@* Contenido Central *@
<div id="analyticsPage" class="formulario-edicion background-blanco">

    @* Contenido de las diferentes cookies *@
    <div id="panelListadoAnalytics"
         class="tab-pane fade show active"
         role="tabpanel"
         aria-labelledby="panelListadoAnalytics">

        @* Contenedor del Título de la Sección + Buscador *@
        <div class="row">
            @* Título de la sección *@
            <div class="col col-12 header-listado">
                <div class="h1-container">
                    <h1>
                        @Html.GetText("DEVTOOLS", "ESTADISTICASDELACOMUNIDAD")
                    </h1>
                </div>

                @* Botón para "Ver Categorías" y "Crear cookie" *@
                <div class="acciones d-flex align-items-center">
                    <input type="date" id="fechaInicio" class="form-control mr-2" name="Fecha de inicio" value="@fechaHaceUnMesString" title="@Html.GetText("DEVTOOLS","INDICARLAFECHAINICIAL")">
                    <input type="date" id="fechaFinal" class="form-control" name="Fecha de fin" value="@fechaHoyString" title="@Html.GetText("DEVTOOLS","INDICARLAFECHAFINAL")">
                </div>
            </div>

            @* Buscador de usuarios *@
            <div class="col col-12 header-buscador">
                <div class="wrapCol">
                    <div class="col-buscador" style="width: 100%">
                        @* Formulario para búsquedas de usuarios *@
                        <form id="formBuscadorPaginas" onsubmit="return false;">
                            <div class="finderUtils" id="divCajaBusqueda">
                                <div class="group finderSection">
                                    @* Input para realizar la búsqueda de usuarios *@
                                    <input type="text"
                                           id="txtBuscarUsuarios"
                                           class="not-outline finderSectionText"
                                           autocomplete="off"
                                           placeholder="Buscar por usuario" />
                                    @* Botón para realizar la búsqueda *@
                                    <input title="Buscar"
                                           type="button"
                                           class="findAction"
                                           id="inputLupa" />
                                    @* Botón para Facetas de la búsqueda *@
                                    <a href="javascript: void(0);" class="btn-filtrar-movil">
                                        <span class="material-icons">filter_list</span>
                                        <span class="texto">@Html.GetText("DEVTOOLS", "FILTRAR")</span>
                                    </a>
                                    <input type="hidden" id="txtBuscarUsuarios_Hack" class="valores txtBuscarUsuarios" name="txtValoresBuscarUsuarios" value="" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                @* Panel con Tags usados *@
                <div class="etiquetas mt-2 d-none" id="panFiltros">
                    <div class="group filterSpace">
                        <ul class="facetedSearch tags" id="panListadoFiltros"></ul>
                    </div>
                </div>
            </div>

        </div>

        @* Contenedor de la seccion de Tráfico *@
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h2>Trafico</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Html.PartialView("_partial-views/_matomo-graphLine")
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        @Html.PartialView("_partial-views/_visitors-table")
                    </div>
                    <div class="col-8">
                        @Html.PartialView("_partial-views/_top-pages-table")
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        @Html.PartialView("_partial-views/_top-search-table")
                    </div>
                    <div class="col-6">
                        @Html.PartialView("_partial-views/_top-referred-websites-table")
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        @Html.PartialView("_partial-views/_top-devices-pie")
                    </div>
                    <div class="col-3">
                        @Html.PartialView("_partial-views/_top-platforms-pie")
                    </div>
                    <div class="col-3">
                        @Html.PartialView("_partial-views/_top-browsers-pie")
                    </div>
                    <div class="col-3">
                        @Html.PartialView("_partial-views/_all-visitors-countries-pie")
                    </div>
                </div>
            </div>
        </div>
        @* Contenedor de la seccion de recursos*@
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h2>Recursos</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        @Html.PartialView("_partial-views/_top-resources-table")
                    </div>
                    <div class="col-6">
                        @Html.PartialView("_partial-views/_top-resources-downloaded-table")
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        @Html.PartialView("_partial-views/_most-voted-resources-table")
                    </div>
                    <div class="col-6">
                        @Html.PartialView("_partial-views/_top-resources-commented-table")
                    </div>
                </div>
            </div>
        </div>
        @* Contenedor de la seccion de Visitantes*@
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h2>Visitantes</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        @Html.PartialView("_partial-views/_visitors-detail-info-table")
                    </div>
                    <div class="col-6">
                        @Html.PartialView("_partial-views/_recent-visitors-table")
                    </div>
                    <div class="d-none">
                        @* Filtrado de usuarios en modal *@
                        <div class="input-wrap filtroRapido position-static">
                            <input type="text"
                                   id="txtFiltro"
                                   class="filtroFaceta ac_input form-control"
                                   placeholder="@Html.GetText("METABUSCADOR","BUSCAR")"
                                   autocomplete="off" />
                            <span class="searchButton"></span>
                        </div>
                        <div class="form-group">
                            <div style="display: none" class="contactos" id="selector">
                                <div id="panContactos"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* Carga de operativa *@
@section operativaScript {
    @*<script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/configuracion.js?v=@Html.GetVersion()"></script>*@
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/matomo_administracion.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">
        (function ($) {
            // Operativa funcionamiento de Gestión Matomo
            operativaGestionMatomo.init();
        })();
    </script>
}