@model ExternalProperty
@{
}

<li class="component-wrap property-row propertyContent" data-propertycontent="@Model.Domain@@@Model.Uri" id="@Model.Domain@@@Model.Uri" data-tipopropiedad="external">
    <div class="component">
        <div class="component-header-wrap">
            <div class="component-header">
                <div class="component-header-content">
                    <div class="component-header-left">
                        <div class="component-name-wrap component-w-40">
                            <span class="material-icons">move_down</span>
                            <span class="language-component component-name searchableName">@(!Model.Name.Equals(Model.Uri) ? Model.Name + " | " : "")@Model.Uri</span>
                        </div>
                    </div>
                    <div class="component-header-right">
                        <span class="material-icons expandir pointer">navigate_next</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="component-content d-none atributos pt-2 ml-5">
            <input type="hidden" name="@Model.Domain@@@Model.Uri@@TipoPropiedad" value="external" />
            <div class="form-group">
                <label for="@Model.Domain@@@Model.Uri@@Nombre">Nombre de la propiedad</label>
                <input type="text" class="form-control" name="@Model.Domain@@@Model.Uri@@Nombre" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label for="@Model.Domain@@@Model.Uri@@NombreLectura">Nombre de lectura de la propiedad</label>
                <input type="text" class="form-control" name="@Model.Domain@@@Model.Uri@@NombreLectura" value="@Model.NameLectura" />
            </div>
            <div class="configurar">
                <div class="btn btn-primary btnconfigurar pointer configPropiedadExterna" data-content="@Model.Domain@@@Model.Uri">Configurar propiedad externa</div>
                @Html.PartialView("../_modal-views/_configuracion-selector-entidad.cshtml", Model)
                @if (string.IsNullOrEmpty(Model.ReferredGraph) || string.IsNullOrEmpty(Model.ReferredEntity) || string.IsNullOrEmpty(Model.PropEdicion))
                {
                    <div class="alert alert-warning" data-content="@Model.Domain@@@Model.Uri" role="alert">
                        <span class="material-icons">
                            warning
                        </span>
                        No has configurado este selector de entidad
                    </div>
                }
            </div>
        </div>
    </div>
</li>





