@model StringProperty
@{
    // Modal id para generación de imágenes
    string modalId = Model.Uri.Replace("/", "").Replace(":", "").Replace("#", "").Replace(".", "");
    string idMiniatura = modalId + "miniatura";
    string idOpenSD = Model.Uri.Replace("/", "").Replace(":", "").Replace("#", "").Replace(".", "") + "opensd";
}
<div class="confimagen">
    <p>¿Es la imagen principal del recurso?</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="@Model.Domain@@@Model.Uri@@imagenPrincipal" type="radio" @(Model.EsPrincipal ? "checked" : "")>
        <label class="form-check-label" for="@Model.Domain@@@Model.Uri@@imagenPrincipal">Sí</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="@Model.Domain@@@Model.Uri@@imagenPrincipal" type="radio" @(!Model.EsPrincipal ? "checked" : "")>
        <label class="form-check-label" for="@Model.Domain@@@Model.Uri@@imagenPrincipal">No</label>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class=" col">
            <div class="btn btn-primary btnImagen btnMiniaturas pointer" data-toggle="modal" 
                 data-target="#@modalId" 
                 data-content="@Model.Domain@@@Model.Uri"
                 data-miniatura="@idMiniatura">Configurar miniaturas</div>
            @Html.PartialView("../_modal-views/_configuracion-miniaturas.cshtml", Model)
        </div>
        <div class="col">
            <div class="btn btn-primary btnImagen btnOpenSeaDragon pointer" data-toggle="modal" data-target="#@idOpenSD" data-content="@Model.Domain@@@Model.Uri">Configurar imagen escalable</div>
            @Html.PartialView("../_modal-views/_configuracion-openseadragon.cshtml", Model)
        </div>
        <div class="col"></div>
    </div>
    <br/>
</div>