@model ManageViewsViewModel.CMSListResourceViewModel
@*
Descripción
-----------------------------------------------
Vista que contiene los detalles de una vista de un componente CMS, en concreto para los CMS de tipo Listado de Recurso.

Variables
----------------------------------------------------------------
*@

@{
	// Tipo de vista (original/personalizadas) y de servicio (web, resultados, facetas)
	string viewServiceType = ViewBag.ViewServiceType;
	string pathNameDefault = ViewBag.PathNameDefault;

	string nombreFormateadoPadre = Model.Name.Replace("/ViewsAdministracion/", "").Replace("/Views/", "");	
	// Identificador
	string nombreFormateadoPadreSinEspacios = "ListadoDeRecursos";
	string nombreFormateadoPadreConEspacios = "Listado de componentes";
	string idModalEditarVistaPersonalizacion = "modal-upload-view-personalizacion" + Model.Name.Replace("/","_").Replace(".","_").Replace(" ","_");	
	string nombreFormateadoPersonalizacion = Model.Name.Replace("/","_").Replace(".","_").Replace(" ","_");	
	bool isOriginal = false;
	string viewTypeValue = "Personalizada";
	// Fecha edición/creación de la vista
	string dateValue = "03/11-2022";
	
	// Encontrar la última posición de "/" para quedarnos solo con el nombre
	int lastPositionCharacter = nombreFormateadoPadre.LastIndexOf("/");
	// Hacer más corto el nombreFormateado (Eliminar ruta de la vista)
	if (lastPositionCharacter != -1 && !string.IsNullOrEmpty(nombreFormateadoPadre))
	{
		nombreFormateadoPadre = nombreFormateadoPadre.Substring(lastPositionCharacter + 1);
	}

}

@* Controlar si la vista es original/genérica o personalizada *@
@if (Model.Generic)
{
	isOriginal = true;
	viewTypeValue = "Original";
	dateValue = @Html.GetText("DEVTOOLS","NOAPLICA");	
}

@if (!string.IsNullOrEmpty(Model.Name))
{
	@* Pintado del original *@		
	<li class="component-wrap row-vista" id="@nombreFormateadoPadre"
	data-defaultviewname="@pathNameDefault"
	data-personalizacion="@Model.CustomizationID"
	data-viewtype="@viewTypeValue.ToLower()"
	data-parent="@nombreFormateadoPadreSinEspacios"
	data-componentecms="true"
	data-viewservicetype="componentecms">
		<div class="component">
			<div class="component-header-wrap">
				<div class="component-header">
					<div class="component-header-content">
						<div class="component-header-left">						
							@* Nombre de la página *@
							<div class="component-name-wrap d-flex flex-column align-items-start component-bigger">																				
								<span class="component-name" alt="@nombreFormateadoPadre" title="@nombreFormateadoPadre">
									@nombreFormateadoPadre
								</span>
								<span class="component-name-subtitle">
									@Model.PathName
								</span>									
							</div>
							@* Estado *@
							<div class="component-estado-wrap component-smaller">							
								<span class="component-estado">								
									@viewTypeValue
								</span>																		
							</div>
							@* Tipo *@
							<div class="component-tipo-wrap component-smaller">							
								<span class="component-tipo">								
									@nombreFormateadoPadreConEspacios
								</span>																		
							</div>

							@* Fecha*@
							<div class="component-fecha-wrap component-smaller">
								<span class="component-fecha">
									@dateValue
								</span>
							</div>
						</div>

						@*Sección de acciones *@
						<div class="component-header-right">
							<div class="component-actions-wrap">
								@* Botón dropdown de acciones *@
								<div class="dropdown">
									<a
									class="nav-link dropdown-toggle btn btn-outline-grey"
									data-toggle="dropdown"
									href="#"
									role="button"
									aria-haspopup="true"
									aria-expanded="false">
										<span class="material-icons">edit</span>
										<span class="texto">@Html.GetText("ADMINISTRACIONBASICA","ACCIONES")</span>
									</a>

									@* Panel dropdown con las acciones disponibles *@
									<div class="dropdown-menu dropdown-menu-left basic-dropdown">
										<ul class="no-list-style">
											@* Descargar Original *@
											@if (Model.Generic)
											{
												<li>
													<a class="item-dropdown js-action-edit-component btnDownloadOriginalVista"
												   data-action="@((short)ManageViewsViewModel.Action.DownloadOriginal)"												
												   data-url="@(ViewBag.UrlActionCMS)"												   
												   data-componentecms="ComponentePersonalizable"												   
												   data-personalizacion="@Model.CustomizationID"
												   data-nombre="@Model.Name"
												   data-formulariossemanticos="FormulariosSemanticos">
														<span class="material-icons">download</span>
														<span class="texto">@Html.GetText("DEVTOOLS","DESCARGARELORIGINAL")</span>
													</a>
												</li>
											}																						
											@* Descargar personalización *@
											@if (Model.CustomizationID != Guid.Empty)
											{	
												<li>
													<a class="item-dropdown js-action-edit-component btnDownloadOriginalVista"
												   data-action="@((short)ManageViewsViewModel.Action.Download)"												
												   data-url="@(ViewBag.UrlActionCMS)"												   
												   data-componentecms="ComponentePersonalizable"												   
												   data-personalizacion="@Model.CustomizationID"
												   data-nombre="@Model.Name"
												   data-formulariossemanticos="FormulariosSemanticos">
														<span class="material-icons">download</span>
														<span class="texto">@Html.GetText("DEVTOOLS","DESCARGARLAPERSONALIZACION")</span>
													</a>
												</li>													
											}
											
											@* Editar Controlar CI-CD *@																																
                                            @if (Html.GetComunidad().IntContActivadaSinRamaEnUso || !Html.GetComunidad().UsuarioDadoAltaIntCont || Html.GetComunidad().EntornoBloqueado)
                                            {
                                                @* Deshabilitado *@
												<li>
													<a class="item-dropdown js-action-edit-component btnNoUploadPersonalizacionCMS disabled">
														<span class="material-icons">edit</span>
														<span class="texto">@Html.GetText("COMMON","EDITAR")</span>
													</a>
												</li>
                                            }
                                            else
                                            {
                                                @* No Deshabilitado *@
												<li>
													<a class="item-dropdown js-action-edit-component btnUploadPersonalizacionCMS"
													   data-action="@((short)ManageViewsViewModel.Action.Upload)"												
													   data-url="@(ViewBag.UrlActionCMS)"												   
													   data-componentecms="ComponentePersonalizable"
													   data-personalizacion="@Model.CustomizationID"
													   data-nombre="@Model.Name"
													   data-toggle="modal" 
													   data-target="#@(idModalEditarVistaPersonalizacion)">
														<span class="material-icons">edit</span>
														<span class="texto">@Html.GetText("COMMON","EDITAR")</span>
													</a>
												</li>
                                            }										

											@* Eliminación*@
											@if (Model.CustomizationID != Guid.Empty)
											{
												@* Permitir borrar la personalización del original*@
												if (Model.Generic)
												{
													@* Eliminar personalización del Original Controlar CI-CD *@
													@if (Html.GetComunidad().IntContActivadaSinRamaEnUso || !Html.GetComunidad().UsuarioDadoAltaIntCont || Html.GetComunidad().EntornoBloqueado)
													{
														@* Deshabilitado *@
														<li>
															<a class="item-dropdown js-action-edit-component btnNoDeletePersonalizacionCMS disabled">												
																<span class="material-icons">delete</span>
																<span class="texto">@Html.GetText("DEVTOOLS","ELIMINARPERSONALIZACION")</span>
															</a>
														</li>
													}
													else
													{
														@* No Deshabilitado *@
														<li>
															<a class="item-dropdown js-action-edit-component btnDeletePersonalizacionCMS"
															data-toggle="modal" 
															data-action="@((short)ManageViewsViewModel.Action.Delete)"	
															data-componentecms="ComponentePersonalizable"
															data-url="@(ViewBag.UrlActionCMS)"																										   
															data-personalizacion="@Model.CustomizationID"															
															data-nombre="@nombreFormateadoPersonalizacion"
															data-target="#modal-delete-view">
												
																<span class="material-icons">delete</span>
																<span class="texto">@Html.GetText("DEVTOOLS","ELIMINARPERSONALIZACION")</span>
															</a>
														</li>
													}

												}
												else
												{
													@* Borrar vista personalizada subida Controlar CI-CD *@
													@if (Html.GetComunidad().IntContActivadaSinRamaEnUso || !Html.GetComunidad().UsuarioDadoAltaIntCont || Html.GetComunidad().EntornoBloqueado)
													{
														@* Deshabilitado *@
														<li>
															<a class="item-dropdown js-action-edit-component btnDeletePersonalizacionCMS disabled">												
																<span class="material-icons">delete</span>
																<span class="texto">@Html.GetText("COMMON","ELIMINAR")</span>
															</a>
														</li>
													}
													else
													{
														@* No Deshabilitado *@
														<li>
															<a class="item-dropdown js-action-edit-component btnDeletePersonalizacionCMS"
															data-toggle="modal" 
															data-action="@((short)ManageViewsViewModel.Action.Delete)"	
															data-componentecms="ComponentePersonalizable"
															data-url="@(ViewBag.UrlActionCMS)"																										   
															data-personalizacion="@Model.CustomizationID"															
															data-nombre="@nombreFormateadoPersonalizacion"
															data-target="#modal-delete-view">
												
																<span class="material-icons">delete</span>
																<span class="texto">@Html.GetText("COMMON","ELIMINAR")</span>
															</a>
														</li>
													}
												}													
											}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>

	@* Modal para editar la vista personalizada del CMS -> Modal *@
	@Html.PartialView("_modal-views/_newCmsPersonalizacion", nombreFormateadoPersonalizacion)
}
