@model AdministrarMapaViewModel

@*
Descripción
-----------------------------------------------
Vista para administrar/visualizar las páginas existentes en la comunidad.

Variables
----------------------------------------------------------------
*@

@{
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	// Referencia al AdministrarMapaViewModel para ser usado en la cabecera
	ViewBag.AdministrarMapaViewModel = Model;
}
    @* Migas de Pan *@
    <div class="col col-12 col-breadcrumb">
        <ul>
            <li>
                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
            </li>
            <li>
                <a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/descubrimiento-analisis">@Html.GetText("DEVTOOLS","DESCUBRIMIENTOYANALISIS")</a>
            </li>
            <li>
                @Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARMAPA")
            </li>
        </ul>
    </div>

    @* Contenido Central *@    
    <div class="formulario-edicion background-blanco">        		
		<h2>@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARMAPA")</h2>			
        
        @* Latitud *@
        <div class="form-group mb-3">
		    <label class="control-label d-block">@Html.GetText("DEVTOOLS","INTRODUCELAPROPIEDADDELAONTOLOGIACORRESPONDIENTEALALATITUD")</label>
		    <input placeholder="@Html.GetText("DEVTOOLS","INTRODUCELAPROPIEDADDELAONTOLOGIACORRESPONDIENTEALALATITUD")" 
                   type="text" value="@Model.Latidud" 
                   id="pPropiedadLatitud" class="form-control not-outline"/>
            <small class="form-text text-muted"><b>Ejemplo:</b> http://www.w3.org/2003/01/geo/wgs84_pos#location&#64;&#64;&#64;http://www.w3.org/2003/01/geo/wgs84_pos#lat</small>
        </div>

        @* Longitud *@
        <div class="form-group mb-3">
		    <label class="control-label d-block">@Html.GetText("DEVTOOLS","INTRODUCELAPROPIEDADDELAONTOLOGIACORRESPONDIENTEALALONGITUD")</label>
		    <input placeholder="@Html.GetText("DEVTOOLS","PROPIEDADDELAONTOLOGIACORRESPONDIENTEALALONGITUD")" 
                   type="text" value="@Model.Longitud" 
                   id="pPropiedadLongitud" class="form-control not-outline"/>
            <small class="form-text text-muted"><b>Ejemplo:</b> http://www.w3.org/2003/01/geo/wgs84_pos#location&#64;&#64;&#64;http://www.w3.org/2003/01/geo/wgs84_pos#long</small>
            
        </div>

        @* Ruta *@
        <div class="form-group mb-3">
		    <label class="control-label d-block">@Html.GetText("DEVTOOLS","INTRODUCELAPROPIEDADDELAONTOLOGIACORRESPONDIENTEALARUTA")</label>
		    <input placeholder="@Html.GetText("DEVTOOLS","PROPIEDADDELAONTOLOGIACORRESPONDIENTEALARUTA")" 
                   type="text" value="@Model.Ruta" 
                   id="pPropiedadRuta" class="form-control not-outline"/>            
        </div>

        @* Color ruta *@
        <div class="form-group mb-3">
		    <label class="control-label d-block">@Html.GetText("DEVTOOLS","INTRODUCELAPROPIEDADDELAONTOLOGIACORRESPONDIENTEALCOLORDELAR")</label>
		    <input placeholder="@Html.GetText("DEVTOOLS","PROPIEDADDELAONTOLOGIACORRESPONDIENTEALCOLORDELARUTA")" 
                   type="text" value="@Model.ColorRuta" 
                   id="pPropiedadColorRuta" class="form-control not-outline"/>
        </div>
				
		@* Sección botón de guardado y cierre del modal *@
		<div class="panelBotonera mt-5">
			<a id="btnGuardarMapa" class="btn btn-primary uppercase">@Html.GetText("COMMON","GUARDAR")</a>
		</div>
							
    </div>

@* Carga de operativa *@
@section operativaScript{
    <script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/descubrimiento_analisis.js?v=@Html.GetVersion()"></script>
    <script type="text/javascript">

        (function ($) {
            // Operativa funcionamiento
            operativaGestionMapa.init();
        })();
    </script>
}