@model List<TabModel.ExportacionSearchTabModel>

@*
Descripción
-----------------------------------------------
Vista para poder añadir Exportaciones a la búsqueda de recursos de una determinada página.

Variables
----------------------------------------------------------------
*@

@{
	List<TabModel.ExportacionSearchTabModel> modelo = Model ?? new List<TabModel.ExportacionSearchTabModel>();
	bool comparando = ViewBag.ComparandoPestanya ?? false;
	bool diff = ViewBag.ExportDiff ?? false;
}

@*
----------------------------------------------------------------
-------------------- Vista para Exportar búsqueda dentro de una página --------------------
*@

@* Personalizar las opciones de exportar búsqueda *@
@if (modelo.Count == 0 && !comparando && ViewBag.ModificarPaginaPermitido)
{
    <p><a class="linkEditarExportaciones" href="javascript: void(0);">@Html.GetText("ADMINISTRACIONPAGINAS","CREAREXPORTACIONES")</a></p>
}

@* Panel para los opciones de exportación de búsqueda de orden *@
<div class="form-group mb-4 editarExportaciones @(modelo.Count == 0 && !comparando ? "d-none" : "") @(comparando && diff ? "error" : "") ">

	<div class="exportarBusqueda-header d-flex justify-content-between align-items-center">
    <label class="control-label d-block font-weight-bold" style="font-size: 14px;">@Html.GetText("DEVTOOLS","EXPORTACIONDELABUSQUEDA")</label>
		@* Botón para añadir nuevos Filtros de Exportar una búsqueda *@
		@if (!comparando && ViewBag.ModificarPaginaPermitido)
		{
			<a href="javascript: void(0);" class="linkAddExportation btn btn-outline-primary new" style="display: flex; text-decoration: none;">
				<span class="material-icons">add</span>
				<span class="texto">@Html.GetText("ADMINISTRACIONPAGINAS", "AÑADIREXPORTACION")</span>
			</a>
		}
	</div>

	@* Listado del tipo de exportación *@
	<ul class="id-added-exportation-list component-list no-list-style">
        @foreach (TabModel.ExportacionSearchTabModel exportacion in modelo)
        {
            @Html.PartialView("_FichaExportacion", exportacion);
        }
	</ul>

</div>
