@model TabModel.ExportacionSearchTabModel 

@*
Descripción
-----------------------------------------------
Vista que contiene la visualización de un tipo de exportación. Estas exportaciones se crean en la edición de la página al pulsar sobre "Añadir Exportación"
desde la sección "Exportación de búsqueda".

Variables
----------------------------------------------------------------
*@

@{
TabModel.ExportacionSearchTabModel exportacion = Model;
Guid exportationId = @Guid.NewGuid();
string collapseId = "panel_collapse_" + exportationId.ToString().Substring(0,5);
}

@*
----------------------------------------------------------------
-------------------- Vista detalle de la exportación de una página --------------------
*@


@* Obtener grupos de la exportación a pintar *@
@{
	string listaIDsGrupos = "";
	string htmlNombresGrupos = "";

	foreach (Guid grupoID in exportacion.GruposPermiso.Keys)
	{
		@*
		listaIDsGrupos += "g_" + grupoID.ToString() + ", ";
		htmlNombresGrupos += "<li>" + exportacion.GruposPermiso[grupoID] + "<a aux=\"" + grupoID.ToString() + "\" class=\"remove\">eliminar</a></li>";
		*@
		listaIDsGrupos += "g_" + grupoID.ToString() + ",";
		htmlNombresGrupos += "<div class='tag' id='g_"+ grupoID.ToString() +"' title='"+ exportacion.GruposPermiso[grupoID] +"'>";
			htmlNombresGrupos += "<div class='tag-wrap'>";
				htmlNombresGrupos += "<span class='tag-text'>"+ exportacion.GruposPermiso[grupoID] +"</span>";
				htmlNombresGrupos += "<span class='tag-remove material-icons remove'>close</span>";
			htmlNombresGrupos += "</div>";												
		htmlNombresGrupos += "</div>"; 

	}                    
}


<li class="component-wrap exportation-row" id="@exportacion.Key" data-exportationkey="@exportacion.Key" data-collapseid="@collapseId">
	<div class="component">
		<div class="component-header-wrap">
			<div class="component-header">
				@* Icono para arrastrar la exportación *@
				<div class="component-no-sortable">
					<span class="material-icons-outlined sortable-icon">upgrade</span>
				</div>
				<div class="component-header-content">
					<div class="component-header-left">						
						@* Nombre de la exportación *@
						<div class="component-name-wrap">																												
							<span class="component-exportationName">@exportacion.Nombre</span>
						</div>					
					</div>
					@*Sección de acciones de la exportación *@
					<div class="component-header-right">
						<div class="component-actions-wrap">
							<ul class="no-list-style component-actions">
								<li>
									@* Acción de editar la exportación *@
									<a class="action-edit round-icon-button js-action-edit-component btnEditExportation"
									   data-toggle="collapse" 
									   data-target="#@collapseId"									   
									   role="button" 
									   aria-expanded="false" 
									   aria-controls="@collapseId">									   
										<span class="material-icons">edit</span>
									</a>
								</li>
								<li>
									@* Acción de borrar el filtro *@
									<a class="action-delete round-icon-button js-action-delete btnDeleteExportation"
										href="javascript: void(0);">
										<span class="material-icons">delete</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@* Información detallada del filtro - Collapse *@
	<div class="collapse exportation-info" id="@collapseId">
		@* Indicación de que el filtro se ha eliminado *@
		<input type="hidden" name="TabEliminada" value="false" />
		<div class="card card-body">
			
			@* Título/Nombre de la exportación *@
			<div class="form-group mb-2">
				<label class="control-label d-block">@Html.GetText("COMADMINPESTANYAS", "NOMBREEXPORTACION")</label>
				                        
				<input
					type="text"
					name="Nombre"
					placeholder="@Html.GetText("COMADMINPESTANYAS", "NOMBREEXPORTACION")"
					class="form-control inputNombreExportacion"
					value="@exportacion.Nombre">
				<small class="form-text text-muted mb-2">@Html.GetText("DEVTOOLS","NOMBREIDENTIFICATIVODELAEXPORTACION")</small>
			</div>

			@* Panel de grupos con permisos a la exportación *@										
			<div class="form-group mb-2 edit-privacy-panel-privacidad-grupos">																	
				<label class="control-label d-block">
					@Html.GetText("COMADMINPESTANYAS", "GRUPOSPERMISO")
				</label>
				@* Contenedor del input + tags *@
				<div class="autocompletar-tags form-group">
					<div class="input-wrap form-sticky-button autocompletar">
						@* Input de Tags *@
						<input type="text"
							   name="TabPrivacidadGrupos"
							   placeholder="@Html.GetText("DEVTOOLS","BUSCARUNGRUPOYPULSAAÑADIR")"
							   id="privacidadGrupos_@exportacion.Key"
							   class="form-control txtAutocomplete"														
							   autocomplete="off" />
								

						@* Botón de Añadir Privacidad Perfiles *@
						<a id="btnAddPrivacidadGrupos_@(exportacion.Key)" class="btn btn-grey uppercase btnAddPrivacidadGrupos">@Html.GetText("ADMINISTRACIONBASICA","AÑADIR")</a>

						@* Campo oculto _hack *@																										
						<input type="hidden" id="privacidadGrupos_@(exportacion.Key)_Hack" class="valores privacidadGrupos" name="TabValoresPrivacidadGrupos" value="@listaIDsGrupos"/>
					
					</div>
					@* Tags/Perfiles añadidas por el usuario o por auto *@
					<span id="tagsContainer_@exportacion.Key" class="contenedor tag-list mb-4">
						@Html.Raw(htmlNombresGrupos)
					</span>
				</div>				
			</div>		
			
			@* Panel propiedades de la exportación *@
			<div class="form-group mb-4 edit-exportation-properties">		
				<div class="propertyExportation-header d-flex justify-content-between align-items-center">
				<label class="control-label d-block font-weight-bold" style="font-size:14px;">@Html.GetText("COMADMINPESTANYAS", "PROPIEDADES")</label>
					@* Botón para añadir nuevas propiedades a la exportación *@
					<a href="javascript: void(0);" class="linkAddPropertyExportation btn btn-outline-primary new" style="display: flex; text-decoration: none;">
						<span class="material-icons">add</span>
						<span class="texto">@Html.GetText("COMADMINPESTANYAS", "ADDPROPIEDAD")</span>
					</a>
				</div>

				@* Listado de los filtros de Orden *@
				<ul class="id-added-exportation-property-list component-list no-list-style">
					@foreach(TabModel.ExportacionSearchTabModel.PropiedadesExportacionSearchTabModel propiedadExport in exportacion.ListaPropiedades)
					{
						@Html.PartialView("_FichaExportacionPropiedad", propiedadExport);
					}
				</ul>
			</div>
		</div>
	</div>	
</li>