@using Es.Riam.Gnoss.Web.MVC.Models.Flujos
@model CMSAdminHistorialTransicionesViewModel
@{
    CMSAdminHistorialTransicionesViewModel modelo = Model;
    List<HistorialTransicionModel> listaHistorial = modelo.ListaTransiciones;
    CommunityModel Comunidad = Html.GetComunidad();
}

<div class="modal-header">
    <p class="modal-title">
        <span class="material-icons">history</span>@modelo.NombreComponente - @Html.GetText("FLUJOS", "VERHISTORIAL")
    </p>
    <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
</div>
<div class="modal-body">
    <div class="formulario-edicion">
        <div class="header-resource">
            <div class="title-wrap">
                <p class="title">@modelo.NombreComponente</p>
            </div>
            @if (modelo.Fecha.HasValue)
            {
                <div class="upper-wrap">
                    <p class="fecha">@modelo.Fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</p>
                </div>
            }            
        </div>

        @* Tabla con las versiones de los documentos  *@
        <table class="display table table-sm tabla-versiones" id="panHistorial_table">
            <thead>
                <tr>
                    <th scope="col">@Html.GetText("FLUJOS", "CAMBIO")</th>
                    <th scope="col">@Html.GetText("HISTORIALVERSIONES", "FECHA")</th>
                    <th scope="col">@Html.GetText("FLUJOS", "REVISOR")</th>
                    <th scope="col">@Html.GetText("FLUJOS", "COMENTARIOREVISOR")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HistorialTransicionModel historial in listaHistorial.OrderByDescending(x => x.Fecha))
                {
                    <tr>
                        @* ACCION *@
                        <td>@historial.NombreTransicion</td>
                        @* FECHA *@
                        <td>@historial.Fecha.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        @* REVISOR *@
                        <td>@historial.Revisor</td>
                        @* COMENTARIO *@
                        <td>@historial.Comentario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>