@*
Descripción
-----------------------------------------------
Vista modal para añadir un idioma.

Variables
----------------------------------------------------------------
*@

<div
	id="modal-add-language"
	class="modal modal-top fade"           
	role="dialog"	
	aria-modal="true">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<p class="modal-title">
					@* Título del Modal *@
					<span class="material-icons">language</span>@Html.GetText("DEVTOOLS", "AÑADIRIDIOMAPERSONALIZADOECOSISTEMA")
				</p>
				@* Cierre del Modal *@
				<span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
			</div>

			<div class="modal-body">				
				<div class="form-group">
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS", "CLAVEIDIOMAPERSONALIZADOECOSISTEMA")</label>
						<input id="inputClaveIdioma" type="text" class="form-control not-outline">
						<small class="form-text text-muted">@Html.GetText("DEVTOOLS", "CLAVEAYUDAIDIOMAPERSONALIZADOECOSISTEMA")</small>
					</div>
					<div class="form-group mb-3">
						<label class="control-label d-block">@Html.GetText("DEVTOOLS", "NOMBREIDIOMAPERSONALIZADOECOSISTEMA")</label>
						<input id="inputValorIdioma" type="text" class="form-control not-outline">
						<small class="form-text text-muted">@Html.GetText("DEVTOOLS", "NOMBREAYUDAIDIOMAPERSONALIZADOECOSISTEMA")</small>
					</div>
				</div>
				<button id="btnAddCustomLanguage" class="btn btn-primary d-none">@Html.GetText("DEVTOOLS","AÑADIR")</button>			
				<button id="btnEditCustomLanguage" class="btn btn-primary d-none">@Html.GetText("DEVTOOLS", "EDITAR")</button>
			</div>
		</div>
	</div>
</div>