@model AdministrarDatosExtraViewModel

@{
	CommunityModel Comunidad = Html.GetComunidad();
	HeaderModel cabecera = Html.GetCabecera();
	Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
	// Carga de idiomas de la plataforma
	string idiomas = "";
	// Contador del nº de pestañas listadas
	int contNumPestañasVisibles = 0;
	// Nº de pestañas de idiomas a visualizar en la sección Tab
	int numMaxPestañasIdiomasVisibles = 2;
	bool isInEcosistemaPlatform = !string.IsNullOrEmpty(ViewBag.isInEcosistemaPlatform) ? (bool.Parse(ViewBag.isInEcosistemaPlatform)) : false;
}

@{
	@* Carga de idiomas *@
	foreach (string idiomaKey in Model.ListaIdiomas.Keys)
	{
		idiomas += idiomaKey + "|" + Model.ListaIdiomas[idiomaKey] + "&&&";
	}
}

@* Migas de Pan *@
<div class="col col-12 col-breadcrumb">
	<ul>
		@if (!isInEcosistemaPlatform)
		{
			<li>
				<a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
			</li>
			<li>
				<a href="@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADSECTION")/configuracion">@Html.GetText("DEVTOOLS","CONFIGURACION")</a>
			</li>
		}
		else
		{
			<li>
				<a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARECOSISTEMAHOME")">@Html.GetText("ADMINISTRACIONPAGINAS","HOME")</a>
			</li>
		}
		<li>
			@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARDATOSEXTRA")
		</li>
	</ul>
</div>

<input type="hidden" id="idiomasComunidad" value="@idiomas" />
<input type="hidden" value="@Model.IdiomaDefecto" id="idiomaDefecto"/>

@* Contenido Central *@
<div class="formulario-edicion background-blanco">
	@* Panel de idiomas *@
	<ul class="nav nav-tabs @( (cabecera.Languajes.Count > 1) ? "" : "d-none")" id="tabIdiomasPaginas" role="tablist">
		@* Títulos de Tabs con los diferentes idiomas a visualizar. *@
		@foreach (KeyValuePair<string, string> idioma in cabecera.Languajes)
		{
			if (contNumPestañasVisibles < numMaxPestañasIdiomasVisibles)
			{
				<li class="nav-item">
					<a class="tabIdiomaItem nav-link @( Model.IdiomaDefecto == idioma.Key ? "active" : null)"
			   id="@("ver_paginas_" + idioma.Key)" data-toggle="tab" href="#@("litVer" + idioma.Key)"
			   data-language="@idioma.Key"
			   role="tab" aria-controls="@("litVer" + idioma.Key)"
			   aria-selected="true">@Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", idioma.Value)</a>
				</li>
				contNumPestañasVisibles += 1;
			}
		}
		@* Controlar si es necesario mostrar el resto de categorías en un DropDown *@
		@if (contNumPestañasVisibles < cabecera.Languajes.Count)
		{
			@* Dropdown para resto de categorías *@
			<li class="nav-item">
				<div class="dropdown">
					@* Desplegable del dropdown *@
					<a class="nav-link dropdown-toggle"
				   data-toggle="dropdown"
				   href="#"
				   role="button"
				   aria-haspopup="true"
				   aria-expanded="false">@Html.GetText("DEVTOOLS","OTROSIDIOMAS")</a>
					@* Sección para mostrar items del dropdown*@
					<div class="dropdown-menu dropdown-menu-left basic-dropdown dropdown-idiomas">
						<ul class="no-list-style">
							@* Pintado del resto de pestañas en Dropdown *@
							@for (int i = contNumPestañasVisibles; i < cabecera.Languajes.Count; i++)
							{
								var item = cabecera.Languajes.ElementAt(i);
								var itemKey = item.Key;
								var itemValue = item.Value;

								@* Cada item del dropdown *@
								<li>
									<a id="@("ver_paginas_" + itemKey)"
							   class="item-dropdown tabIdiomaItem @( Model.IdiomaDefecto == itemKey ? "active" : null)"
							   data-toggle="tab"
							   href="#@("litVer" + itemKey)"
							   data-language="@itemKey">
										@Html.GetText("COMADMINCATEGORIAS", "VEREN_IDIOMA", itemValue)
									</a>
								</li>
							}
						</ul>
					</div>
				</div>
			</li>
		}
	</ul>
	@* Contenedor global de Datos extra *@
	<div class="tab-content">
		@* Contenido de las diferentes datos extra *@
		<div id="panelListadoDatosExtra"
			 class="tab-pane fade show active"
			 role="tabpanel"
			 aria-labelledby="panelListadoDatosExtra">

			<div class="row">
				@* Título de la sección de datos extra *@
				<div class="col col-12 header-listado">
					<div class="h1-container">
						<h1>
							@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARDATOSEXTRA")
							<span id="numTraducciones" class="numResultados"></span>
						</h1>
					</div>
					@* Botón para crear item *@
					<div class="acciones d-flex align-items-center">
						<a id="btnNuevoDatoExtra" href="javascript: void(0);" class="btn btn-outline-primary ml-2 mr-0" data-toggle="modal"
						   data-target="#modal-new-extra-data">@Html.GetText("DEVTOOLS","NUEVODATOEXTRA")</a>
					</div>
				</div>
				@* Contenido o tabla con los datos extra de la comunidad *@
				<div class="col col-12 col-contenido">
					<div class="wrapCol">
						@* Cabecera del listado de datos extra *@
						<ul id="id-header-translates-list" class="header-component-list component-list no-list-style">
							<li class="component-wrap">
								@* Cabecera de páginas *@
								<div class="component ">
									<div class="component-header-wrap">
										<div class="component-header">
											@* Sección títulos de listado de páginas *@
											<div class="component-header-content">
												<div class="component-header-left">
													<div class="component-name-wrap">
														<span class="component-name">Nombre</span>
													</div>
													<div class="component-shortname-wrap">
														<span class="component-shortname">Nombre corto</span>
													</div>
													<div class="component-tipo-wrap">
														<span class="component-tipo">Tipo</span>
													</div>
													<div class="component-orden-wrap">
														<span class="component-orden">Orden</span>
													</div>
													<div class="component-predicado-wrap">
														<span class="component-predicado">URI</span>
													</div>
													<div class="component-obligatorio-wrap">
														<span class="component-obligatorio">Obligatorio</span>
													</div>
													<div class="component-visible-wrap">
														<span class="component-visible">Visible en perfil</span>
													</div>
												</div>
												<div class="component-header-right">
													<div class="component-actions-wrap">
														<span>@Html.GetText("ADMINISTRACIONBASICA","ACCIONES")</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul id="id-added-pages-list" 
								class="js-community-pages-list component-list no-list-style">
							@if(isInEcosistemaPlatform)
							{
								@foreach (DatoExtraModel dato in Model.ListaDatosExtraProyecto)
								{								
									@Html.PartialView("../Administracion/AdministrarDatosExtra/_PintarDato", dato)																						
								}
								@foreach (DatoExtraVirtuosoModel dato in Model.ListaDatosExtraVirtuoso)
								{
									@Html.PartialView("../Administracion/AdministrarDatosExtra/_PintarDatoVirtuoso", dato)
								}
							}
							else
							{
								@foreach (DatoExtraModel dato in Model.ListaDatosExtraProyecto)
								{
									@Html.PartialView("../Administracion/AdministrarDatosExtra/_PintarDato", dato)
								}
								@foreach (DatoExtraVirtuosoModel dato in Model.ListaDatosExtraVirtuoso)
								{
									@Html.PartialView("../Administracion/AdministrarDatosExtra/_PintarDatoVirtuoso", dato)
								}
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@Html.PartialView("_modal-views/_new-extra-data")
@Html.PartialView("_modal-views/_delete-extra-data")

@* Carga de operativa *@
@section operativaScript{
	<script type="text/javascript" src="@Html.GetBaseUrlStatic()/responsive/theme/logic/configuracion.js?v=@Html.GetVersion()"></script>
	<script type="text/javascript">

		(function ($) {
		@* Operativa funcionamiento de Gestión de Datos extra *@
				operativaGestionDatosExtra.init();
		})();
	</script>
}




